<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<!--THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-i63, 5724-H88(C) COPYRIGHT International Business Machines Corp., 1997, 2004
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.-->

<plugin id="com.ibm.ws.console.appserverenvironment"
        name="appserverenvironment"
        version="1.0.0"
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="appserverenvironment">

<requires>
    <import plugin="com.ibm.ws.console.core"/>
    <import plugin="com.ibm.ws.console.environment"/>
</requires>

<extension point="com.ibm.ws.console.core.navigatorTask">
    <tasks>
        <task id="virtualhosts" icon="/com.ibm.ws.console.environment/images/onepix.gif" label="nav.view.virtual.hosts" view="/navigatorCmd.do?forwardName=VirtualHost.content.main" external="false" weight="20">
            <category id="environment"/>
        </task>
        <task id="plugincfg" icon="/com.ibm.ws.console.environment/images/onepix.gif" label="plugincfg.title" view="/navigatorCmd.do?forwardName=plugincfg" external="false" weight="30">
            <category id="environment"/>
        </task>


        <task id="libraries" icon="/com.ibm.ws.console.environment/images/onepix.gif" label="nav.view.libraries" view="/navigatorCmd.do?forwardName=Library.content.main" external="false" weight="40">
            <category id="environment"/>
        </task>
        <task id="nameSpaceBindings" icon="/com.ibm.ws.console.environment/images/onepix.gif" label="nav.view.name.space.bindings" view="/navigatorCmd.do?forwardName=NameSpaceBinding.content.main" external="false" weight="10">
            <category id="naming"/>
        </task>
       
        <task id="SIPApplicationRouterCollection" icon="/com.ibm.ws.console.environment/images/onepix.gif" label="SIPApplicationRouter.displayName.lower" view="/navigatorCmd.do?forwardName=SIPApplicationRouterCollection.content.main" external="false" weight="50">
            <category id="environment"/>
        </task>
		    
    </tasks>
</extension>

</plugin>

