<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <servlet>
         <servlet-name>BLACreateStatusServlet</servlet-name>
         <servlet-class>com.ibm.ws.console.blamanagement.asset.BLACreateStatusServlet</servlet-class>
    </servlet>
    <servlet>
         <servlet-name>BLAManagementStatusServlet</servlet-name>
         <servlet-class>com.ibm.ws.console.blamanagement.bla.BLAManagementStatusServlet</servlet-class>
    </servlet>
    <servlet>
         <servlet-name>CUStatusServlet</servlet-name>
         <servlet-class>com.ibm.ws.console.blamanagement.cu.CUStatusServlet</servlet-class>
    </servlet>

    <servlet-mapping>
         <servlet-name>BLACreateStatusServlet</servlet-name>
         <url-pattern>/blacreatestat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
         <servlet-name>BLAManagementStatusServlet</servlet-name>
         <url-pattern>/BLAManagementStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
         <servlet-name>CUStatusServlet</servlet-name>
         <url-pattern>/CUStatus</url-pattern>
    </servlet-mapping>


    <security-constraint>
         <web-resource-collection>
             <web-resource-name>Protected Area</web-resource-name>
             <url-pattern>/BLAManagementStatus/*</url-pattern>
             <http-method>DELETE</http-method>
             <http-method>GET</http-method>
             <http-method>POST</http-method>
             <http-method>PUT</http-method>
         </web-resource-collection>
         <auth-constraint>
             <role-name>administrator</role-name>
             <role-name>operator</role-name>
             <role-name>configurator</role-name>
             <role-name>monitor</role-name>
             <role-name>nobody</role-name>
         </auth-constraint>
         <user-data-constraint>
             <transport-guarantee>CONFIDENTIAL</transport-guarantee>
         </user-data-constraint>
    </security-constraint>
    <security-constraint>
         <web-resource-collection>
             <web-resource-name>Protected Area</web-resource-name>
             <url-pattern>/BLACreateStatusServlet/*</url-pattern>
             <http-method>DELETE</http-method>
             <http-method>GET</http-method>
             <http-method>POST</http-method>
             <http-method>PUT</http-method>
         </web-resource-collection>
         <auth-constraint>
             <role-name>administrator</role-name>
             <role-name>operator</role-name>
             <role-name>configurator</role-name>
             <role-name>monitor</role-name>
             <role-name>nobody</role-name>
         </auth-constraint>
         <user-data-constraint>
             <transport-guarantee>CONFIDENTIAL</transport-guarantee>
         </user-data-constraint>
    </security-constraint>
    <security-constraint>
         <web-resource-collection>
             <web-resource-name>Protected Area</web-resource-name>
             <url-pattern>/CUStatus/*</url-pattern>
             <http-method>DELETE</http-method>
             <http-method>GET</http-method>
             <http-method>POST</http-method>
             <http-method>PUT</http-method>
         </web-resource-collection>
         <auth-constraint>
             <role-name>administrator</role-name>
             <role-name>operator</role-name>
             <role-name>configurator</role-name>
             <role-name>monitor</role-name>
             <role-name>nobody</role-name>
         </auth-constraint>
         <user-data-constraint>
             <transport-guarantee>CONFIDENTIAL</transport-guarantee>
         </user-data-constraint>
    </security-constraint>

</web-app>
