<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ibm.datatools.dbdefinition.informix"
   name="%pluginName"
   version="2.1.200.v20121008_1514"
   provider-name="%providerName">
   <requires>
      <import plugin="org.eclipse.datatools.connectivity.sqm.core" version="1.0.4"/>
   </requires>
   
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            version="11.0"
            product="Informix"
            productDisplayString="%11ProductString"
            versionDisplayString="%11VersionString"
            file="runtime/vendors/Informix_11.0/Informix_11.0.xmi">
      </definition>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            version="11.5"
            product="Informix"
            productDisplayString="%115ProductString"
            versionDisplayString="%115VersionString"
            file="runtime/vendors/Informix_11.5/Informix_11.5.xmi">
      </definition>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            version="11.7"
            product="Informix"
            productDisplayString="%117ProductString"
            versionDisplayString="%117VersionString"
            file="runtime/vendors/Informix_11.7/Informix_11.7.xmi">
      </definition>
   </extension>
   
   <!--extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="Informix_11.0.xmi"
            target="runtime/vendors/Informix_11.0/Informix_11.0.xmi">
      </mapping>
   </extension-->

</plugin>
