
.tundra .collaborationDialogWidget {
}
.tundra .collaborationDialogWidgetTitleBar {
	height: 25px;
	white-space: nowrap;
	background: #eaeaea;
}
.tundra .collaborationDialogWidgetLocationBar {
	height: 25px;
	white-space: nowrap;
	background: #eaeaea;	
}
.tundra .collaborationDialogWidgetTextBox {
	width:99%;
	font-size: 1.0em;
	height: 18px;
	padding-top: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor:text !important;
	
	background-color: #FFFFFF;
	background-image: url("../../dijit/themes/tundra/images/validationInputBg.png");
}
.tundra .collaborationDialogWidgetTextBox .dijitInputInner {
	-moz-user-input:enabled !important;
}
.tundra .collaborationDialogBorderContainer {
	
}
.tundra .collaborationDialogBorderContainerTop {
	position:static !important;
}
.tundra .collaborationDialogBorderContainerCenter {
	position:static !important;
	
}
.tundra .collaborationDialogBorderContainerBottom {
	position:static !important;
}
.tundra .collaborationDialogPaneContent {
	
}
.tundra .collaborationDialogWidgetIFrame{
	background: white;
	display: block;
	border: 1px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.tundra .collaborationDialogWidgetFooterBar {
	height: 25px;
	cursor: default;
	background: #eaeaea;
}
.tundra .collaborationDialogWidgetButton {
	font-size:0.5em;
	font-weight: bold;
}
.tundra .collaborationDialogWidgetMessages {
	background: #FFFFE0;
	font-size:0.8em;
	text-align:center;
}
.tundra .collaborationDialogWidgetCloseBar {
	height: 8px;
	background: #eaeaea;
	white-space: nowrap;
}
.tundra .collaborationDialogWidgetTitle {
}
.tundra .collaborationDialogWidgetStatusBar{
	font-size:8px;
}
.tundra .collaborationDialogWidgetIcon {
	background-image: url('../../../images/collaborationEnabled.gif'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}
.tundra .collaborationDialogCloseMessageIcon {
	cursor: pointer;
}
.tundra .collaborationDialogWidgetButtonChecked .dijitButtonNode{
 	background: #D4D4D4;
  	border-style: inset;
	border-width: 1px;
	border-color: black;
}
.tundra .collaborationDialogWidgetButton .dijitButtonNode{
	margin: 0px 2px ;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.tundra .dijitDisabled .collaborationDialogWidgetIcon {
	background-image: url('../../../images/collaborationDisabled.gif'); 
}
.tundra .collaborationDialogWidgetBackIcon { background-position: 0px; }
.tundra .collaborationDialogWidgetForwardIcon { background-position: -20px; }
.tundra .collaborationDialogWidgetRefreshIcon { background-position: -40px; }
.tundra .collaborationDialogWidgetStopIcon { background-position: -60px; }
.tundra .collaborationDialogWidgetLoadIcon { background-position: -80px; }
.tundra .collaborationDialogWidgetControlNavigationIcon { background-position: -100px; }
.tundra .collaborationDialogWidgetPrintIcon { background-position: -120px; }
.tundra .collaborationDialogWidgetCopyLinkIcon { background-position: -140px; }
.tundra .collaborationDialogWidgetCobrowseWebIcon { background-position: -160px; }
.tundra .collaborationDialogWidgetCoauthorFormIcon { background-position: -180px; }
.tundra .collaborationDialogWidgetAcceptIcon { background-position: -200px; }
.tundra .collaborationDialogWidgetRejectIcon { background-position: -220px; }
.tundra .collaborationDialogWidgetEditingIcon { background-position: -240px; }
.tundra .collaborationDialogWidgetPointIcon { background-position: -260px; }
.tundra .collaborationDialogWidgetHighlightIcon { background-position: -280px; }
.tundra .collaborationDialogWidgetSendPageIcon { background-position: -300px; }
.tundra .collaborationDialogWidgetSendPageAreaIcon { background-position: -320px; }
.tundra .collaborationDialogWidgetSendLinkIcon { background-position: -340px; }
.tundra .collaborationDialogWidgetSendCopiedDataIcon { background-position: -360px; }
.tundra .collaborationDialogWidgetCopyIcon { background-position: -380px; }
.tundra .collaborationDialogWidgetPasteIcon { background-position: -400px; }
.tundra .collaborationDialogWidgetSendIcon { background-position: -420px; }
.tundra .collaborationDialogWidgetCobrowseIcon { background-position: -440px; }
.tundra .collaborationDialogWidgetEndSessionIcon { background-position: -460px; }
.tundra .collaborationDialogWidgetShowWindowIcon { background-position: -480px; }
.tundra .collaborationDialogWidgetWindowIsOpenIcon { background-position: -500px; }
.tundra .collaborationDialogWidgetConnectedIcon { background-position: -520px; }
.tundra .collaborationDialogWidgetWaitingForConnectIcon { background-position: -540px; }
.tundra .collaborationDialogWidgetCobrowseControllingIcon { background-position: -560px; }
.tundra .collaborationDialogWidgetFollowMeIcon { background-position: -580px; }
.tundra .collaborationDialogWidgetInformationIcon { background-position: -600px; }
.tundra .collaborationDialogWidgetWarningIcon { background-position: -620px; }
.tundra .collaborationDialogWidgetErrorIcon { background-position: -640px; }
.tundra .collaborationDialogWidgetQuestionIcon { background-position: -660px; }
.tundra .collaborationDialogWidgetWindowIsClosedIcon { background-position: -680px; }
.tundra .collaborationDialogWidgetCloseIcon { background-position: -700px; }
.tundra .collaborationDialogWidgetShowAddressFieldIcon { background-position: -720px; }
.tundra .collaborationDialogWidgetHideAddressFieldIcon { background-position: -740px; }
.collaborationDialogWidgetReceivedHighlight {
	background-color: yellow;
	border: 1px solid black;
	padding: 2px 2px 2px 2px;
	margin: 2px;
}
.collaborationDialogWidgetSentHighlight {
	background-color: orange;
	border: 1px solid black;
	padding: 2px 2px 2px 2px;
	margin: 2px;
}
