<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">
<!--
 * IBM Confidential OCO Source Material
 * 5724-J08, 5724-I63, 5724-H88, 5724-H89, 5655-N02, 5733-W70 (C) COPYRIGHT International Business Machines Corp. 2010
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with the
 * U.S. Copyright Office.
-->

<plugin id="com.ibm.ws.console.cimjm"
           name="cimjm"
           version="1.0.0"
           vendor-name="IBM Corp. - WebSphere Server Group"
           embedded="true"
           context-root="cimjm">


    <requires>
        <import plugin="com.ibm.ws.console.core" />
    </requires>


<!-- ============================================================================================ -->
<!-- Navigation Extensions                                                                        -->
<!-- ============================================================================================ -->
<extension point="com.ibm.ws.console.core.navigatorTask">
  <tasks>
    <!-- <categoryDefinition id="jobManagerCategoryId" parent="root" icon="/adminconsole/images/onepix.gif" label="nav.jmgr.jobs" weight="10"/> -->

    <task id="jmgrCIMJMInstallKits" icon="/adminconsole/images/onepix.gif" label="CIMJM.install.kits" view="/navigatorCmd.do?forwardName=CIMJM.install.kits" external="false" weight="45">
      <category id="jobManagerCategoryId"/>
    </task>

  </tasks>
</extension>

<!-- ============================================================================================ -->
<!-- CIMJM Install Kits                                                                             -->
<!-- ============================================================================================ -->
<extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="CIMJM.InstallKits.collectionItem1" contextType="CIMJM_InstallKits">
        <item
              attributeName="name"
              sortable="sort"
              itemURI=""
              label="CIMJM.install.kits.name">
        </item>
        <item
              attributeName="size"
              sortable="sort"
              itemURI=""
              label="CIMJM.install.kits.size">
        </item>
        <item
              attributeName="version"
              sortable="sort"
              itemURI=""
              label="CIMJM.install.kits.version">
        </item>
        <item
              attributeName="os"
              sortable="sort"
              itemURI=""
              label="CIMJM.install.kits.os">
        </item>
        <item
              attributeName="presentation"
              sortable="sort"
              itemURI=""
              label="CIMJM.install.kits.presentation">
        </item>
        <item
              attributeName="platform"
              sortable="sort"
              itemURI=""
              label="CIMJM.install.kits.platform">
        </item>
    </collectionItem>
</extension>
<extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="CIMJM.InstallKits.actionSet1" contextType="CIMJM_InstallKits">
        <action
              enablesFor="Collection"
              role="administrator,configurator"
              label="button.add.users"
              scope="Cell"
              actionURI="installKitsCollection.do">
        </action>
        <action
              enablesFor="Collection"
              role="administrator,configurator"
              label="button.delete"
              scope="Cell"
              actionURI="installKitsCollection.do">
        </action>
    </actionSet>
</extension>

</plugin>

