<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

 
<plugin id="com.ibm.ws.console.rules"
           name="rules"
           version="7.0"
           vendor-name="IBM Corp. - WebSphere Server Group"
           embedded="true"
           context-root="rules">

    <requires>
        <import plugin="com.ibm.ws.console.core" />
        <import plugin="com.ibm.ws.console.xdcore" />
    </requires>
    
    <extension point="com.ibm.ws.console.core.help">
        <toc file="toc.xml" primary="true" />
    </extension>

</plugin>

