<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  (C) Copyright IBM Corp. 2010
  IBM Confidential
  OCO Source Materials

  The source code for this program is not published or otherwise
  divested of its trade secrets, irrespective of what has been
  deposited with the U.S. Copyright Office.
-->

<plugin>
   <extension
         point="org.eclipse.help.webapp.contentFilter">
      <filter
            class="com.ibm.iehs.content.filter.script.ScriptFilter"
            priority="8">
      </filter>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/scriptsfiles"
            base-name="/scriptsfiles">
      </resource>
   </extension>
</plugin>
