<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin context-root="taskconfig" embedded="true"
    id="com.ibm.ws.console.taskconfig" name="taskconfig"
    provider-name="IBM Corp. - WebSphere Server Group" version="6.1.0">
    <extension point="org.eclipse.help.toc">
        <toc file="toc.xml" primary="true"/>
    </extension>
</plugin>
