<?xml version="1.0" encoding="UTF-8"?>
<plugin>

     <extension-point id="WebDataPathProvider" name="Web Data Path Provider" schema="schema/webpathprovider.xsd"/>
   <extension-point id="EJBDataPathProvider" name="EJB Data Path Provider" schema="schema/ejbpathprovider.xsd"/>
   <extension-point id="DataResourceLoader" name="Contributed Data Resource Loader" schema="schema/dataresourceloader.xsd"/>
   <extension-point id="VendorEnabler" name="SQLVendor Enabler" schema="schema/VendorEnabler.exsd"/>

   <extension
         id="SQLModelResourceHandler"
         point="org.eclipse.jem.util.ResourceHandlerExtension">
      <ResourceHandler>
         <run
               class="com.ibm.etools.sqlmodel.SQLModelResourceHandler">
         </run>
      </ResourceHandler>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///com/ibm/etools/rdbschema.ecore"
            class="com.ibm.etools.rdbschema.RDBSchemaPackage">
      </package>
      <package
            uri="http:///com/ibm/etools/sqlquery.ecore"
            class="com.ibm.etools.sqlquery.SQLQueryPackage">
      </package>
      <package
            uri="http:///com/ibm/etools/rlogic.ecore"
            class="com.ibm.etools.rlogic.RLogicPackage">
      </package>
      <package
            uri="RDBSchema.xmi"
            class="com.ibm.etools.rdbschema.RDBSchemaPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.wst.common.emf.packageURIMap">
      <map
            uri="http:///com/ibm/etools/rdbschema.ecore"
            prefix="RDBSchema">
      </map>
      <map
            uri="http:///com/ibm/etools/sqlquery.ecore"
            prefix="SQLQuery">
      </map>
      <map
            uri="http:///com/ibm/etools/rlogic.ecore"
            prefix="RLogic">
      </map>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="SQL92_Domain.xmi"
            target="runtime/vendors/SQL92/SQL92_Domain.xmi">
      </mapping>
      <mapping
            source="SQL92_Primitives.xmi"
            target="runtime/vendors/SQL92/SQL92_Primitives.xmi">
      </mapping>
      <mapping
            source="SQL99_Domain.xmi"
            target="runtime/vendors/SQL99/SQL99_Domain.xmi">
      </mapping>
      <mapping
            source="SQL99_Primitives.xmi"
            target="runtime/vendors/SQL99/SQL99_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2FAMILY_Domain.xmi"
            target="runtime/vendors/DB2FAMILY/DB2FAMILY_Domain.xmi">
      </mapping>
      <mapping
            source="DB2FAMILY_Primitives.xmi"
            target="runtime/vendors/DB2FAMILY/DB2FAMILY_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2UDBNT_V61_Domain.xmi"
            target="runtime/vendors/DB2UDBNT_V61/DB2UDBNT_V61_Domain.xmi">
      </mapping>
      <mapping
            source="DB2UDBNT_V61_Primitives.xmi"
            target="runtime/vendors/DB2UDBNT_V61/DB2UDBNT_V61_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2UDBNT_V71_Domain.xmi"
            target="runtime/vendors/DB2UDBNT_V71/DB2UDBNT_V71_Domain.xmi">
      </mapping>
      <mapping
            source="DB2UDBNT_V71_Primitives.xmi"
            target="runtime/vendors/DB2UDBNT_V71/DB2UDBNT_V71_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2UDBNT_V72_Domain.xmi"
            target="runtime/vendors/DB2UDBNT_V72/DB2UDBNT_V72_Domain.xmi">
      </mapping>
      <mapping
            source="DB2UDBNT_V72_Primitives.xmi"
            target="runtime/vendors/DB2UDBNT_V72/DB2UDBNT_V72_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2UDBNT_V8_Domain.xmi"
            target="runtime/vendors/DB2UDBNT_V8/DB2UDBNT_V8_Domain.xmi">
      </mapping>
      <mapping
            source="DB2UDBNT_V8_Primitives.xmi"
            target="runtime/vendors/DB2UDBNT_V8/DB2UDBNT_V8_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2UDBNT_V82_Domain.xmi"
            target="runtime/vendors/DB2UDBNT_V82/DB2UDBNT_V82_Domain.xmi">
      </mapping>
      <mapping
            source="DB2UDBNT_V82_Primitives.xmi"
            target="runtime/vendors/DB2UDBNT_V82/DB2UDBNT_V82_Primitives.xmi">
      </mapping>
      <mapping
            source="DERBY_V100_Domain.xmi"
            target="runtime/vendors/DERBY_V100/DERBY_V100_Domain.xmi">
      </mapping>
      <mapping
            source="DERBY_V100_Primitives.xmi"
            target="runtime/vendors/DERBY_V100/DERBY_V100_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2EXPRESS_V81_Domain.xmi"
            target="runtime/vendors/DB2EXPRESS_V81/DB2EXPRESS_V81_Domain.xmi">
      </mapping>
      <mapping
            source="DB2EXPRESS_V81_Primitives.xmi"
            target="runtime/vendors/DB2EXPRESS_V81/DB2EXPRESS_V81_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2EXPRESS_V82_Domain.xmi"
            target="runtime/vendors/DB2EXPRESS_V82/DB2EXPRESS_V82_Domain.xmi">
      </mapping>
      <mapping
            source="DB2EXPRESS_V82_Primitives.xmi"
            target="runtime/vendors/DB2EXPRESS_V82/DB2EXPRESS_V82_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2UDBOS390_V6_Domain.xmi"
            target="runtime/vendors/DB2UDBOS390_V6/DB2UDBOS390_V6_Domain.xmi">
      </mapping>
      <mapping
            source="DB2UDBOS390_V6_Primitives.xmi"
            target="runtime/vendors/DB2UDBOS390_V6/DB2UDBOS390_V6_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2UDBOS390_V7_Domain.xmi"
            target="runtime/vendors/DB2UDBOS390_V7/DB2UDBOS390_V7_Domain.xmi">
      </mapping>
      <mapping
            source="DB2UDBOS390_V7_Primitives.xmi"
            target="runtime/vendors/DB2UDBOS390_V7/DB2UDBOS390_V7_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2UDBOS390_V8_Domain.xmi"
            target="runtime/vendors/DB2UDBOS390_V8/DB2UDBOS390_V8_Domain.xmi">
      </mapping>
      <mapping
            source="DB2UDBOS390_V8_Primitives.xmi"
            target="runtime/vendors/DB2UDBOS390_V8/DB2UDBOS390_V8_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2UDBAS400_V4_Domain.xmi"
            target="runtime/vendors/DB2UDBAS400_V4/DB2UDBAS400_V4_Domain.xmi">
      </mapping>
      <mapping
            source="DB2UDBAS400_V4_Primitives.xmi"
            target="runtime/vendors/DB2UDBAS400_V4/DB2UDBAS400_V4_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2UDBAS400_V5_Domain.xmi"
            target="runtime/vendors/DB2UDBAS400_V5/DB2UDBAS400_V5_Domain.xmi">
      </mapping>
      <mapping
            source="DB2UDBAS400_V5_Primitives.xmi"
            target="runtime/vendors/DB2UDBAS400_V5/DB2UDBAS400_V5_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2UDBAS400_V52_Domain.xmi"
            target="runtime/vendors/DB2UDBAS400_V52/DB2UDBAS400_V52_Domain.xmi">
      </mapping>
      <mapping
            source="DB2UDBAS400_V52_Primitives.xmi"
            target="runtime/vendors/DB2UDBAS400_V52/DB2UDBAS400_V52_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2UDBAS400_V53_Domain.xmi"
            target="runtime/vendors/DB2UDBAS400_V53/DB2UDBAS400_V53_Domain.xmi">
      </mapping>
      <mapping
            source="DB2UDBAS400_V53_Primitives.xmi"
            target="runtime/vendors/DB2UDBAS400_V53/DB2UDBAS400_V53_Primitives.xmi">
      </mapping>
      <mapping
            source="ORACLE_V8_Domain.xmi"
            target="runtime/vendors/ORACLE_V8/ORACLE_V8_Domain.xmi">
      </mapping>
      <mapping
            source="ORACLE_V8_Primitives.xmi"
            target="runtime/vendors/ORACLE_V8/ORACLE_V8_Primitives.xmi">
      </mapping>
      <mapping
            source="ORACLE_V9_Domain.xmi"
            target="runtime/vendors/ORACLE_V9/ORACLE_V9_Domain.xmi">
      </mapping>
      <mapping
            source="ORACLE_V9_Primitives.xmi"
            target="runtime/vendors/ORACLE_V9/ORACLE_V9_Primitives.xmi">
      </mapping>
      <mapping
            source="ORACLE_V10_Domain.xmi"
            target="runtime/vendors/ORACLE_V10/ORACLE_V10_Domain.xmi">
      </mapping>
      <mapping
            source="ORACLE_V10_Primitives.xmi"
            target="runtime/vendors/ORACLE_V10/ORACLE_V10_Primitives.xmi">
      </mapping>
      <mapping
            source="SYBASE_V1192_Domain.xmi"
            target="runtime/vendors/SYBASE_V1192/SYBASE_V1192_Domain.xmi">
      </mapping>
      <mapping
            source="SYBASE_V1192_Primitives.xmi"
            target="runtime/vendors/SYBASE_V1192/SYBASE_V1192_Primitives.xmi">
      </mapping>
      <mapping
            source="SYBASE_V12_Domain.xmi"
            target="runtime/vendors/SYBASE_V12/SYBASE_V12_Domain.xmi">
      </mapping>
      <mapping
            source="SYBASE_V12_Primitives.xmi"
            target="runtime/vendors/SYBASE_V12/SYBASE_V12_Primitives.xmi">
      </mapping>
      <mapping
            source="SYBASE_V125_Domain.xmi"
            target="runtime/vendors/SYBASE_V125/SYBASE_V125_Domain.xmi">
      </mapping>
      <mapping
            source="SYBASE_V125_Primitives.xmi"
            target="runtime/vendors/SYBASE_V125/SYBASE_V125_Primitives.xmi">
      </mapping>
      <mapping
            source="INFORMIX_V73_Domain.xmi"
            target="runtime/vendors/INFORMIX_V73/INFORMIX_V73_Domain.xmi">
      </mapping>
      <mapping
            source="INFORMIX_V73_Primitives.xmi"
            target="runtime/vendors/INFORMIX_V73/INFORMIX_V73_Primitives.xmi">
      </mapping>
      <mapping
            source="INFORMIX_V92_Domain.xmi"
            target="runtime/vendors/INFORMIX_V92/INFORMIX_V92_Domain.xmi">
      </mapping>
      <mapping
            source="INFORMIX_V92_Primitives.xmi"
            target="runtime/vendors/INFORMIX_V92/INFORMIX_V92_Primitives.xmi">
      </mapping>
      <mapping
            source="INFORMIX_V93_Domain.xmi"
            target="runtime/vendors/INFORMIX_V93/INFORMIX_V93_Domain.xmi">
      </mapping>
      <mapping
            source="INFORMIX_V93_Primitives.xmi"
            target="runtime/vendors/INFORMIX_V93/INFORMIX_V93_Primitives.xmi">
      </mapping>
      <mapping
            source="MSSQLSERVER_V70_Domain.xmi"
            target="runtime/vendors/MSSQLSERVER_V70/MSSQLSERVER_V70_Domain.xmi">
      </mapping>
      <mapping
            source="MSSQLSERVER_V70_Primitives.xmi"
            target="runtime/vendors/MSSQLSERVER_V70/MSSQLSERVER_V70_Primitives.xmi">
      </mapping>
      <mapping
            source="MSSQLSERVER_V7_Domain.xmi"
            target="runtime/vendors/MSSQLSERVER_V7/MSSQLSERVER_V7_Domain.xmi">
      </mapping>
      <mapping
            source="MSSQLSERVER_V7_Primitives.xmi"
            target="runtime/vendors/MSSQLSERVER_V7/MSSQLSERVER_V7_Primitives.xmi">
      </mapping>
      <mapping
            source="MYSQL_V323_Domain.xmi"
            target="runtime/vendors/MYSQL_V323/MYSQL_V323_Domain.xmi">
      </mapping>
      <mapping
            source="MYSQL_V323_Primitives.xmi"
            target="runtime/vendors/MYSQL_V323/MYSQL_V323_Primitives.xmi">
      </mapping>
      <mapping
            source="INSTANTDB_V326_Domain.xmi"
            target="runtime/vendors/INSTANTDB_V326/INSTANTDB_V326_Domain.xmi">
      </mapping>
      <mapping
            source="INSTANTDB_V326_Primitives.xmi"
            target="runtime/vendors/INSTANTDB_V326/INSTANTDB_V326_Primitives.xmi">
      </mapping>
      <mapping
            source="CLOUDSCAPE_V50_Domain.xmi"
            target="runtime/vendors/CLOUDSCAPE_V50/CLOUDSCAPE_V50_Domain.xmi">
      </mapping>
      <mapping
            source="CLOUDSCAPE_V50_Primitives.xmi"
            target="runtime/vendors/CLOUDSCAPE_V50/CLOUDSCAPE_V50_Primitives.xmi">
      </mapping>
      <mapping
            source="CLOUDSCAPE_V51_Domain.xmi"
            target="runtime/vendors/CLOUDSCAPE_V51/CLOUDSCAPE_V51_Domain.xmi">
      </mapping>
      <mapping
            source="CLOUDSCAPE_V51_Primitives.xmi"
            target="runtime/vendors/CLOUDSCAPE_V51/CLOUDSCAPE_V51_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2CLOUDSCAPE_V82_Domain.xmi"
            target="runtime/vendors/DB2CLOUDSCAPE_V82/DB2CLOUDSCAPE_V82_Domain.xmi">
      </mapping>
      <mapping
            source="DB2CLOUDSCAPE_V82_Primitives.xmi"
            target="runtime/vendors/DB2CLOUDSCAPE_V82/DB2CLOUDSCAPE_V82_Primitives.xmi">
      </mapping>
      <mapping
            source="DB2EVERYPLACE_V81_Domain.xmi"
            target="runtime/vendors/DB2EVERYPLACE_V81/DB2EVERYPLACE_V81_Domain.xmi">
      </mapping>
      <mapping
            source="DB2EVERYPLACE_V81_Primitives.xmi"
            target="runtime/vendors/DB2EVERYPLACE_V81/DB2EVERYPLACE_V81_Primitives.xmi">
      </mapping>
      <mapping
            source="INFORMIX_V94_Domain.xmi"
            target="runtime/vendors/INFORMIX_V94/INFORMIX_V94_Domain.xmi">
      </mapping>
      <mapping
            source="INFORMIX_V94_Primitives.xmi"
            target="runtime/vendors/INFORMIX_V94/INFORMIX_V94_Primitives.xmi">
      </mapping>
   </extension>
   <extension
         id="bvt"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.ibm.etools.sqlmodel.test.rdbschema.RDBModelTest">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="dbxmi"
            class="com.ibm.etools.sqlmodel.DataResourceFactoryImpl">
      </parser>
      <parser
            type="schxmi"
            class="com.ibm.etools.sqlmodel.DataResourceFactoryImpl">
      </parser>
      <parser
            type="tblxmi"
            class="com.ibm.etools.sqlmodel.DataResourceFactoryImpl">
      </parser>
      <parser
            type="conxmi"
            class="com.ibm.etools.sqlmodel.DataResourceFactoryImpl">
      </parser>
      <parser
            type="spxmi"
            class="com.ibm.etools.sqlmodel.DataResourceFactoryImpl">
      </parser>
      <parser
            type="udfxmi"
            class="com.ibm.etools.sqlmodel.DataResourceFactoryImpl">
      </parser>
      <parser
            type="rlconxmi"
            class="com.ibm.etools.sqlmodel.DataResourceFactoryImpl">
      </parser>
   </extension>

<!-- Extension points to enable SQLVendors. -->
   <extension
         point="com.ibm.etools.sqlmodel.VendorEnabler">
      <VendorEnabler
         vendorId="DB2UDBNT_V8"
         group="com.ibm.etools.sqlmodel"/>
      <VendorEnabler
         vendorId="DB2UDBNT_V82"
         group="com.ibm.etools.sqlmodel"/>
      <VendorEnabler
         vendorId="DB2EXPRESS_V81"
         group="com.ibm.etools.sqlmodel"/>
      <VendorEnabler
         vendorId="DB2EXPRESS_V82"
         group="com.ibm.etools.sqlmodel"/>
      <VendorEnabler
         vendorId="DB2UDBOS390_V7"
         group="com.ibm.etools.sqlmodel"/>
      <VendorEnabler
         vendorId="DB2UDBOS390_V8"
         group="com.ibm.etools.sqlmodel"/>
      <VendorEnabler
         vendorId="DB2UDBAS400_V4"
         group="com.ibm.etools.sqlmodel"/>
      <VendorEnabler
         vendorId="DB2UDBAS400_V5"
         group="com.ibm.etools.sqlmodel"/>
      <VendorEnabler
         vendorId="DB2UDBAS400_V52"
         group="com.ibm.etools.sqlmodel"/>
      <VendorEnabler
         vendorId="DB2UDBAS400_V53"
         group="com.ibm.etools.sqlmodel"/>
      <VendorEnabler
         vendorId="DERBY_V100"
         group="com.ibm.etools.sqlmodel"/>
   </extension>

   <extension-point id="QueryProviderAdapterNotifier" name="QueryProviderAdapterNotifier" schema="schema/QueryProviderAdapterNotifier.exsd"/>
   
</plugin>
