<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <listener>
        <listener-class>com.ibm.ws.console.appmanagement.SessionListener</listener-class>
    </listener>

    <servlet>
         <servlet-name>AppInstallStatusServlet</servlet-name>
         <servlet-class>com.ibm.ws.console.appmanagement.action.AppInstallStatusServlet</servlet-class>
    </servlet>
    <!-- LIDB 2303 -->
    <servlet>
         <servlet-name>ClusterRolloutServlet</servlet-name>
         <servlet-class>com.ibm.ws.console.appmanagement.servlets.ClusterRippleServlet</servlet-class>
    </servlet>

    <servlet>
         <servlet-name>AppManagementStatusServlet</servlet-name>
         <servlet-class>com.ibm.ws.console.appmanagement.servlets.AppManagementStatusServlet</servlet-class>
    </servlet>

    <!-- LIDB3509 -->
    <servlet>
         <servlet-name>AppManagementPerServerStatusServlet</servlet-name>
         <servlet-class>com.ibm.ws.console.appmanagement.servlets.AppManagementPerServerStatusServlet</servlet-class>
    </servlet>
    <!-- LIDB3509 -->

    <servlet-mapping>
         <servlet-name>AppInstallStatusServlet</servlet-name>
         <url-pattern>/AppInstallStatusServlet</url-pattern>
    </servlet-mapping>

    <!-- LIDB 2303 -->
    <servlet-mapping>
         <servlet-name>ClusterRolloutServlet</servlet-name>
         <url-pattern>/ClusterRollout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
         <servlet-name>AppManagementStatusServlet</servlet-name>
         <url-pattern>/AppManagementStatus</url-pattern>
    </servlet-mapping>

    <!-- LIDB3509 -->
    <servlet-mapping>
         <servlet-name>AppManagementPerServerStatusServlet</servlet-name>
         <url-pattern>/AppManagementPerServerStatus</url-pattern>
    </servlet-mapping>
    <!-- LIDB3509 -->
    
    <!-- LIDB 2303 -->
    <security-constraint>
        <web-resource-collection>
        	<web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/ClusterRollout/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>


    <security-constraint>
        <web-resource-collection>
        	<web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/AppInstallStatusServlet/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
        	<web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/AppManagementStatus/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- LIDB3509 -->
    <security-constraint>
        <web-resource-collection>
        	<web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/AppManagementPerServerStatus/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <!-- LIDB3509 -->

</web-app>
