<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin context-root="middlewaredescriptors" embedded="true"
    id="com.ibm.ws.console.middlewaredescriptors"
    name="middlewaredescriptors" vendor-name="IBM Corp. - WebSphere XD" version="6.1.0">
    <extension point="org.eclipse.help.toc">
        <toc file="toc.xml" primary="true"/>
    </extension>
</plugin>
