<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<!--THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-I63, 5724-H88, 5655-N01, 5733-W60(C) COPYRIGHT International Business Machines Corp., 1997, 2011
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.--> 

<plugin id="com.ibm.ws.console.zos" 
        name="zos" 
        version="1.0.0" 
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="zos">  
   
<requires>
    <import plugin="com.ibm.ws.console.core"/>
    <import plugin="com.ibm.ws.console.servermanagement"/>
    <import plugin="com.ibm.ws.console.securitycenter"/>
</requires>

<!-- Begin LI2505 changes  -->
<!-- Links -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="zos.additionalLink.JMSNativeProcess" contextType="JMSServer">
        <link
              categoryId="additional.properties"
              label="JMSNativeProcess.shortDisplayName"
              description="JMSNativeProcess.shortDescription"
              actionURI="com.ibm.ws.console.zos.forwardCmd.do?forwardName=JMSNativeProcess.config.view&amp;sfname=properties&amp;lastPage=JMSServer.config.view">
              <compatibility>
                  <match key="com.ibm.websphere.nodeOperatingSystem"  value="(os390)"/>
              </compatibility>
        </link>
    </linkSet>
</extension>
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="zos.additionalLink.WCAdvancedSettings" contextType="webcontainer">
        <link
              categoryId="additional.properties"
              label="WCAdvancedSettings.shortDisplayName"
              description="WCAdvancedSettings.shortDescription"
              actionURI="com.ibm.ws.console.zos.forwardCmd.do?forwardName=WCAdvancedSettings.config.view&amp;sfname=properties&amp;lastPage=webcontainer.config.view">
              <compatibility>
                  <match key="com.ibm.websphere.nodeOperatingSystem"  value="(os390)"/>
              </compatibility>
        </link>
    </linkSet>
</extension>
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="zos.additionalLink.WCAdvancedSettings" contextType="webcontainer_alt">
        <link
              categoryId="additional.properties"
              label="WCAdvancedSettings.shortDisplayName"
              description="WCAdvancedSettings.shortDescription"
              actionURI="com.ibm.ws.console.zos.forwardCmd.do?forwardName=WCAdvancedSettings.config.view&amp;sfname=properties&amp;lastPage=webcontainer.config.view">
              <compatibility>
                  <match key="com.ibm.websphere.nodeOperatingSystem"  value="(os390)"/>
              </compatibility>
        </link>
    </linkSet>
</extension>
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="zos.additionalLink.ORBAdvancedSettings" contextType="ObjectRequestBroker">
        <link
              categoryId="additional.properties"
              label="ORBAdvancedSettings.shortDisplayName"
              description="ORBAdvancedSettings.shortDescription"
              actionURI="com.ibm.ws.console.zos.forwardCmd.do?forwardName=ORBAdvancedSettings.config.view&amp;sfname=properties&amp;lastPage=ObjectRequestBroker.config.view">
              <compatibility>
                  <match key="com.ibm.websphere.nodeOperatingSystem"  value="(os390)"/>
              </compatibility>
        </link>
    </linkSet>
</extension>
<!-- DetailTabs -->
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="zos.Daemon.detailTab1" contextType="Daemon">
        <tab
              label="tab.configuration"
              contentURI="Daemon.config.tab.view">
        </tab>
    </detailTab>
</extension>
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="zos.ORBAdvancedSettings.detailTab1" contextType="ORBAdvancedSettings">
        <tab
              label="tab.configuration"
              contentURI="ORBAdvancedSettings.config.tab.view">
        </tab>
    </detailTab>
</extension>
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="zos.JMSNativeProcess.detailTab1" contextType="JMSNativeProcess">
        <tab
              label="tab.configuration"
              contentURI="JMSNativeProcess.config.tab.view">
        </tab>
    </detailTab>
</extension>
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="zos.WCAdvancedSettings.detailTab1" contextType="WCAdvancedSettings">
        <tab
              label="tab.configuration"
              contentURI="WCAdvancedSettings.config.tab.view">
        </tab>
    </detailTab>
</extension>
<extension point="com.ibm.websphere.wsc.form">
    <form id="WCAdvancedSettings.config.general.properties" contextType="WCAdvancedSettings">
      <field attributeName="transactionClassMappingFile" perspective="config">
          <compatibility>
              <match key="com.ibm.websphere.baseProductMajorVersion" value="[5-7]"/>
          </compatibility>
      </field>
    </form>
</extension>

<!-- LIDB2303 Begin -->

<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="servermanagement.ApplicationServer1" contextType="ApplicationServer">
        <link
              categoryId="additional.properties"
              label="ZosLocationService.displayName"
              description="ZosLocationService.description"
              actionURI="com.ibm.ws.console.zos.forwardCmd.do?forwardName=Daemon.config.view&amp;sfname=properties&#38;lastPage=ApplicationServer.config.view">
              <compatibility>
                  <match key="com.ibm.websphere.cellType" value="zosbase"/>
              </compatibility>
        </link>
    </linkSet>
</extension>
<!-- BEGIN LIDB3726-2 -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="clustermember.ApplicationServer1" contextType="ClusterMember">
        <link
              categoryId="additional.properties"
              label="ZosLocationService.displayName"
              description="ZosLocationService.description"
              actionURI="com.ibm.ws.console.zos.forwardCmd.do?forwardName=Daemon.config.view&amp;sfname=properties&#38;lastPage=ClusterMember.config.view">
              <compatibility>
                  <match key="com.ibm.websphere.cellType" value="zosbase"/>
              </compatibility>
        </link>
    </linkSet>
</extension>
<!-- END LIDB3726-2 -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="servermanagement.Daemon1" contextType="Daemon">
        <link
             categoryId="additional.properties"
             label="NodeGroup.properties.displayName"
             description="NodeGroup.properties.description"
             actionURI="com.ibm.ws.console.adminnodegroups.forwardCmd.do?forwardName=NodeGroup.Property.content.main&amp;sfname=properties">
            <compatibility>
                <match key="com.ibm.websphere.cellType" value="zosbase"/>
            </compatibility>
        </link>
    </linkSet>
</extension>
</plugin>
                             
