
.tundra .clickToCallPage {
	margin:0 auto;
}
.tundra h1.mblHeading.clickToCallHeading {
	font-size:12px;
}
.tundra .clickToCallPageContent {
	 text-align: center;
	 padding-top:45px
}
.tundra .openCollabButtonList {
	margin-top: 45px;
}
.tundra .openCollabButtonListItem {
}
.iphone li.mblListItem a.mblListItemAnchor {
	text-align: left;
	padding-left: 10px !important;
	font-size:14px;
}
.tundra .collaborationPage {
	
}
.mblArrowButtonBody {
	font-size:12px;
}
.tundra h1.mblHeading.collaborationHeading {
	font-size:12px;
}
.tundra .clickToCallWidget {
	
}
.tundra .clickToCallWidgetTextBox {
	width: 250px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.tundra .clickToCallWidgetButton {
	width: 250px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
}
.tundra .clickToCallWidgetStatus {
	
}
.tundra .clickToCallWidgetIcon {
	background-image: url('../../images/telephonyEnabled.gif'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}
.tundra .dijitDisabled .clickToCallWidgetIcon {
	background-image: url('../../images/telephonyDisabled.gif'); 
}
.tundra .clickToCallWidgetCallIcon { background-position: 0px; }
.tundra .clickToCallWidgetEndCallIcon { background-position: -20px; }
.tundra .clickToCallWidgetCollaborateIcon { background-position: -100px; }
