/* ContentPane */

 .dijitContentPane {
	padding: 0px;
}

/* nested layouts */
 .dijitTabContainerTop-dijitContentPane,
 .dijitTabContainerLeft-dijitContentPane,
 .dijitTabContainerBottom-dijitContentPane,
 .dijitTabContainerRight-dijitContentPane,
 .dijitAccordionContainer-dijitContentPane {
	background-color: #fff;
	padding: 5px;
}

 .dijitSplitContainer-dijitContentPane,
 .dijitBorderContainer-dijitContentPane {
	background-color: #fff;		/* override background-color setting on parent .dijitBorderContainer */
	padding: 5px;
}
