<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<plugin id="com.ibm.ws.console.j2ee.ejbmodule"
        name="ejbmodule"
        version="1.0.0"
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="ejbmodule">  

<requires>
    <import plugin="com.ibm.ws.console.core"/>
</requires>

<!-- Begin WAS.webui.core -->
<extension point="com.ibm.ws.console.core.help">
  <toc file="toc.xml" primary="true" />
</extension>
<!-- End WAS.webui.core -->

<!-- Begin WAS.webui.common.application -->
<extension point="com.ibm.websphere.wsc.link">
   <linkSet id="ejbmodule.ApplicationDeployment"
          contextType="ApplicationDeployment">
             <link label="ApplicationConfig.displayName"
                 description="ApplicationConfig.description"
                 categoryId="ApplicationDeployment.EJBModuleProperties.category"
                 actionURI="com.ibm.ws.console.j2ee.ejbmodule.forwardCmd.do?forwardName=ApplicationConfig.config.view&#38;sfname=configs&#38;lastPage=ApplicationDeployment.config.view" >
                 <compatibility>
                   <match key="com.ibm.ws.console.appdeployment.hasEJBModule" value="true"/>
                 </compatibility>
              </link> 
    </linkSet>
</extension>
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="ApplicationConfig_DetailTab.ApplicationConfig.detailTab1" contextType="ApplicationConfig">
        <tab
              label="tab.configuration"
              contentURI="ApplicationConfig.config.tab.view">
        </tab>
    </detailTab>
</extension>
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="EJBModuleConfiguration_DetailTab.EJBModuleConfiguration.detailTab1" contextType="EJBModuleConfiguration">
        <tab
              label="tab.configuration"
              contentURI="EJBModuleConfiguration.config.tab.view">
        </tab>
    </detailTab>
</extension>

<!-- End WAS.webui.common.application -->

<!-- Begin WAS.webui.j2ee.ejbmodule -->
<extension point="com.ibm.websphere.wsc.link">
  <linkSet id="ejbmodule.EJBModuleDeployment"
          contextType="EJBModuleDeployment">
    <link label="ApplicationConfig.displayName"
          description="EJBModuleConfiguration.description"
          categoryId="additional.properties"
          actionURI="com.ibm.ws.console.j2ee.ejbmodule.forwardCmd.do?forwardName=EJBModuleConfiguration.config.view&#38;sfname=configs&#38;lastPage=EJBModuleDeployment.config.view"/>
   </linkSet>
</extension>

<extension point="com.ibm.websphere.wsc.link">
  <linkSet id="ejbmodule.EJBModuleDeployment"
          contextType="WebModuleDeployment">
    <link label="ApplicationConfig.displayName"
          description="EJBModuleConfiguration.description"
          categoryId="additional.properties"
          actionURI="com.ibm.ws.console.j2ee.ejbmodule.forwardCmd.do?forwardName=EJBModuleConfiguration.config.view&#38;sfname=configs&#38;lastPage=EJBModuleDeployment.config.view">
           <compatibility>
                   <match key="com.ibm.ws.console.appdeployment.hasEJBinWAR" value="true"/>
           </compatibility>
     </link>
   </linkSet>
</extension>
</plugin>

