A {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
TABLE {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
TR {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
TD {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
SELECT {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
INPUT {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
FORM {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
LI {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
P {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
TEXTAREA {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
A {
	COLOR: #3366cc
}
A:visited {
	COLOR: #666699
}
A:hover {
	COLOR: #6699cc
}
BODY {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; MARGIN: 0px
}
UL {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
.wpsMainNav {
	BACKGROUND-COLOR: #000000; COLOR: #ffce00; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold
}
.wpsMainNavTabs {
	BACKGROUND-COLOR: #000000; COLOR: #ffce00; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
.wpsPortalBanner {
	BACKGROUND-COLOR: #006699; BACKGROUND-REPEAT: no-repeat; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold
}
.wpsPortalBannerText {
	BACKGROUND-COLOR: #006699; BACKGROUND-REPEAT: no-repeat; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold
}
.wpsPortletColorBack {
	BACKGROUND-COLOR: #cccccc
}
.wpsPortletTitle {
	BACKGROUND-COLOR: #006699; COLOR: white; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold
}
.wpsPortletHead {
	COLOR: black; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold
}
.wpsPortletText {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
.wpsPortletSmText {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
.wpsPortletTinyText {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
.wpsTabs {
	BACKGROUND-COLOR: #006699; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; TEXT-DECORATION: none
}
.wpsTabs:visited {
	BACKGROUND-COLOR: #006699; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; TEXT-DECORATION: none
}
.wpsTabs:hover {
	BACKGROUND-COLOR: #006699; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; TEXT-DECORATION: none
}
.wpsTabs:active {
	BACKGROUND-COLOR: #006699; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; TEXT-DECORATION: none
}
.wpsSelectedTab {
	BACKGROUND-COLOR: #639ace; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; TEXT-DECORATION: none
}
.wpsSelectedTab:visited {
	BACKGROUND-COLOR: #639ace; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; TEXT-DECORATION: none
}
.wpsSelectedTab:hover {
	BACKGROUND-COLOR: #639ace; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; TEXT-DECORATION: none
}
.wpsSelectedTab:active {
	BACKGROUND-COLOR: #639ace; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; TEXT-DECORATION: none
}
.wpsPortletBody {
	
}
.wpsPortletBack {
	BACKGROUND-COLOR: #ffffff
}
.wpsEnrollBack {
	BACKGROUND-COLOR: #ffffcc
}
.wpsEditBack {
	BACKGROUND-COLOR: #ffffff
}
.wpsConfigureBack {
	BACKGROUND-COLOR: #ffffff
}
.wpsEditHead {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold
}
.wpsEnrollHead {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold
}
.wpsEditText {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
.wpsEnrollText {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
.wpsEditSmText {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
.wpsEnrollSmText {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
.wpsEditField {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
.wpsEnrollField {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
.wpsButtonText {
	COLOR: black; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small
}
.wpsTableHead {
	BACKGROUND-COLOR: #6699cc; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold
}
.wpsTableText {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; align: center
}
.wpsTableShdRow {
	BACKGROUND-COLOR: #cccccc; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: normal
}
.wpsFieldErrorText {
	COLOR: #ff0000
}
