


/* NAVIGATION AND CONTENT AREA PAGES */


/* Form elements */
FIELDSET { border: 0px }
INPUT { font-size: 95%;  }
SELECT { font-size: 95%; font-family: sans-serif; }
TEXTAREA { font-size: 95%; font-family: sans-serif; width: 85%; }
INPUT.long { font-size: 95%; font-family: Arial,Helvetica, sans-serif; width: 85%;  }
INPUT.short { font-size: 95%; font-family: Arial,Helvetica, sans-serif; width: 150; }
UL { margin-bottom: 0px; margin-top: 0px; margin-left: 2em; list-style-type: square} 
TD.complex-property INPUT.long { font-size: 95%; font-family: Arial,Helvetica, sans-serif; width: 80%;  }
FORM { margin-bottom:0px; margin-top: 0px; padding-top: 0px; padding-bottom: 0px; }


/* general links */
a {color:#0000FF }
a:active {color:#666666 }
#plusminus {text-decoration: none; color: #000000; }


/* accessibility stuff */
.accessibility-jumps { margin-top: -10px; font-size: 25%;  color: #FFFFFF  }
.accessibility-jumps a  { color: #FFFFFF;}
.accessibility-jumps-bottom { font-size:50%; color: #FFFFFF; margin-top: 20px; margin-bottom: 0px; }
.accessibility-jumps-top { font-size:50%; color: #FFFFFF; margin-top: -20px; margin-bottom: 0px; }
.accessibility-jumps-bottom a  { color: #FFFFFF;}
.accessibility-jumps-top a  { color: #FFFFFF;}

/* tabs */
.tabs-on {  color: #000000; font-size:72%; background-color:#E2E2E2; font-family: Arial,Helvetica, sans-serif; font-weight:bold;  border-left: 1px solid #000000; border-top: 1px solid #000000; border-right: 1px solid #000000;  padding-left: 8px; padding-right: 8px; padding-top: 5px; padding-bottom: 5px; text-align: center }
.tabs-off {  color: #000000; font-size:70%; background-color:#ADACAF; font-family: Arial,Helvetica, sans-serif; font-weight:bold; border-left: 1px solid #000000; border-top: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 8px; padding-right: 8px; padding-top: 5px; padding-bottom: 5px; text-align: center    } 
.tabs-item { color: #000000;  background-color:#ADACAF; font-family: Arial,Helvetica, sans-serif; font-weight:bold  }
a:active.tabs-item  { color: #000000 }
.blank-tab {   background-color:#FFFFFF;  border-bottom: 1px solid #000000;  } 


/* tables */


TD.table-text TD.table-text {  padding-left:.1em; font-family: Arial,Helvetica, sans-serif; font-size: 70%; background-color: #FFFFFF; }
TD.complex-property TD.table-text {  padding-left:.35em; font-family: Arial,Helvetica, sans-serif; font-size: 70%; background-color: #FFFFFF; }
/*  TD.framing-table TD.table-text TD.table-text {  padding-left:.35em; font-family: Arial,Helvetica, sans-serif; font-size: 70%; background-color: #FFFFFF; }  */


.table-text {  padding-left:.35em; font-family: Arial,Helvetica, sans-serif; font-size: 70%; background-color: #FFFFFF; }
.table-text#running { color: green; font-family: Arial,Helvetica, sans-serif; font-size: 70%; background-color: #FFFFFF; }
.table-text#stopped { color: black; font-family: Arial,Helvetica, sans-serif; font-size: 70%; background-color: #FFFFFF; }
.table-text#problems { color: red; font-family: Arial,Helvetica, sans-serif; font-size: 70%; background-color: #FFFFFF; }
.table-text#unknown { color: orange; font-family: Arial,Helvetica, sans-serif; font-size: 70%; background-color: #FFFFFF; }
.column-head {  padding-left: .35em; font-family: Arial,Helvetica, sans-serif; font-size: 77%; font-weight:bold; text-align: left; color: #FFFFFF; background-color: #8691C7 }  
.column-head-name {  padding-left: .35em; font-family: Arial,Helvetica, sans-serif; font-size: 70%;font-weight:bold; text-align: left; color: #000000; background-color: #BBCEDB}   
.column-head-prefs {  padding-left: .35em; font-family: Arial,Helvetica, sans-serif; font-size: 70%; font-weight:bold; text-align: left; color: #FFFFFF; background-color:#6B7A92;}  
.framing-table { background-color: #767776; }
.function-button-section {  font-family: Arial,Helvetica, sans-serif;  text-align: left;  color: #000000; background-color: #E2E2E2; font-weight: normal; } 
.button-section {  padding-left: 0px; font-family: Arial,Helvetica, sans-serif;  text-align: right; font-weight:normal; color: #000000; background-color:#CCCCCC;} 
.layout-manager {  background-color:#E2E2E2; border-right: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000;}
.layout-manager#notabs {  background-color:#E2E2E2; border-right: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-top: 1px solid #000000;}
.highlighted { background-color: #FFFFCC  }
.not-highlighted { background-color: #FFFFFF  }
.description-text { padding-left: 5px; font-family: Arial,Helvetica, sans-serif; font-size: 70%; background-color: #FFFFFF}
.instruction-text { padding-left: 5px; font-family: Arial, Helvetica, sans-serif; font-size: 70%; background-color: #FFFFFF}
.information {  font-family: Arial, Helvetica, sans-serif; font-size: 70%; color:#993300;}
.paging-text { font-size: 71%}
.find-filter {  font-family: Arial,Helvetica, sans-serif; font-size: 71%; color: #000000; background-color: #E2E2E2;  padding-left: 3px;  }
.find-filter-expanded {   font-family: Arial,Helvetica, sans-serif; font-size: 71%; color: #000000; background-color: #E2E2E2;  padding-left: 20px; padding-bottom: 0px }
.find-filter-text {   font-family: Arial,Helvetica, sans-serif; font-size: 71%; color: #000000; background-color: #E2E2E2; }
.collection-total {   font-family: Arial,Helvetica, sans-serif; font-size: 71%; color: #000000; background-color: #E2E2E2;  }
.collection-total-expanded {   padding-left: 40px; font-family: Arial,Helvetica, sans-serif; font-size: 71%; color: #000000; background-color: #E2E2E2;  }
.complex-property { font-family: Arial,Helvetica, sans-serif; font-size: 70%; padding-left: 30px; }

.runtime-checkbox { font-size: 70%; font-family: Arial,Helvetica, sans-serif;  text-align: left; font-weight:normal; color: #000000; background-color:#CCCCCC; }


/* wizards */
th.wizard-step  { font-weight:bold; background-color:#E2E2E2; font-family: Arial,Helvetica, sans-serif;  font-size: 71%; text-align: left;  color: #000000; }
.wizard-step  {  background-color:#FFFFFF; font-family: Arial,Helvetica, sans-serif;  font-size: 71%; text-align: left;  color: #000000;}
.wizard-step-text { background-color:#E2E2E2; font-family: Arial,Helvetica, sans-serif;  font-size: 71%; text-align: left;  color: #000000;  }
.wizard-button-section {  font-family: Arial,Helvetica, sans-serif;  text-align: right; font-weight:normal; color: #000000; background-color:#E2E2E2;  } 
td.wizard-step-expanded {    background-color:#E2E2E2; padding-left: 20px; font-family: Arial,Helvetica, sans-serif;  font-size: 71%; text-align: left;  color: #000000;  }
.wizard-table {  background-color:#E2E2E2; border-top: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000;}



/* titles 
.bread-crumb {  font-family: Arial,Helvetica, sans-serif; font-size: 90%; font-weight:bold; padding-left: .5em }
*/

/* BANNER PAGE*/

.header {  margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px ; font-family: Arial, Helvetica, sans-serif}
.top-navigation { color: #000000; font-size:70%; background-color:#ADB0EC; font-family: Arial,Helvetica, sans-serif; padding-left: 10px; padding-right: 5px;}  
.top-nav-item  { color: #000000; font-family: Arial,Helvetica,sans-serif; font-weight:bold; text-decoration: none  } 
a.top-nav-item  { color: #000000; font-family: Arial,Helvetica,sans-serif; font-weight:bold;  } 
a:active.top-nav-item  { color: #000000; font-family: sans-serif; }  
a:hover.top-nav-item {  text-decoration: underline}



/*  LOGIN PAGES */

.login {  background-color:#EAEAFF; padding-left: 20%; }
.login-button-section {  padding-left: 0px; font-family: Arial,Helvetica, sans-serif;  font-weight:normal; color: #000000; background-color:#CCCCCC;} 





/*  SYSTEM STATUS AREA  */

.system-tray { background-color: #FFFFFF; font-family: Arial,Helvetica, sans-serif; border-top: 1px solid #000000; margin-top: 8px; margin-left: 5px; margin-right: 8px; scrollbar-face-color:#CCCCCC; scrollbar-shadow-color:#FFFFFF; scrollbar-highlight-color:#FFFFFF; scrollbar-3dlight-color:#6B7A92; scrollbar-darkshadow-color:#6B7A92; scrollbar-track-color:#E2E2E2; scrollbar-arrow-color:#6B7A92 }
.tray-text {   font-family: Arial,Helvetica, sans-serif; font-size: 70%; background-color:#E2E2E2; color: #000000;  }
.was-message-item  { color: #000000; font-family: Arial,Helvetica,sans-serif; font-weight:bold; font-size:70%; background-color:#E2E2E2; } 
.was-message-item a { font-weight: normal }



/* HELP PAGES */

.help {   margin: 0px; background-color: #FFFFFF ; font-family: Arial, Helvetica, sans-serif }
.index-link { font-family: Arial, Helvetica, sans-serif; font-size: 75%; text-align: right; padding-top: 10px; padding-right: 10px; }


/* NOSCRIPT TREES */

.indent1 {   padding-left:0px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px  } 
.indent2 {   padding-left:19px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px  }
.indent3 {   padding-left:38px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent4 {   padding-left:57px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px  }
.indent5 {   padding-left:76px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent6 {   padding-left:95px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent7 {   padding-left:114px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent8 {   padding-left:133px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent9 {   padding-left:152px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent10 {   padding-left:171px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent11 {   padding-left:190px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent12 {   padding-left:209px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent13 {   padding-left:228px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent14 {   padding-left:247px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent15 {   padding-left:266px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent1kids {   padding-left:-19px; font-family: Arial,Helvetica, sans-serif; margin-top: 10px; margin-bottom: 4px; font-weight: bold  } 
.indent2kids {   padding-left:0px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px  }
.indent3kids {   padding-left:19px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent4kids {   padding-left:38px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px  }
.indent5kids {   padding-left:57px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent6kids {   padding-left:76px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent7kids {   padding-left:95px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent8kids {   padding-left:114px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent9kids {   padding-left:133px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent10kids {   padding-left:152px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent11kids {   padding-left:171px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent12kids {   padding-left:190px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent13kids {   padding-left:209px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent14kids {   padding-left:247px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }
.indent15kids {   padding-left:266px; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-bottom: 5px   }

/* VALIDATION ERROS */
 
.validation-error {color: #CC0000; font-family: Arial,Helvetica, sans-serif; font-size: 70%;  }




/*  NOT USED 
#tabs-table { margin-bottom: -10px; margin-left: -9px; }
.noteditable {color: #666666; font-family: Arial,Helvetica, sans-serif; font-size: 70%;}
.column-head-frame {  font-family: Arial,Helvetica, sans-serif; font-weight:bold; text-align: left; color: #FFFFFF; background-color: #8691C7}  
.function-framing { background-color: #666666 }

*/

/*  #prefs { margin-left: -9px; }  */
 
/*  #8691C7 purple, #6B7A92 bluish */  
/* #8691C7 purple */   
/* #767776 brownish-gray */
/* #DAE4EB bluish column head name */

/*   .layout-manager {  background-color:#C5C5C5; border-right: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-top: 1px solid #000000;  }  */

