
/*  Detail/Content Frame  */
 
.nopad { margin-bottom: 0px; margin-top: -.65em; padding-bottom: 0px; padding-top: -.65em }

H1 {  font-family: Arial,Helvetica, sans-serif; font-size: 100%; padding-top: -10px; margin-top: -10px  }
H3 {  font-family: Arial,Helvetica, sans-serif; font-size: 67%; margin-left: -3px; margin-top: -8px; padding-top: -8px }

H1#bread-crumb {  font-family: Arial,Helvetica, sans-serif; font-size: 100%; padding-top: -8px; margin-top: -8px  }
H3#bread-crumb {  font-family: Arial,Helvetica, sans-serif; font-size: 67%; margin-left: -3px; margin-top: -8px; padding-top: -8px }


/* accessibility stuff */
.accessibility-jumps-top { font-size:25%; color: #FFFFFF; margin-top: -10px; padding-top: -10px; }
.accessibility-jumps-bottom { font-size:25%; color: #FFFFFF; margin-top: 30px; padding-top: 30px; }


/* body styles */
.content {  background-color: #FFFFFF ; font-family: Arial, Helvetica, sans-serif; }
.topology-view {   font-family: Arial, Helvetica, sans-serif; font-size: 70%; background-color: #FFFFFF  }
.topology-view h1#bread-crumb{  font-family: Arial, Helvetica, sans-serif; font-size: 150%; background-color: #FFFFFF ; }
.topology-view H1#bread-crumb{  font-family: Arial, Helvetica, sans-serif; font-size: 150%; background-color: #FFFFFF ; }
.topology-view p.instruction-text{  padding-left:.5em; font-family: Arial, Helvetica, sans-serif; font-size: 85%; background-color: #FFFFFF}
.login {  background-color:#EAEAFF; text-align: center; margin-left: 10em }



/* button related */
.buttons {  font-family: Arial,Helvetica, sans-serif; font-size: 70%; font-weight:normal; }
.buttons#functions  {  font-family: Arial,Helvetica, sans-serif; font-size:  70%;  font-weight:normal; }
.buttons#navigation   {  font-family: Arial,Helvetica, sans-serif; font-size:  70%;  font-weight:normal; }                                                                           
.buttons#other {  font-family: Arial,Helvetica, sans-serif; font-size: 70%; font-weight:normal;   }
.buttons#steps {  font-family: Arial,Helvetica, sans-serif; font-size:  95%; padding-left: -1em; margin: 2px 5px 2px 0px; border: 0px solid black; background-color:#FFFFFF;}
.buttons#paging {  font-family: Arial,Helvetica, sans-serif; font-size:  95%;  font-weight:normal; }
.function-button-section {  font-family: Arial,Helvetica, sans-serif;  text-align: left;  color: #000000; background-color: #E2E2E2; font-weight: normal; } 
.button-section {  font-family: Arial,Helvetica, sans-serif;  text-align: right; font-weight:normal; color: #000000; background-color:#CCCCCC;} 


/* Filter and Preferences */
.find-filter-expanded INPUT { font-size:  85%; }
.find-filter-expanded SELECT { font-size:  70%; }

.find-filter {  font-family: Arial,Helvetica, sans-serif; font-size: 70%; color: #000000; background-color: #E2E2E2;  }
.find-filter-expanded {   font-family: Arial,Helvetica, sans-serif; font-size: 70%; color: #000000; background-color: #E2E2E2; text-indent: 9px }
.find-filter-text {   font-family: Arial,Helvetica, sans-serif; font-size: 65%; color: #000000; background-color: #E2E2E2; }
.collection-total {   font-family: Arial,Helvetica, sans-serif; font-size: 65%; color: #000000; background-color: #E2E2E2;  }
.collection-total-expanded {   padding-left: 10px; font-family: Arial,Helvetica, sans-serif; font-size: 65%; color: #000000; background-color: #E2E2E2;  }



/*  Navigation Tree  */
.navtree-items {  font-family:  Verdana, Arial,Helvetica, sans-serif; font-size: 60%}
.navtree {  margin-right: 10px; margin-top: 5px; background-color: #FFFFFF ; font-family: Arial, Helvetica, sans-serif;  font-size:70%}
.task-item {font-size: 100%; color: #000000;}
.Item0 { font-weight: bold }
.Item0 a { font-weight: normal }
layer#Item0 a { font-weight: bold }

layer a { text-decoration: none }



/* Form elements */
FIELDSET { border: 0px }
INPUT { font-size: 95%;  }
SELECT { font-size: 95%; font-family: sans-serif; }
TEXTAREA { font-size: 95%; font-family: sans-serif; width: 85%; }
INPUT.long { font-size: 95%; font-family: Arial,Helvetica, sans-serif; width: 85%;  }
INPUT.short { font-size: 95%; font-family: Arial,Helvetica, sans-serif; width: 10px; }
UL { margin-bottom: 0px; margin-top: 0px; margin-left: 2em; list-style-type: square} 
TD.complex-property INPUT.long { font-size: 95%; font-family: Arial,Helvetica, sans-serif; width: 80%;  }
FORM { margin-bottom:0px; margin-top: 0px; padding-top: 0px; padding-bottom: 0px; }


/* wizards */

.wizard-table {  background-color:#E2E2E2; }
.wizard-button-section {  font-family: Arial,Helvetica, sans-serif;  text-align: right; font-weight:normal; color: #000000; background-color:#E2E2E2;  } 
td.wizard-step-expanded {  background-color:#E2E2E2; text-indent: 15px; font-family: Arial,Helvetica, sans-serif;  font-size: 71%; text-align: left;  color: #000000; }
th.wizard-step  { font-weight:bold; background-color:#E2E2E2; font-family: Arial,Helvetica, sans-serif;  font-size: 71%; text-align: left;  color: #000000; }
.wizard-step  {  background-color:#FFFFFF; font-family: Arial,Helvetica, sans-serif;  font-size: 71%; text-align: left;  color: #000000;}

td.complex-property { font-family: Arial,Helvetica, sans-serif; font-size: 70%; text-indent: 15px; }



/*  SYSTEM STATUS AREA  */

.system-tray { background-color: #FFFFFF; font-family: Arial,Helvetica, sans-serif; margin-top: 5px; margin-left: 5px; margin-right: 5px; }


/*  Process Indicator  */


/*  Validation Errors and Required  */

.red-text {color: #CC0000; font-weight: bold; }

.required {color: #CC0000; font-weight: bold;  font-size: 100%; }



.error {color: #CC0000; font-weight: bold;  font-size: 100%;}






.indent1 {   margin-left:0px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 0px; font-size: 80%  } 
.indent2 {   margin-left:0px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%   }
.indent3 {   margin-left:6px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%    }
.indent4 {   margin-left:12px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%   }
.indent5 {   margin-left:18px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%   }
.indent6 {   margin-left:24px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%    }
.indent7 {   margin-left:30px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%    }
.indent8 {   margin-left:36px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%    }
.indent9 {   margin-left:42px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%    }
.indent10 {   margin-left:48px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%    }
.indent1kids {  font-weight: bold;  margin-left:0px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 0px; font-size: 100%; } 
.indent2kids {   margin-left:0px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%   }
.indent3kids {   margin-left:4px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%    }
.indent4kids {   margin-left:8px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%   }
.indent5kids {   margin-left:12px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%    }
.indent6kids {   margin-left:16px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%    }
.indent7kids {   margin-left:20px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%    }
.indent8kids {   margin-left:24px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%    }
.indent9kids {   margin-left:28px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%    }
.indent10kids {   margin-left:32px; font-family: Arial,Helvetica, sans-serif; margin-top: 4px; margin-bottom: 4px; font-size: 80%    }

#Item0 { font-weight: bold; padding-top: 5px}




/* NOT USED
.tabs-on { color: #000000; font-size:70%; background-color:#C5C5C5; font-family: Arial,Helvetica, sans-serif; font-weight:bold  }
.tabs-off { color: #000000; font-size:70%; background-color:#999999; font-family: Arial,Helvetica, sans-serif; font-weight:bold  } 
.tabs-item { color: #000000;  background-color:#999999; font-family: Arial,Helvetica, sans-serif; font-weight:bold  }
a:active.tabs-item  { color: #000000 }




.find-filter {  font-family: Arial,Helvetica, sans-serif; font-size: 65%; color: #000000; background-color: #C5C5C5;  text-indent: 3px;}

.find-filter-expanded {   font-family: Arial,Helvetica, sans-serif; font-size: 65%; color: #000000; background-color: #C5C5C5;  text-indent: 38px; padding-bottom: 10px }

#basic-collection { padding-bottom: 10px; margin-top: -8px }




.login-table {  left:200px; top:300px }

.login-problem { position:absolute; left:20%;top:20% }

.login-problem-text  { color: #FFFFFF; font-family: Arial,Helvetica, sans-serif; font-weight: bold; font-size:100%; margin-right: 10%}

.login-document-background {  background-color: #0066CC; }

.login-image-background {  background-color: #000000 }



.loading { position: absolute; left:25%; top:30%; font-family: Arial,Helvetica, sans-serif; font-size:  125%; color: #CCCCCC; font-weight:bold}



*/
