<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>PGCControllerServlet</display-name>
	<servlet>
		<description>
		PGC entry point</description>
		<display-name>
		PGCControllerServlet</display-name>
		<servlet-name>PGCControllerServlet</servlet-name>
		<servlet-class>
		com.ibm.ws.gridcontainer.PGCControllerServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PGCControllerServlet</servlet-name>
		<url-pattern>/PGCControllerServlet</url-pattern>
	</servlet-mapping>
	
	<resource-ref id="ResourceRef_1271945582734">
   		<res-ref-name>wm/BatchWorkManager</res-ref-name>
   		<res-type>commonj.work.WorkManager</res-type>
   		<res-auth>Container</res-auth>
   		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_1243952092125">
		<description>
		</description>
		<res-ref-name>wm/CIWorkManager</res-ref-name>
		<res-type>commonj.work.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	
	<!--security-constraint>
      <display-name>Security Constraint</display-name>
      <web-resource-collection>
         <web-resource-name>Protected Area</web-resource-name>
         <url-pattern>*</url-pattern>
	       <http-method>DELETE</http-method>
             <http-method>GET</http-method>
             <http-method>POST</http-method>
	       <http-method>PUT</http-method>
      </web-resource-collection-->

      <!-- User must be in this role for access >
      <auth-constraint>
         <role-name>Admin</role-name>
      </auth-constraint-->

      <!-- Require SSL for this URL pattern. The server will 
           automatically redirect to the SSL port if necessary. >
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint-->

    <!-- Here's where you specify you want to use the user's 
         certificate for authentication. >
    <login-config>
      <auth-method>CLIENT-CERT</auth-method>
      <realm-name>myrealm</realm-name>
    </login-config-->
        
    <!-- Security roles referenced by this web application >
    <security-role>
      <role-name>Admin</role-name>
    </security-role-->
	
	
	<!-- welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list-->
</web-app>
