<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

   <web-app id="WebApp_1">
      <display-name>WebSphere Admin File Transfer Application</display-name>
      <description>WebSphere Admin File Transfer Application</description>

      <servlet id="Servlet_1">
         <servlet-name>transfer</servlet-name>
         <description>File Transfer Servlet</description>
         <servlet-class>com.ibm.ws.management.filetransfer.servlet.FileTransferServlet</servlet-class>
         <load-on-startup/>
      </servlet>

      <servlet-mapping id="ServletMapping_1">
         <servlet-name>transfer</servlet-name>
         <url-pattern>/transfer/*</url-pattern>
      </servlet-mapping>

      <servlet-mapping id="ServletMapping_2">
         <servlet-name>transfer</servlet-name>
         <url-pattern>/cert/*</url-pattern>
      </servlet-mapping>

      <servlet-mapping id="ServletMapping_3">
         <servlet-name>transfer</servlet-name>
         <url-pattern>/ocert/*</url-pattern>
      </servlet-mapping>

   </web-app>
