<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin id="org.apache.tuscany.sdo.sca.core.model" name="Tuscany SCA Core and Model"
   provider-name="IBM" version="1.0.0">

   <!-- The next 2 extension points are provided by the runtime fragment.
        It appears that fragments cannot define extension points so they have to be
        defined here.
   -->
   <extension-point id="inbound-extension" name="SCA inbound runtime extension" schema="schema/SCARuntimeExtension.exsd"/>
   <extension-point id="outbound-extension" name="SCA outbound runtime extension" schema="schema/SCARuntimeExtension.exsd"/>

   <extension point="com.ibm.wsspi.extension.message-bundle">
      <bundle regexp=".*"/>
   </extension>

   <extension point="com.ibm.sdo.internal.ecore.factory_override" >
        <factory uri="http://www.eclipse.org/emf/2002/Ecore" class="org.apache.tuscany.sdo.impl.SDOFactoryImpl$SDOEcoreFactory"/>
   </extension>

   <extension point="com.ibm.sdo.internal.ecore.package_registry_implementation">
        <registry class="com.ibm.sdo.internal.ecore.impl.EPackageRegistryImpl$Delegator"/>
   </extension>
   <extension point= "com.ibm.wsspi.extension.taglibcacheconfig-xml">
      <taglib-cache-config-file>config/taglibcacheconfig.xml</taglib-cache-config-file>
   </extension>
</plugin>
