<?xml version="1.0" encoding="UTF-8"?>
<process:Server xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:foreignservers="http://www.ibm.com/websphere/appserver/schemas/6.1/foreignservers.xmi" xmlns:customprocessexec="http://www.ibm.com/websphere/appserver/schemas/6.1/customprocessexec.xmi" xmlns:externalfileservices="http://www.ibm.com/websphere/appserver/schemas/6.1/externalfileservices.xmi" xmlns:process="http://www.ibm.com/websphere/appserver/schemas/5.0/process.xmi" xmlns:processexec="http://www.ibm.com/websphere/appserver/schemas/5.0/processexec.xmi" xmi:id="Server_1" name="phpserver">
  <components xmi:type="foreignservers:ForeignServer" xmi:id="ForeignServer_1">
    <configuration xmi:id="DescriptivePropertyGroup_1">
      <propertyGroups xmi:id="DescriptivePropertyGroup_1147189442007" name="endpoint">
        <propertyGroups xmi:id="DescriptivePropertyGroup_1147189442008" name="transport.http">
          <properties xmi:id="DiscoverableDescriptiveProperty_1147189442006" name="port" value="8600" required="true" type="int" range="" inclusive="false">
            <descriptor xmi:id="DisplayDescriptor_1147189442006" displayNameKey="transport.port.name" displayDescriptionKey="transport.port.desc" firstClass="true" hoverHelpKey="transport.port.help"/>
          </properties>
          <properties xmi:id="DiscoverableDescriptiveProperty_1147189442007" name="protocol" value="http" required="true" type="String" range="http,https" inclusive="true">
            <descriptor xmi:id="DisplayDescriptor_1147189442007" displayNameKey="" displayDescriptionKey="" firstClass="true" hidden="true" hoverHelpKey=""/>
          </properties>
          <properties xmi:id="DiscoverableDescriptiveProperty_1147189442008" name="ssl" value="false" required="true" type="boolean" range="">
            <descriptor xmi:id="DisplayDescriptor_1147189442008" displayNameKey="" displayDescriptionKey="" firstClass="true" hidden="true" hoverHelpKey=""/>
          </properties>
          <properties xmi:id="DiscoverableDescriptiveProperty_1147189442009" name="enabled" value="true" required="true" type="boolean" range="">
            <descriptor xmi:id="DisplayDescriptor_1147189442009" displayNameKey="transport.enabled" displayDescriptionKey="transport.enabled.desc" firstClass="true" hoverHelpKey=""/>
          </properties>
          <descriptor xmi:id="DisplayDescriptor_1147204366088" displayNameKey="php.http.connector" displayDescriptionKey="php.http.connector.desc" firstClass="true"/>
        </propertyGroups>
        <propertyGroups xmi:id="DescriptivePropertyGroup_1147189442009" name="transport.https">
          <properties xmi:id="DiscoverableDescriptiveProperty_1147189442010" name="port" value="8700" required="true" type="int" range="" inclusive="false">
            <descriptor xmi:id="DisplayDescriptor_1147189442011" displayNameKey="transport.port.name" displayDescriptionKey="transport.port.desc" firstClass="true" hoverHelpKey="transport.port.help"/>
          </properties>
          <properties xmi:id="DiscoverableDescriptiveProperty_1147189442011" name="protocol" value="https" required="true" type="String" range="http,https" inclusive="true">
            <descriptor xmi:id="DisplayDescriptor_1147189442012" displayNameKey="" displayDescriptionKey="" firstClass="true" hidden="true" hoverHelpKey=""/>
          </properties>
          <properties xmi:id="DiscoverableDescriptiveProperty_1147189442012" name="ssl" value="true" required="true" type="boolean" range="">
            <descriptor xmi:id="DisplayDescriptor_1147189442013" displayNameKey="php.secure.name" displayDescriptionKey="php.secure.desc" firstClass="true" hidden="false" hoverHelpKey="php.secure.help"/>
          </properties>
          <properties xmi:id="DiscoverableDescriptiveProperty_1147189442013" name="enabled" value="false" required="true" type="boolean" range="">
            <descriptor xmi:id="DisplayDescriptor_1147189442014" displayNameKey="transport.enabled" displayDescriptionKey="transport.enabled.desc" firstClass="true" hoverHelpKey=""/>
          </properties>
          <descriptor xmi:id="DisplayDescriptor_1147204385540" displayNameKey="php.https.connector" displayDescriptionKey="php.https.connector.desc" firstClass="true"/>
        </propertyGroups>
        <descriptor xmi:id="DisplayDescriptor_1147189442015" displayNameKey="php.connectors.name" displayDescriptionKey="php.connectors.desc" firstClass="true"/>
      </propertyGroups>
      <properties xmi:id="DiscoverableDescriptiveProperty_9" name="discoverymode" value="manual" type="String" range="manual,semiautomatic,automatic" inclusive="true">
        <descriptor xmi:id="DisplayDescriptor_12" firstClass="true" hidden="true" readonly="true"/>
      </properties>
      <properties xmi:id="DiscoverableDescriptiveProperty_2149184951148" name="PHP_SERVERROOT" value="${PHP_5}" type="String" range="" inclusive="true">
        <descriptor xmi:id="DisplayDescriptor_2149184951151" firstClass="true" hidden="false" readonly="false" displayNameKey="php.serverroot.name" displayDescriptionKey="php.serverroot.desc" hoverHelpKey="php.serverroot.help"/>
      </properties>
      <properties xmi:id="DiscoverableDescriptiveProperty_3149184951148" name="APACHE_SERVERROOT" value="${APACHE_2_0}" type="String" range="" inclusive="true">
        <descriptor xmi:id="DisplayDescriptor_3149184951151" firstClass="true" hidden="false" readonly="false" displayNameKey="apache.serverroot.name" displayDescriptionKey="apache.serverroot.desc" hoverHelpKey="apache.serverroot.help"/>
      </properties>
      <properties xmi:id="DiscoverableDescriptiveProperty_4149184951148" name="PHP_VERSION" value="PHP_5" type="String" range="" inclusive="true">
        <descriptor xmi:id="DisplayDescriptor_4149184951151" firstClass="true" hidden="false" readonly="false" displayNameKey="php.version.name" displayDescriptionKey="php.version.desc" hoverHelpKey="php.version.help"/>
      </properties>
      <properties xmi:id="DiscoverableDescriptiveProperty_5149184951148" name="APACHE_VERSION" value="APACHE_2_0" type="String" range="" inclusive="true">
        <descriptor xmi:id="DisplayDescriptor_5149184951151" firstClass="true" hidden="false" readonly="false" displayNameKey="apache.version.name" displayDescriptionKey="apache.version.desc" hoverHelpKey="apache.version.help"/>
      </properties>
    </configuration>
  </components>
  <components xmi:type="externalfileservices:ExternalFileService" xmi:id="ExternalFileService_1155609687797" name="ExternalLogService">
    <externalFiles xmi:id="ExternalFile_1155609687798" filePath="${USER_INSTALL_ROOT}/logs/${WAS_SERVER_NAME}" readOnly="true"/>
  </components>
  <processDefinitions xmi:type="customprocessexec:NamedProcessDef" xmi:id="NamedProcessDef_1155749938796" executableName="${APACHE_SERVERROOT}\bin\Apache.exe" workingDirectory="" name="start" osnames="windows">
    <executableArguments>-f</executableArguments>
    <executableArguments>${BASE_PHPSERVER_DIRECTORY}\config\httpd.conf</executableArguments>
    <execution xmi:id="ProcessExecution_1172957186505"/>
  </processDefinitions>
  <processDefinitions xmi:type="customprocessexec:NamedProcessDef" xmi:id="NamedProcessDef_1155749938797" executableName="${WAS_INSTALL_ROOT}\bin\a2shutdown.exe" workingDirectory="" name="stop" osnames="windows">
    <executableArguments>-f</executableArguments>
    <executableArguments>${BASE_PHPSERVER_DIRECTORY}\config\httpd.conf</executableArguments>
    <executableArguments>-k</executableArguments>
    <executableArguments>shutdown</executableArguments>
    <execution xmi:id="ProcessExecution_2172957186505"/>
  </processDefinitions>
  <processDefinitions xmi:type="customprocessexec:NamedProcessDef" xmi:id="NamedProcessDef_1155749938798" executableName="${APACHE_SERVERROOT}/bin/apachectl" workingDirectory="" name="start" osnames="unix" pidVarName="&lt;extracted from httpd.conf&gt;">
    <executableArguments>-f</executableArguments>
    <executableArguments>${BASE_PHPSERVER_DIRECTORY}/config/httpd.conf</executableArguments>
    <executableArguments>-k</executableArguments>
    <executableArguments>start</executableArguments>
    <execution xmi:id="ProcessExecution_3172957186505"/>
  </processDefinitions>
  <processDefinitions xmi:type="customprocessexec:NamedProcessDef" xmi:id="NamedProcessDef_1155749938799" executableName="${APACHE_SERVERROOT}/bin/apachectl" workingDirectory="" name="stop" osnames="unix">
    <executableArguments>-f</executableArguments>
    <executableArguments>${BASE_PHPSERVER_DIRECTORY}/config/httpd.conf</executableArguments>
    <executableArguments>-k</executableArguments>
    <executableArguments>stop</executableArguments>
    <execution xmi:id="ProcessExecution_4172957186505"/>
  </processDefinitions>
</process:Server>
