<?xml version="1.0" encoding="UTF-8"?>

<plugin id="com.ibm.ws.console.policyconfiguration"
        name="policyconfiguration"
        version="5.0.0"
        provider-name="IBM Corp. - WebSphere XD"
        embedded="true"
        context-root="policyconfiguration">  
    <requires>
        <import plugin="com.ibm.ws.console.core"/>
    </requires>
      
  
    <extension point="com.ibm.ws.console.core.navigatorTask">
      <tasks>
      <categoryDefinition id="policyconfigroot" 
      	parent="root" 
      	icon="images/onepix.gif" 
      	label="nav.policyconfigroot" 
      	weight="41" /> 
 
        <task id="showServiceClass" 
                icon="images/onepix.gif" 
                label="nav.showServiceClass" 
                weight="10"
                view="/com.ibm.ws.console.policyconfiguration.forwardCmd.do?forwardName=serviceclass.content.main" 
                external="false">
            <category id="policyconfigroot"/>
        </task>
        <task id="showServiceClassTopology"                 
                icon="images/onepix.gif" 
                label="nav.showServiceClassTopology" 
                weight="11"
                view="/com.ibm.ws.console.policyconfiguration.forwardCmd.do?forwardName=serviceclasstopology.content.main" 
                external="false">
            <category id="policyconfigroot"/>
        </task>                
 <!--        <task id="showTransactionClass" 
                icon="images/onepix.gif" 
                label="nav.showTransactionClass" 
                view="transactionclass.content.main" 
                external="false">
            <category id="policyconfigroot"/>
        </task> -->
        
      </tasks>
	</extension>
	
	<extension point="com.ibm.websphere.wsc.detailTab">
	    <detailTab id="policyconfig.transactionclass.detailTab1" contextType="TransactionClass">
	        <tab
	              label="tab.configuration"
	              contentURI="transactionclass.detail.config">
	        </tab>
    	</detailTab>
	</extension>
		

	<extension point="com.ibm.websphere.wsc.detailTab">
	    <detailTab id="policyconfig.serviceclass.detailTab1" contextType="ServicePolicy">
	        <tab
	              label="tab.configuration"
	              contentURI="serviceclass.detail.config">
	        </tab>
			<!-- Feature XD601_M1_LSP4 - move topology tab to navigation menu	        
    	    <tab
	              label="tab.topology"
	              contentURI="serviceclass.topology.tab.view">
	        </tab>
	        -->
    	</detailTab>
	</extension>
		
	<extension point="com.ibm.ws.console.core.help">
	  <toc file="toc.xml" primary="true" />
	</extension>
	
	
</plugin>


