<?xml version="1.0" encoding="UTF-8"?>
<!--xtools2_universal_type_manager-->
<LogicalDataModel:Package xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:LogicalDataModel="http:///com/ibm/db/models/logical/logical.ecore" xmlns:datanotation="http:///datanotation.ecore" name="Package1">
</LogicalDataModel:Package>
