<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">
<!--THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-I63, 5724-H88, 5655-N01, 5733-W60(C) COPYRIGHT International Business Machines Corp., 1997, 2005
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.-->

<plugin id="com.ibm.ws.console.nd.security"
        name="securitycenter_nd"
        version="1.0.0"
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="securitycenter_nd">

<requires>
    <import plugin="com.ibm.ws.console.core"/>
    <import plugin="com.ibm.ws.console.servermanagement"/>
</requires>

<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="security.ServerSecurity1" contextType="ServerSecurity">
        <tab
              label="tab.configuration"
              contentURI="ServerSecurity.config.tab.view">
        </tab>
    </detailTab>
</extension>

</plugin>
