 .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.png');
}

.dj_ie6  .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.gif');
}

 .dijitCheckBox,
 .dijitCheckBoxIcon		/* inside a toggle button */	{
	background-image: url('../images/checkmark.png'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 2px 0 0;
	padding: 0;
}

.dj_ie6  .dijitCheckBox,
.dj_ie6  .dijitCheckBoxIcon		/* inside a toggle button */	{
	background-image: url('../images/checkmark.gif'); /* checkbox sprite image */
}

 .dijitCheckBox,
 .dijitToggleButton .dijitCheckBoxIcon {
	/* unchecked */
	background-position: -16px;
}

 .dijitCheckBoxChecked,
 .dijitToggleButtonChecked .dijitCheckBoxIcon {
	/* checked */
	background-position: 0px;
}

 .dijitCheckBoxDisabled {
	/* disabled */
	background-position: -48px;
}

 .dijitCheckBoxCheckedDisabled {
	/* disabled but checked */
	background-position: -32px;
}

 .dijitCheckBoxHover {
	/* hovering over an unchecked enabled checkbox */
	background-position: -80px;
}

 .dijitCheckBoxCheckedHover {
	/* hovering over a checked enabled checkbox */
	background-position: -64px;
}
