 .dijitSliderProgressBarH {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}

 .dijitSliderProgressBarV {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}

 .dijitSliderFocused .dijitSliderProgressBarH,
 .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url("../images/sliderFullFocus.png");
}

 .dijitSliderFocused .dijitSliderProgressBarV,
 .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url("../images/sliderFullVerticalFocus.png");
}

 .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y bottom left;
}

 .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
}

 .dijitSliderBar {
	border-style: solid;
	outline:1px;
}
 .dijitSliderFocused .dijitSliderBar {
	border-color:#888;
}

.dijit_a11y .dijitSliderProgressBar {
	background-color:#888 !important;
}

 .dijitSliderImageHandleH {
	border:0px;
	width:16px;
	height:16px;
	background:url("../images/preciseSliderThumb.png") no-repeat center top;
	cursor:pointer;
}
 .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumbFocus.png");
	#background-image:url("../images/preciseSliderThumbFocus.gif");
}

.dj_ie6  .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumb.gif");
}

 .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}

 .dijitSliderRightBumper {
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}

 .dijitSliderImageHandleV {
	border:0px;
	width:16px;
	height:16px;
	background:url("../images/sliderThumb.png") no-repeat center center;
	cursor:pointer;
}

 .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.png");
}
.dj_ie6  .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.gif");
}

 .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}

 .dijitSliderTopBumper {
	background: #dcdcdc url("dojo/dojo/images/sliderEmptyVertical.png") repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}

 .dijitSliderDecrementIconH,
 .dijitSliderDecrementIconV,
 .dijitSliderIncrementIconH,
 .dijitSliderIncrementIconV {
	cursor: pointer;
	background-image: url('dojo/dojo/images/spriteArrows.png');
	background-repeat: no-repeat;
	margin: 5px;
	height: 7px;
	width: 7px;
	font-size: 1px;
}
.dj_ie6  .dijitSliderDecrementIconH,
.dj_ie6  .dijitSliderDecrementIconV,
.dj_ie6  .dijitSliderIncrementIconH,
.dj_ie6  .dijitSliderIncrementIconV {
	background-image: url('dojo/dojo/images/spriteArrows.gif');
}

 .dijitSliderDecrementIconH {
	background-position: -7px 0px;
}
 .dijitSliderIncrementIconH {
	background-position: -14px 0px;
}
 .dijitSliderDecrementIconV {
	background-position: 0px 0px;
}
 .dijitSliderIncrementIconV {
	background-position: -21px 0px;
}

 .dijitSliderButtonInner {
	visibility:hidden;
}

 .dijitSliderReadOnly *,
 .dijitSliderDisabled * {
	border-color: #d5d5d5 #bdbdbd #bdbdbd #d5d5d5;
	color: #bdbdbd;
}
 .dijitSliderReadOnly .dijitSliderDecrementIconH,
 .dijitSliderDisabled .dijitSliderDecrementIconH {
	background-position: -35px 0px;
}
 .dijitSliderReadOnly .dijitSliderIncrementIconH,
 .dijitSliderDisabled .dijitSliderIncrementIconH {
	background-position: -42px 0px;
}
 .dijitSliderReadOnly .dijitSliderDecrementIconV,
 .dijitSliderDisabled .dijitSliderDecrementIconV {
	background-position: -28px 0px;
}
 .dijitSliderReadOnly .dijitSliderIncrementIconV,
 .dijitSliderDisabled .dijitSliderIncrementIconV {
	background-position: -49px 0px;
}
