<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ibm.datatools.dbdefinition.cloudscape"
   name="%pluginName"
   version="2.1.0.v20121008_1514"
   provider-name="%providerName">

   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            version="5.1"
            product="Cloudscape"
            productDisplayString="%51ProductString"
            versionDisplayString="%51VersionString"
            file="runtime/vendors/Cloudscape_5.1/Cloudscape_5.1.xmi">
      </definition>
   </extension>
</plugin>
