<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!--Module Extension Helper Extension-->
   <extension
         id="EJBModuleExtensionHelper"
         name="EJBModuleExtensionHelper"
         point="org.eclipse.jst.j2ee.core.ejbModelExtender">
      <ejbModelExtender
      		id="com.ibm.ast.websphere.EjbModuleWsExtensionHelperImpl"
            extensionClass="com.ibm.etools.ejb.ws.ext.helpers.EjbModuleWsExtensionHelperImpl">
      </ejbModelExtender>
   </extension>
<!--ExtensionsInit-->
<!--============================-->
<!-- J2EE Core WS Ext  Extension Point Registry-->
<!--============================-->
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="commonext.xmi"
            class="com.ibm.ejs.models.base.extensions.commonext.CommonextPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="localtran.xmi"
            class="com.ibm.ejs.models.base.extensions.commonext.localtran.LocaltranPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="ejbext.xmi"
            class="com.ibm.ejs.models.base.extensions.ejbext.EjbextPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="webappext.xmi"
            class="com.ibm.ejs.models.base.extensions.webappext.WebappextPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="applicationext.xmi"
            class="com.ibm.ejs.models.base.extensions.applicationext.ApplicationextPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="applicationclientext.xmi"
            class="com.ibm.ejs.models.base.extensions.applicationclientext.ApplicationclientextPackage">
      </package>
   </extension>
<!--BindingsInit-->
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="ejbbnd.xmi"
            class="com.ibm.ejs.models.base.bindings.ejbbnd.EjbbndPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="webappbnd.xmi"
            class="com.ibm.ejs.models.base.bindings.webappbnd.WebappbndPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="commonbnd.xmi"
            class="com.ibm.ejs.models.base.bindings.commonbnd.CommonbndPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="j2cbnd.xmi"
            class="com.ibm.ejs.models.base.bindings.j2cbnd.J2cbndPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="clientbnd.xmi"
            class="com.ibm.ejs.models.base.bindings.clientbnd.ClientbndPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="applicationbnd.xmi"
            class="com.ibm.ejs.models.base.bindings.applicationbnd.ApplicationbndPackage">
      </package>
   </extension>
<!-- ====================================================== -->
<!-- a place holder for the future.                         -->
<!-- Several that have not changed are still registered as  -->
<!-- Register package mappings                              -->
<!-- ====================================================== -->
   <extension
         point="org.eclipse.wst.common.emf.packageURIMap">
      <map
            uri="ejbbnd.xmi"
            prefix="ejbbnd">
      </map>
      <map
            uri="webappbnd.xmi"
            prefix="webappbnd">
      </map>
      <map
            uri="commonbnd.xmi"
            prefix="commonbnd">
      </map>
      <map
            uri="j2cbnd.xmi"
            prefix="j2cbnd">
      </map>
      <map
            uri="clientbnd.xmi"
            prefix="clientbnd">
      </map>
      <map
            uri="applicationbnd.xmi"
            prefix="applicationbnd">
      </map>
      <map
            uri="commonext.xmi"
            prefix="commonext">
      </map>
      <map
            uri="ejbext.xmi"
            prefix="ejbext">
      </map>
      <map
            uri="webappext.xmi"
            prefix="webappext">
      </map>
      <map
            uri="applicationext.xmi"
            prefix="applicationext">
      </map>
      <map
            uri="applicationclientext.xmi"
            prefix="applicationclientext">
      </map>
      <map
            uri="transappclientext.xmi"
            prefix="transappclientext">
      </map>
   </extension>

</plugin>
