<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin context-root="tam" embedded="true" id="com.ibm.ws.console.tam"
    name="tivoli" vendor-name="IBM Corp. - Tivoli" version="5.1.0">
    <extension point="org.eclipse.help.toc">
        <toc file="toc.xml" primary="true"/>
    </extension>
</plugin>
