<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">
<!--
 * @start_restricted_prolog@
 * Version: @(#) 1.13 SIB/ws/code/sib.webservices.webui/src/sibusresources/WEB-INF/plugin.xml, SIB.webservices.webui, WAS855.SIB, cf131750.05 07/12/13 07:28:42 [12/17/17 20:06:23]
 * 
 * Licensed Materials - Property of IBM
 * 
 * "Restricted Materials of IBM"
 * 
 * 5724-J08, 5724-I63, 5724-H88, 5724-H89, 5655-N02, 5733-W70
 * 
 * Copyright IBM Corp. 2004, 2007 All Rights Reserved.
 * 
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 * @end_restricted_prolog@
-->
 
<plugin id="com.ibm.ws.console.sibws.sibusresources"
           name="sibusresources"
           version="1.0.0"
           vendor-name="IBM Corp. - WebSphere Server Group"
           embedded="true"
           context-root="sibusresources">


  <requires>
    <import plugin="com.ibm.ws.console.core" />
    <import plugin="com.ibm.ws.console.servermanagement" />
    <import plugin="com.ibm.ws.console.sib.sibresources" />
  </requires>



  <extension point="com.ibm.ws.console.core.navigatorTask">
                             

    <tasks>

      <categoryDefinition id="SIBWSWebServicesCategory"
                          parent="sibresources"
                          icon="/com.ibm.ws.console.sibws.sibusresources/images/onepix.gif"
                          label="sibusresources.category.webservices.label"
                          weight="90"/>

      <task id="JAXRPCHandler"
            icon="/com.ibm.ws.console.sibws.sibusresources/images/onepix.gif"
            label="JAXRPCHandler.displayName"
            view="/com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=JAXRPCHandler.content.main"
            external="false"
            weight="10">
          <category id="SIBWSWebServicesCategory"/>
      </task>

      <task id="JAXRPCHandlerList"
            icon="/com.ibm.ws.console.sibws.sibusresources/images/onepix.gif"
            label="JAXRPCHandlerList.displayName"
            view="/com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=JAXRPCHandlerList.content.main"
            external="false"
            weight="20">
          <category id="SIBWSWebServicesCategory"/>
      </task>

      <task id="UDDIReference"
            icon="/com.ibm.ws.console.sibws.sibusresources/images/onepix.gif"
            label="UDDIReference.displayName"
            view="/com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=UDDIReference.content.main"
            external="false"
            weight="50">
          <category id="SIBWSWebServicesCategory"/>
      </task>

    </tasks>
  </extension>



  <!--
  *************************************************************************
  *                                                                       *
  * DETAIL TAB EXTENSIONS...                                              *
  * The following definitions define all the detail tabs for the objects  *.
  *                                                                       *
  *************************************************************************
  -->


  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibusresources.SIBWSInboundService.detailTab" contextType="SIBWSInboundService">
      <tab label="tab.configuration" contentURI="SIBWSInboundService.config.tab.view"> </tab>
    </detailTab>
  </extension>

  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibusresources.SIBWSInboundPort.detailTab" contextType="SIBWSInboundPort">
      <tab label="tab.configuration" contentURI="SIBWSInboundPort.config.tab.view"> </tab>
    </detailTab>
  </extension>


  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibusresources.SIBWSOutboundService.detailTab" contextType="SIBWSOutboundService">
      <tab label="tab.configuration" contentURI="SIBWSOutboundService.config.tab.view"> </tab>
    </detailTab>
  </extension>

  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibusresources.SIBWSOutboundPort.detailTab" contextType="SIBWSOutboundPort">
      <tab label="tab.configuration" contentURI="SIBWSOutboundPort.config.tab.view"> </tab>
    </detailTab>
  </extension>


  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibusresources.SIBWSUDDIPublication.detailTab" contextType="SIBWSUDDIPublication">
      <tab label="tab.configuration" contentURI="SIBWSUDDIPublication.config.tab.view"> </tab>
    </detailTab>
  </extension>


  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibusresources.UDDIReference.detailTab" contextType="UDDIReference">
      <tab label="tab.configuration" contentURI="UDDIReference.config.tab.view"> </tab>
    </detailTab>
  </extension>

  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibusresources.SIBWSEndPointListenerReference.detailTab" contextType="SIBWSEndPointListenerReference">
      <tab label="tab.configuration" contentURI="SIBWSEndPointListenerReference.config.tab.view"> </tab>
    </detailTab>
  </extension>

  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibusresources.JAXRPCHandlerList.detailTab" contextType="JAXRPCHandlerList">
      <tab label="tab.configuration" contentURI="JAXRPCHandlerList.config.tab.view"> </tab>
    </detailTab>
  </extension>


  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibusresources.JAXRPCHandler.detailTab" contextType="JAXRPCHandler">
      <tab label="tab.configuration" contentURI="JAXRPCHandler.config.tab.view"> </tab>
    </detailTab>
  </extension>
  
  <extension point="com.ibm.websphere.wsc.detailTab" >
    <detailTab id="JAXWSHandler.detailTab" contextType="JAXWSHandler" >
      <tab label="tab.configuration" contentURI="JAXWSHandler.config.tab.view" />
    </detailTab>
  </extension>
  
  <extension point="com.ibm.websphere.wsc.detailTab" >
      <detailTab id="JAXWSHandlerList.detailTab" contextType="JAXWSHandlerList" >
          <tab label="tab.configuration" contentURI="JAXWSHandlerList.config.tab.view" />
      </detailTab>
  </extension>  

  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibusresources.SIBWSEndPointListener.detailTab" contextType="SIBWSEndPointListener">
      <tab label="tab.configuration" contentURI="SIBWSEndPointListener.config.tab.view"> </tab>
    </detailTab>
  </extension>

  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibusresources.SIBWSBusConnectionProperty.detailTab" contextType="SIBWSBusConnectionProperty">
      <tab label="tab.configuration" contentURI="SIBWSBusConnectionProperty.config.tab.view"> </tab>
    </detailTab>
  </extension>

  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibusresources.SIBWSInboundPortReference.detailTab" contextType="SIBWSInboundPortReference">
      <tab label="tab.configuration" contentURI="SIBWSInboundPortReference.config.tab.view"></tab>
    </detailTab>
  </extension>

    <extension point="com.ibm.websphere.wsc.detailTab">
      <detailTab id="sibusresources.JAXRPCHeader.detailTab" contextType="JAXRPCHeader">
        <tab label="tab.configuration" contentURI="JAXRPCHeader.config.tab.view"></tab>
      </detailTab>
  </extension>

    <extension point="com.ibm.websphere.wsc.detailTab">
      <detailTab id="sibusresources.JAXRPCHandlerSOAPRoles.detailTab" contextType="JAXRPCHandlerSOAPRoles">
        <tab label="tab.configuration" contentURI="JAXRPCHandlerSOAPRoles.config.tab.view"></tab>
      </detailTab>
  </extension>

  <!--
  ***************************************************************
  *                                                             *
  * SI BUS ADDITIONAL PROPERTIES LINKS                          *
  * The following links are all additional properties of SI Bus *
  *                                                             *
  ***************************************************************
  -->


    <!-- Adding InboundService to the SIBus service category... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="SIBWSInboundService.linkInSIBus" contextType="SIBus">
            <link label="SIBWSInboundService.displayName"
                  description="SIBWSInboundService.description"
                  categoryId="SIBus.category.services"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSInboundService.content.main"/>
        </linkSet>
    </extension>


        <!-- Adding OutboundService to the SIBus service category... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="SIBWSOutboundService.linkInSIBus" contextType="SIBus">
            <link label="SIBWSOutboundService.displayName"
                  description="SIBWSOutboundService.description"
                  categoryId="SIBus.category.services"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSOutboundService.content.main"/>
        </linkSet>
    </extension>


    <!-- Adding InboundService to the SIBus.new service category... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="SIBWSInboundService.linkInSIBus" contextType="SIBus.new">
            <link label="SIBWSInboundService.displayName"
                  description="SIBWSInboundService.description"
                  categoryId="SIBus.category.services"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSInboundService.content.main"/>
        </linkSet>
    </extension>


        <!-- Adding OutboundService to the SIBus.new service category... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="SIBWSOutboundService.linkInSIBus" contextType="SIBus.new">
            <link label="SIBWSOutboundService.displayName"
                  description="SIBWSOutboundService.description"
                  categoryId="SIBus.category.services"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSOutboundService.content.main"/>
        </linkSet>
    </extension>






    <!--
    ***********************************************
    *                                             *
    * BUTTONS                                     *
    * Adding buttons to collection view panels... *
    *                                             *
    ***********************************************
    -->

    <!-- Add New and Delete Buttons to <context> Collection Panel>
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="<context>.buttons" contextType="<context>">
            <action enablesFor="Collection"
                    label="button.new"
                    actionURI="<action>" />
            <action enablesFor="Collection"
                    label="button.delete"
                    actionURI="<action>" />
        </actionSet>
    </extension>-->


    <!-- Add New and Delete Buttons to JAXRPCHandlerList Collection Panel -->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="JAXRPCHandlerList.buttons" contextType="JAXRPCHandlerList">
            <action enablesFor="Collection"
                    label="button.new"
                    role="administrator,configurator"
                    actionURI="jAXRPCHandlerListCollection.do" />
            <action enablesFor="Collection"
                    label="button.delete"
                    role="administrator,configurator"
                    actionURI="jAXRPCHandlerListCollection.do" />
        </actionSet>
    </extension>

    <!-- Add New and Delete Buttons to SIBWSEndPointListener Collection Panel -->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="SIBWSEndPointListener.buttons" contextType="SIBWSEndPointListener">
            <action enablesFor="Collection"
                    label="EPL.button.new"
                    role="administrator,configurator"
                    actionURI="sIBWSEndPointListenerCollection.do" />
            <action enablesFor="Collection"
                    label="button.delete"
                    role="administrator,configurator"
                    actionURI="sIBWSEndPointListenerCollection.do" />
        </actionSet>
    </extension>

    <!-- Add New and Delete Buttons to SIBWSUDDIPublication collection & detail panels -->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="SIBWSUDDIPublication.buttons" contextType="SIBWSUDDIPublication">
            <action enablesFor="Collection"
                    label="button.new"
                    role="administrator,configurator"
                    actionURI="sIBWSUDDIPublicationCollection.do" />
            <action enablesFor="Collection"
                    label="button.delete"
                    role="administrator,configurator"
                    actionURI="sIBWSUDDIPublicationCollection.do" />
            <action enablesFor="Collection"
                    label="SIBWSInboundService.button.publishToUDDI"
                    role="administrator,operator"
                    actionURI="sIBWSUDDIPublicationCollection.do" />
            <action enablesFor="Collection"
                    label="SIBWSInboundService.button.removeFromUDDI"
                    role="administrator,operator"
                    actionURI="sIBWSUDDIPublicationCollection.do" />
        </actionSet>
    </extension>

    <!-- Add New and Delete Buttons to UDDIReference Collection Panel -->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="UDDIReference.buttons" contextType="UDDIReference">
            <action enablesFor="Collection"
                    label="button.new"
                    role="administrator,configurator"
                    actionURI="uDDIReferenceCollection.do" />
            <action enablesFor="Collection"
                    label="button.delete"
                    role="administrator,configurator"
                    actionURI="uDDIReferenceCollection.do" />
        </actionSet>
    </extension>


    <!-- Add New and Delete Buttons to JAXRPCHandler Collection Panel -->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="JAXRPCHandler.buttons" contextType="JAXRPCHandler">
            <action enablesFor="Collection"
                    label="button.new"
                    role="administrator,configurator"
                    actionURI="jAXRPCHandlerCollection.do" />
            <action enablesFor="Collection"
                    label="button.delete"
                    role="administrator,configurator"
                    actionURI="jAXRPCHandlerCollection.do" />
        </actionSet>
    </extension>

    <!-- Add New and Delete Buttons to JAXRPCHeader Collection Panel -->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="JAXRPCHeader.buttons" contextType="JAXRPCHeader">
            <action enablesFor="Collection"
                    label="button.new"
                    role="administrator,configurator"
                    actionURI="jAXRPCHeaderCollection.do" />
            <action enablesFor="Collection"
                    label="button.delete"
                    role="administrator,configurator"
                    actionURI="jAXRPCHeaderCollection.do" />
        </actionSet>
    </extension>

    <!-- Add New and Delete Buttons to JAXRPCHandlerSOAPRoles Collection Panel -->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="JAXRPCHandlerSOAPRoles.buttons" contextType="JAXRPCHandlerSOAPRoles">
            <action enablesFor="Collection"
                    label="button.new"
                    role="administrator,configurator"
                    actionURI="jAXRPCHandlerSOAPRolesCollection.do" />
            <action enablesFor="Collection"
                    label="button.delete"
                    role="administrator,configurator"
                    actionURI="jAXRPCHandlerSOAPRolesCollection.do" />
        </actionSet>
    </extension>
    
    <!-- Add New and Delete Buttons to JAXWSHandler Collection Panel -->
    <extension point="com.ibm.websphere.wsc.actionSet" >
        <actionSet id="JAXWSHandler.buttons" contextType="JAXWSHandler" >
            <action enablesFor="Collection" 
            		label="button.new" 
            		role="administrator,configurator" 
            		actionURI="jAXWSHandlerCollection.do" />
            <action enablesFor="Collection" 
            		label="button.delete" 
            		role="administrator,configurator" 
            		actionURI="jAXWSHandlerCollection.do" />
        </actionSet>
    </extension>
    
    <!-- Add New and Delete Buttons to JAXWSHandlerList Collection Panel -->
    <extension point="com.ibm.websphere.wsc.actionSet" >
        <actionSet id="JAXWSHandlerList.buttons" contextType="JAXWSHandlerList" >
            <action enablesFor="Collection" 
            		label="button.new" 
            		role="administrator,configurator" 
            		actionURI="jAXWSHandlerListCollection.do" />
            <action enablesFor="Collection" 
            		label="button.delete" 
            		role="administrator,configurator" 
            		actionURI="jAXWSHandlerListCollection.do" />
        </actionSet>
    </extension>    

    <!-- Add New and Delete Buttons to SIBWSBusConnectionProperty Collection Panel-->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="SIBWSBusConnectionProperty.buttons" contextType="SIBWSBusConnectionProperty">
            <action enablesFor="Collection"
                    label="button.new"
                    role="administrator,configurator"
                    actionURI="sIBWSBusConnectionPropertyCollection.do" />
            <action enablesFor="Collection"
                    label="button.delete"
                    role="administrator,configurator"
                    actionURI="sIBWSBusConnectionPropertyCollection.do" />
        </actionSet>
    </extension>


    <!-- Add New and Delete Buttons to InboundService collection and detail panels -->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="SIBWSInboundService.buttons" contextType="SIBWSInboundService">
            <action enablesFor="Collection"
                    label="SIBWSInboundService.wizard.button.new"
                    role="administrator,configurator"
                    actionURI="inboundServiceCollection.do" />
            <action enablesFor="Collection"
                    label="button.delete"
                    role="administrator,configurator"
                    actionURI="inboundServiceCollection.do" />
            <action enablesFor="Collection"
                    label="SIBWSInboundService.button.publishToUDDI"
                    role="administrator,operator"
                    actionURI="inboundServiceCollection.do" />
            <action enablesFor="Collection"
                    label="SIBWSInboundService.button.removeFromUDDI"
                    role="administrator,operator"
                    actionURI="inboundServiceCollection.do" />
            <action enablesFor="Detail"
                    label="SIBWSInboundService.button.reloadTemplateWSDL"
                    role="administrator,configurator"
                    actionURI="inboundServiceDetail.do" />

        </actionSet>
    </extension>


    <!-- Add New and Delete Buttons to InboundPort Collection Panel -->
    <extension point="com.ibm.websphere.wsc.actionSet">
       <actionSet id="SIBWSInboundPort.buttons" contextType="SIBWSInboundPort">
            <action enablesFor="Collection"
                    label="button.new"
                    role="administrator,configurator"
                    actionURI="sIBWSInboundPortCollection.do" />
            <action enablesFor="Collection"
                    label="button.delete"
                    role="administrator,configurator"
                    actionURI="sIBWSInboundPortCollection.do" />
        </actionSet>
    </extension>


    <!-- Add New and Delete Buttons to OutboundService Collection Panel -->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="sibusresources.SIBWSOutboundService.collection1" contextType="SIBWSOutboundService">
            <action enablesFor="Collection"
            	    label="SIBWSOutboundService.button.new"
                    role="administrator,configurator"
            	    actionURI="sIBWSOutboundServiceCollection.do" />
            <action enablesFor="Collection"
	                label="button.delete"
                    role="administrator,configurator"
	                actionURI="sIBWSOutboundServiceCollection.do" />
	        <action enablesFor="Detail"
			        label="SIBWSOutboundService.button.refreshWSDL"
                    role="administrator,configurator"
                    actionURI="sIBWSOutboundServiceDetail.do" />
        </actionSet>
    </extension>

    <!-- Add New and Delete Buttons to OutboundPort Collection Panel -->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="sibusresources.SIBWSOutboundPort.collection1" contextType="SIBWSOutboundPort">
    	    <action enablesFor="Collection"
		            label="SIBWSOutboundPort.button.new"
                    role="administrator,configurator"
		            actionURI="sIBWSOutboundPortCollection.do" />

	        <action enablesFor="Collection"
	                label="button.delete"
                    role="administrator,configurator"
	                actionURI="sIBWSOutboundPortCollection.do" />
        </actionSet>
    </extension>


    <!--
    **********************************************************
    *                                                        *
    * COLLECTION LIST ITEMS                                  *
    * Adding the attributes to the collection list tables... *
    *                                                        *
    **********************************************************
    -->


    <!-- Add Attributes to the table in the <context> Collection Panel>
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="<context>.collectionItems" contextType="<context>">
            <item
                  attributeName="<attname>"
                  sortable="sort"
                  itemURI=""
                  label="<attDisplayNameNLS>">
            </item>
        </collectionItem>
    </extension>

    Example...
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="distmanagement.ForeignCell.collectionItem1" contextType="ForeignCell">
            <item
                  attributeName="name"
                  sortable="sort"
                  itemURI="foreignCellCollection.do?EditAction=true"
                  label="ForeignCell.name.displayName">
            </item>
        </collectionItem>
    </extension>

    <item value="name:sort"
          link="foreignCellCollection.do?EditAction=true"
          icon="" tooltip="ForeignCell.name.displayName"
          classtype="com.ibm.ws.console.core.item.CollectionItem
    />
    -->

    <!-- Add Attributes to the table in the SIBWSInboundService Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="SIBWSInboundService.collectionItems" contextType="SIBWSInboundService">
            <item
                  attributeName="name"
                  sortable="sort"
                  itemURI="inboundServiceCollection.do?EditAction=true"
                  label="SIBWSInboundService.name.displayName">
            </item>
            <item
                  attributeName="serviceDestinationName"
                  sortable="sort"
                  itemURI=""
                  label="SIBWSInboundService.ServiceDestination.displayName">
            </item>
            <item
                  attributeName="published"
                  sortable="sort"
                  itemURI=""
                  label="SIBWSUDDIPublication.status">
            </item>
            <item
                  attributeName="description"
                  sortable="sort"
                  itemURI=""
                  label="SIBWSInboundService.description.displayName">
            </item>
        </collectionItem>
    </extension>

    <!-- Add Attributes to the table in the JAXRPCHandlerList Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="JAXRPCHandlerList.collectionItems" contextType="JAXRPCHandlerList">
            <item
                  attributeName="name"
                  sortable="sort"
                  itemURI="jAXRPCHandlerListCollection.do?EditAction=true"
                  label="JAXRPCHandlerList.name.displayName">
            </item>
            <item
                  attributeName="description"
                  sortable="sort"
                  itemURI=""
                  label="JAXRPCHandlerList.description.displayName">
            </item>
        </collectionItem>
    </extension>

    <!-- Add Attributes to the table in the SIBWSBusConnectionProperty Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="SIBWSBusConnectionProperty.collectionItems" contextType="SIBWSBusConnectionProperty">
            <item
                  attributeName="busName"
                  sortable="sort"
                  itemURI="sIBWSBusConnectionPropertyCollection.do?EditAction=true"
                  label="SIBWSBusConnectionProperty.busName.displayName">
            </item>
        </collectionItem>
    </extension>

    <!-- Add Attributes to the table in the SIBWSEndPointListener Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="SIBWSEndPointListener.collectionItems" contextType="SIBWSEndPointListener">
            <item
                  attributeName="name"
                  sortable="sort"
                  itemURI="sIBWSEndPointListenerCollection.do?EditAction=true"
                  label="SIBWSEndPointListener.name.displayName">
            </item>
            <item
                  attributeName="URLRoot"
                  sortable="sort"
                  itemURI=""
                  label="SIBWSEndPointListener.URLRoot.displayName">
            </item>
            <item
                  attributeName="description"
                  sortable="sort"
                  itemURI=""
                  label="SIBWSEndPointListener.description.displayName">
            </item>
        </collectionItem>
    </extension>

    <!-- Add Attributes to the table in the SIBWSInboundPort Collection Panel -->
        <extension point="com.ibm.websphere.wsc.collectionItem">
            <collectionItem id="SIBWSInboundPort.collectionItems" contextType="SIBWSInboundPort">
                <item
                      attributeName="name"
                      sortable="sort"
                      itemURI="sIBWSInboundPortCollection.do?EditAction=true"
                      label="SIBWSInboundPort.name.displayName">
                </item>
                <item
                      attributeName="endpointListenerName"
                      sortable="sort"
                      itemURI=""
                      label="SIBWSEndPointListener.displayName.singular">
                </item>
                <item
                      attributeName="description"
                      sortable="sort"
                      itemURI=""
                      label="SIBWSInboundPort.description.displayName">
                </item>
            </collectionItem>
    </extension>

    <!-- Add Attributes to the table in the SIBWSOutboundPort Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="SIBWSOutboundPort.collectionItems" contextType="SIBWSOutboundPort">
            <item
                  attributeName="name"
                  sortable="sort"
                  itemURI="sIBWSOutboundPortCollection.do?EditAction=true"
                  label="SIBWSOutboundPort.name.displayName">
            </item>
            <item
                  attributeName="portDestinationName"
                  sortable="sort"
                  itemURI=""
                  label="SIBWSOutboundPort.SIBDestinationName.displayName">
            </item>
            <item
                  attributeName="description"
                  sortable="sort"
                  itemURI=""
                  label="SIBWSOutboundPort.description.displayName">
            </item>
        </collectionItem>
    </extension>

    <!-- Add Attributes to the table in the SIBWSOutboundService Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="SIBWSOutboundService.collectionItems" contextType="SIBWSOutboundService">
            <item
                  attributeName="name"
                  sortable="sort"
                  itemURI="sIBWSOutboundServiceCollection.do?EditAction=true"
                  label="SIBWSOutboundService.name.displayName">
            </item>
            <item
                  attributeName="serviceDestinationName"
                  sortable="sort"
                  itemURI=""
                  label="SIBWSOutboundService.SIBDestinationName.displayName">
            </item>
            <item
                  attributeName="description"
                  sortable="sort"
                  itemURI=""
                  label="SIBWSOutboundService.description.displayName">
            </item>
        </collectionItem>
    </extension>

    <!-- Add Attributes to the table in the SIBWSUDDIPublication Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="SIBWSUDDIPublication.collectionItems" contextType="SIBWSUDDIPublication">
            <item
                  attributeName="name"
                  sortable="sort"
                  itemURI="sIBWSUDDIPublicationCollection.do?EditAction=true"
                  label="SIBWSUDDIPublication.name.displayName">
            </item>
            <item
                  attributeName="UDDIRefName"
                  sortable="sort"
                  itemURI=""
                  label="SIBWSUDDIPublication.UDDIRefName.displayName">
            </item>
            <item
                  attributeName="published"
                  sortable="sort"
                  itemURI=""
                  label="SIBWSUDDIPublication.status">
            </item>
            <item
                  attributeName="description"
                  sortable="sort"
                  itemURI=""
                  label="SIBWSUDDIPublication.description.displayName">
            </item>
        </collectionItem>
    </extension>

    <!-- Add Attributes to the table in the UDDIReference Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="UDDIReference.collectionItems" contextType="UDDIReference">
            <item
                  attributeName="name"
                  sortable="sort"
                  itemURI="uDDIReferenceCollection.do?EditAction=true"
                  label="UDDIReference.name.displayName">
            </item>
            <item
                  attributeName="description"
                  sortable="sort"
                  itemURI=""
                  label="UDDIReference.description.displayName">
            </item>
        </collectionItem>
    </extension>

    <!-- Add Attributes to the table in the JAXRPCHandler Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="JAXRPCHandler.collectionItems" contextType="JAXRPCHandler">
            <item
                  attributeName="name"
                  sortable="sort"
                  itemURI="jAXRPCHandlerCollection.do?EditAction=true"
                  label="JAXRPCHandler.name.displayName">
            </item>
            <item
                  attributeName="handlerClassName"
                  sortable="sort"
                  itemURI=""
                  label="JAXRPCHandler.className.displayName">
            </item>
            <item
                  attributeName="description"
                  sortable="sort"
                  itemURI=""
                  label="JAXRPCHandler.description.displayName">
            </item>
        </collectionItem>
    </extension>

    <!-- Add Attributes to the table in the JAXRPCHeader Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="JAXRPCHeader.collectionItems" contextType="JAXRPCHeader">
            <item
                  attributeName="namespaceURI"
                  sortable="sort"
                  itemURI="jAXRPCHeaderCollection.do?EditAction=true"
                  label="JAXRPCHeader.namespaceURI.displayName">
            </item>
            <item
                  attributeName="localPart"
                  sortable="sort"
                  itemURI=""
                  label="JAXRPCHeader.localPart.displayName">
            </item>
        </collectionItem>
    </extension>

    <!-- Add Attributes to the table in the JAXRPCHandlerSOAPRoles Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="JAXRPCHandlerSOAPRoles.collectionItems" contextType="JAXRPCHandlerSOAPRoles">
            <item
                  attributeName="role"
                  sortable="sort"
                  itemURI="jAXRPCHandlerSOAPRolesCollection.do?EditAction=true"
                  label="JAXRPCHandlerSOAPRoles.role.displayName">
            </item>
        </collectionItem>
    </extension>
    
    <!-- Add Attributes to the table in the JAXWSHandler Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem" >
        <collectionItem id="JAXWSHandler.collectionItems" contextType="JAXWSHandler" >
            <item 
            	  attributeName="name" 
            	  sortable="sort" 
            	  itemURI="jAXWSHandlerCollection.do?EditAction=true" 
            	  label="JAXWSHandler.name.displayName" />
            <item 
            	  attributeName="handlerClassName" 
            	  sortable="sort" 
            	  itemURI="" 
            	  label="JAXWSHandler.handlerClassName.displayName" />
            <item 
                  attributeName="description" 
                  sortable="sort" 
                  itemURI="" 
                  label="JAXWSHandler.description.displayName" />
        </collectionItem>
    </extension>  
    
   <!-- Add Attributes to the table in the JAXWSHandlerList Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem" >
        <collectionItem id="JAXWSHandlerList.collectionItems" contextType="JAXWSHandlerList" >
            <item 
            	  attributeName="name" 
            	  sortable="sort" 
            	  itemURI="jAXWSHandlerListCollection.do?EditAction=true" 
            	  label="JAXWSHandlerList.name.displayName" />
            <item 
            	  attributeName="description" 
            	  sortable="sort" 
            	  itemURI="" 
            	  label="JAXWSHandlerList.description.displayName" />
        </collectionItem>
    </extension>      

    <!--
    ***************
    *             *
    * OTHER LINKS *
    *             *
    ***************
    -->


    <!-- JAX-RPC HANDLER -->

    <!-- Adding SOAPHeader to the JAX-RPC Handler additional properties... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="SOAPHeader.linkInJAXRPCHandler" contextType="JAXRPCHandler">
            <link label="JAXRPCHeader.displayName"
                  description="JAXRPCHeader.description"
                  categoryId="additional.properties"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=JAXRPCHeader.content.main&#38;sfname=JAXRPCHeader"/>
        </linkSet>
    </extension>

    <!-- Adding SOAPRoles to the JAX-RPC Handler additional properties... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="SOAPRoles.linkInJAXRPCHandler" contextType="JAXRPCHandler">
            <link label="JAXRPCHandlerSOAPRoles.displayName"
                  description="JAXRPCHandlerSOAPRoles.description"
                  categoryId="additional.properties"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=JAXRPCHandlerSOAPRoles.content.main&#38;sfname=SOAPRoles"/>
        </linkSet>
    </extension>


    <!-- Adding custom properties to JAX-RCP Handler additional properties -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="Properties.linkInJAXRPCHandler" contextType="JAXRPCHandler" >
            <link categoryId="additional.properties"
                  label="Service.properties.displayName"
                  description="Service.properties.description"
                  actionURI="com.ibm.ws.console.servermanagement.forwardCmd.do?forwardName=Property.content.main&amp;sfname=property" />
        </linkSet>
    </extension>









    <!-- END POINT LISTENER -->

    <!-- Adding EndPointListener to ApplicationServer... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="SIBWSEndPointListener.linkInApplicationServer" contextType="ApplicationServer">
            <link label="SIBWSEndPointListener.displayName"
                  description="SIBWSEndPointListener.description"
                  categoryId="additional.properties"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSEndPointListener.content.main">
                <compatibility>
                  <match key="com.ibm.websphere.baseProductMajorVersion" value="([6-9])"/>
                  <match key="com.ibm.ws.console.servermanagement.applicationserver.IS_TEMPLATE" value="false"/>
                </compatibility>
            </link>
        </linkSet>
    </extension>

    <!-- Adding SIBWSBusConnectionProperty to SIBWSEndPointListener... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="SIBWSBusConnectionProperty.linkInEndPointListener" contextType="SIBWSEndPointListener">
            <link label="SIBWSBusConnectionProperty.displayName"
                  description="SIBWSBusConnectionProperty.description"
                  categoryId="additional.properties"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSBusConnectionProperty.content.main&#38;sfname=busConnectionProperty"/>
        </linkSet>
    </extension>

    <!-- Adding Application to SIBWSEndPointListener... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="Application.linkInEndPointListener" contextType="SIBWSEndPointListener">
            <link label="SIBWSEndPointListener.application.displayName"
                  description="SIBWSEndPointListener.application.description"
                  categoryId="additional.properties"
                  actionURI="sIBWSEndPointListenerDetail.do?eplAppLink=true&#38;perspective=tab.configuration"/>
        </linkSet>
    </extension>







    <!-- INBOUND SERVICE -->

    <!-- Adding SIBWSInboundPort to SIBWSInboundService -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="SIBWSInboundPort.linkInSIBWSInboundService" contextType="SIBWSInboundService">
            <link label="SIBWSInboundPort.displayName"
                  description="SIBWSInboundPort.description"
                  categoryId="additional.properties"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSInboundPort.content.main&#38;sfname=port"/>
        </linkSet>
    </extension>


    <!-- Adding SIBWSUDDIPublication to SIBWSInboundService -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="SIBWSUDDIPublication.linkInSIBWSInboundService" contextType="SIBWSInboundService">
            <link label="SIBWSUDDIPublication.displayName"
                  description="SIBWSUDDIPublication.description"
                  categoryId="additional.properties"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSUDDIPublication.content.main&#38;sfname=UDDIPublication"/>
        </linkSet>
    </extension>

    <!-- Adding custom properties to SIBWSInboundService additional properties -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="Properties.linkInSIBWSInboundService" contextType="SIBWSInboundService" >
            <link categoryId="additional.properties"
                  label="Service.properties.displayName"
                  description="Service.properties.description"
                  actionURI="com.ibm.ws.console.servermanagement.forwardCmd.do?forwardName=Property.content.main&amp;sfname=property" />
        </linkSet>
    </extension>

    <!-- Adding publish WSDL to zip file link to SIBWSInboundService additional properties... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="Publish.linkInSIBWSInboundService"  contextType="SIBWSInboundService">
            <link label="SIBWSInboundService.PublishWSDL.displayName"
                description="SIBWSInboundService.PublishWSDL.description"
                categoryId="additional.properties"
                actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSExportWSDL.config.view">
            </link>
        </linkSet>
    </extension>


    <!-- COPIED FOR WORKING OUT PUBLISH WSDL...
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="appmanagement.ApplicationDeployment"  contextType="ApplicationDeployment">
            <link label="webservices.exportWSDL.label"
                description="webservices.exportWSDL.description"
                categoryId="additional.properties"
                actionURI="com.ibm.ws.console.exportWSDL.forwardCmd.do?forwardName=SIBWSExportWSDL.config.view">
            </link>
        </linkSet>
    </extension>

    -->

    <!-- Add OutboundPorts link to the OutboundService additional properties...-->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="OutboundService.OutboundPorts" contextType="SIBWSOutboundService">
          <link label="SIBWSOutboundService.additional.property.port.displayName"
                description="SIBWSOutboundService.additional.property.port.description"
                categoryId="additional.properties"
                actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSOutboundPort.content.main&#38;sfname=port"/>
        </linkSet>
    </extension>


    <!-- Adding custom properties to SIBWSOutboundService additional properties -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="Properties.linkInSIBWSOutboundService" contextType="SIBWSOutboundService" >
            <link categoryId="additional.properties"
                  label="Service.properties.displayName"
                  description="Service.properties.description"
                  actionURI="com.ibm.ws.console.servermanagement.forwardCmd.do?forwardName=Property.content.main&amp;sfname=property" />
        </linkSet>
    </extension>



    <!-- Adding custom properties to SIBWSOutboundPort additional properties -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="Properties.linkInSIBWSOutboundPort" contextType="SIBWSOutboundPort" >
            <link categoryId="additional.properties"
                  label="Service.properties.displayName"
                  description="Service.properties.description"
                  actionURI="com.ibm.ws.console.servermanagement.forwardCmd.do?forwardName=Property.content.main&amp;sfname=property" />
        </linkSet>
    </extension>

    <!-- Adding custom properties to SIBWSInboundPort additional properties -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="Properties.linkInSIBWSInboundPort" contextType="SIBWSInboundPort" >
            <link categoryId="additional.properties"
                  label="Service.properties.displayName"
                  description="Service.properties.description"
                  actionURI="com.ibm.ws.console.servermanagement.forwardCmd.do?forwardName=Property.content.main&amp;sfname=property" />
        </linkSet>
    </extension>

    <!--
    *********************
    *                   *
    * ONLINE HELP LINKS *
    *                   *
    *********************
    -->

    <extension point="com.ibm.ws.console.core.help">
        <toc file="toc.xml" primary="true"/>
    </extension>

</plugin>

