<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ibm.datatools.dbdefinition.derby"
   name="%pluginName"
   version="1.0.100.v20121008_1514"
   provider-name="%providerName">

   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">      
       <definition 
       		product="Derby" 
       		version="10.5" 
       		productDisplayString="%105ProductString" 
       		versionDisplayString="%105VersionString"
            file="runtime/vendors/Derby_10.5/Derby_10.5.xmi"/>
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">      
       <definition 
       		product="Derby" 
       		version="10.8" 
       		productDisplayString="%108ProductString" 
       		versionDisplayString="%108VersionString"
            file="runtime/vendors/Derby_10.8/Derby_10.8.xmi"/>
   </extension>
</plugin>
