<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

   <web-app id="WebApp_1">
      <display-name>WebSphere Admin File Transfer Application</display-name>
      <description>WebSphere Admin File Transfer Application</description>

      <servlet id="Servlet_1">
         <servlet-name>transfer</servlet-name>
         <description>File Transfer Servlet</description>
         <servlet-class>com.ibm.ws.management.filetransfer.servlet.FileTransferServlet</servlet-class>
         <load-on-startup/>
      </servlet>

      <servlet-mapping id="ServletMapping_1">
         <servlet-name>transfer</servlet-name>
         <url-pattern>/transfer/*</url-pattern>
      </servlet-mapping>

      <servlet-mapping id="ServletMapping_2">
         <servlet-name>transfer</servlet-name>
         <url-pattern>/cert/*</url-pattern>
      </servlet-mapping>

      <servlet-mapping id="ServletMapping_3">
         <servlet-name>transfer</servlet-name>
         <url-pattern>/ocert/*</url-pattern>
      </servlet-mapping>

      <security-constraint id="SecurityConstraint_1">
         <web-resource-collection id="WebResourceCollection_1">
            <web-resource-name>Restricted File Transfer</web-resource-name>
            <url-pattern>/transfer/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
         </web-resource-collection>
         <auth-constraint id="AuthConstraint_1">
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
         </auth-constraint>
         <user-data-constraint id="UserDataConstraint_1">
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
         </user-data-constraint>
      </security-constraint>

      <security-constraint id="SecurityConstraint_2">
         <web-resource-collection id="WebResourceCollection_2">
            <web-resource-name>Restricted Certificate and Security Operations</web-resource-name>
            <url-pattern>/cert/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
         </web-resource-collection>
         <auth-constraint id="AuthConstraint_2">
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
         </auth-constraint>
         <user-data-constraint id="UserDataConstraint_2">
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
         </user-data-constraint>
      </security-constraint>

      <login-config id="LoginConfig_1">
         <auth-method>BASIC</auth-method>
         <realm-name>File Transfer Authentication Area</realm-name>
      </login-config>

      <security-role id="SecurityRole_1">
         <description>Administrator role</description>
         <role-name>administrator</role-name>
      </security-role>

      <security-role id="SecurityRole_2">
         <description>Operator role</description>
         <role-name>operator</role-name>
      </security-role>

      <security-role id="SecurityRole_3">
         <description>Configurator role</description>
         <role-name>configurator</role-name>
      </security-role>

      <security-role id="SecurityRole_4">
         <description>Monitor role</description>
         <role-name>monitor</role-name>
      </security-role>

   </web-app>
