<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="preferenceService" name="Preference Service" schema="schema/preferenceService.exsd"/>

     <extension point="org.eclipse.ui.preferencePages">
      <page
            name="%PREF_ROUTINES_TITLE"
            category="org.eclipse.datatools.connectivity.sqm.core.internal.ui.preferences.data"
            class="com.ibm.datatools.routines.preferences.ui.RoutinesPreferencePage"
            id="com.ibm.datatools.routines.preferences">
      </page>
      <page
            name="%PREF_BUILD_OPTIONS_TITLE"
            category="com.ibm.datatools.routines.preferences"
            class="com.ibm.datatools.routines.preferences.ui.RoutinesBuildOptionsPreferencePage"
            id="com.ibm.datatools.routines.preferences.buildoptions">
      </page>
        <page
            name="%PREF_ROUTINE_OPTIONS_TITLE"
            category="com.ibm.datatools.routines.preferences"
            class="com.ibm.datatools.routines.preferences.ui.RoutineEditorOptionsPreferencePage"
            id="com.ibm.datatools.routines.preferences.routineEditorOptions">
      </page>
      <page
            name="%PREF_BUILD_OPTIONS_TITLE_JAVA"
            category="com.ibm.datatools.routines.preferences.buildoptions"
            class="com.ibm.datatools.routines.preferences.ui.RoutinesJavaBuildOptionsPreferencePage"
            id="com.ibm.datatools.routines.preferences.buildoptions.java">
      </page>
      <page
            name="%PREF_PROCESS_TITLE"
            category="com.ibm.datatools.routines.preferences"
            class="com.ibm.datatools.routines.preferences.ui.RoutinesProcessPreferencePage"
            id="com.ibm.datatools.routines.preferences.process">
      </page>

   </extension>

</plugin>
