<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ibm.datatools.dbdefinition.sybase"
   name="%pluginName"
   version="2.1.10.v20121008_1514"
   provider-name="%providerName">
   
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            version="12.0"
            product="Sybase"
            productDisplayString="%12.0ProductString"
            versionDisplayString="%12.0VersionString"
            file="runtime/vendors/Sybase_12.0/Sybase_12.0.xmi">
      </definition>
      <definition
            version="12.5"
            product="Sybase"
            productDisplayString="%12.5ProductString"
            versionDisplayString="%12.5VersionString"
            file="runtime/vendors/Sybase_12.5/Sybase_12.5.xmi">
      </definition>
            <definition
            version="12.x"
            product="Sybase"
            productDisplayString="%12.xProductString"
            versionDisplayString="%12.xVersionString"
            file="runtime/vendors/Sybase_12.x/Sybase_12.x.xmi">
      </definition>
      <definition
            version="15.0"
            product="Sybase"
            productDisplayString="%15.0ProductString"
            versionDisplayString="%15.0VersionString"
            file="runtime/vendors/Sybase_15.0/Sybase_15.0.xmi">
      </definition>
      <definition
            version="15"
            product="Sybase"
            productDisplayString="%15ProductString"
            versionDisplayString="%15VersionString"
            file="runtime/vendors/Sybase_15.0/Sybase_15.0.xmi">
      </definition>
      <definition
            version="15.5"
            product="Sybase"
            productDisplayString="%15.5ProductString"
            versionDisplayString="%15.5VersionString"
            file="runtime/vendors/Sybase_15.5/Sybase_15.5.xmi">
      </definition>
   </extension>

</plugin>
