<?xml version="1.0" encoding="UTF-8"?>

<!--
THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-i63, 5724-H88(C) COPYRIGHT International Business Machines Corp., 1997, 2004
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.
-->


<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
    <servlet>
         <servlet-name>StatusPollServlet</servlet-name>
         <servlet-class>com.ibm.ws.console.servermanagement.applicationserver.StatusPollServlet</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>StatusPollServlet</servlet-name>
         <url-pattern>/statuspoll</url-pattern>
    </servlet-mapping>    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/statuspoll/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
