<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<plugin id="com.ibm.ws.console.blamanagement"
        name="blamanagement"
        version="6.1.0"
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="blamanagement">

<requires>
    <import plugin="com.ibm.ws.console.core"/>
    <import plugin="com.ibm.ws.console.appmanagement"/>
</requires>

<extension point="com.ibm.ws.console.core.help">
  <toc file="toc.xml" primary="true" />
</extension>

<extension point="com.ibm.ws.console.core.navigatorTask">
    <tasks>
        <task id="managetask3" icon="/com.ibm.ws.console.appmanagementimages/onepix.gif" label="task.BLAapplication.manage" view="/navigatorCmd.do?forwardName=BLAManagement.content.main" external="false" weight="30">
            <category id="applicationtypescategory"/>
        </task>
        <task id="managetask4" icon="/com.ibm.ws.console.appmanagementimages/onepix.gif" label="task.BLAasset.manage" view="/navigatorCmd.do?forwardName=AssetManagement.content.main" external="false" weight="30">
            <category id="applicationtypescategory"/>
        </task>
    </tasks>
</extension>

<extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="blamanagement.BLAManagement.collection1" contextType="BLAManagement">
        <action
              enablesFor="Collection"
              role="administrator,deployer,operator"
              label="button.start"
              actionURI="bLAManagementCollection.do">
        </action>
        <action
              enablesFor="Collection"
              role="administrator,deployer,operator"
              label="button.stop"
              actionURI="bLAManagementCollection.do">
        </action>
        <action
              enablesFor="Collection"
              scope="Cell"
              role="administrator,deployer,configurator"
              label="button.new"
              actionURI="bLAManagementCollection.do">
        </action>
        <action
              enablesFor="Collection"
              role="administrator,deployer,configurator"
              label="button.delete"
              actionURI="bLAManagementCollection.do">
        </action>
    </actionSet>
</extension>

<extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="blamanagement.BLAManagement1" contextType="BLAManagement">
        <item
              attributeName="name"
              sortable="sort"
              itemURI="bLAManagementCollection.do?EditAction=true"
              label="BLAManagement.name.displayName">
        </item>
        <item
              attributeName="version"
              sortable="sort"
              itemURI=""
              label="node.version.displayName">
             <compatibility>
                 <match key="com.ibm.ws.console.blamanagement.isEditionSupportEnabled" value="true"/>
             </compatibility>
        </item>
        <item
              attributeName="description"
              sortable="sort"
              itemURI=""
              label="BLAManagement.description.displayName">
        </item>
        <item
              attributeName="status"
              sortable="sort"
              itemURI=""
              label="BLAManagement.status.displayName">
        </item>
    </collectionItem>
</extension>
<!-- <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="blamanagement.blaedployment1" contextType="BLAManagementDetail">
        <tab
              label="tab.configuration"
              contentURI="BLAManagement.config.tab.view">
        </tab>
    </detailTab>
</extension>
-->

<extension point="com.ibm.websphere.wsc.link">
   <linkSet id="blamanagement.BLAManagement"
          contextType="BLAManagement">
    </linkSet>
</extension>
<extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="blamanagement.BLAManagement1" contextType="BLAManagementDetail">
        <item
              attributeName="name"
              sortable="sort"
              itemURI="custom"
              label="BLAManagement.name.displayName">
        </item>
        <item
              attributeName="version"
              sortable="sort"
              itemURI=""
              label="node.version.displayName">
             <compatibility>
                 <match class="com.ibm.ws.console.blamanagement.bla.BLAManagementCollectionForm" key="com.ibm.ws.console.blamanagement.isEditionSupportEnabled" value="true"/>
             </compatibility>
        </item>
        <item
              attributeName="description"
              sortable="sort"
              itemURI=""
              label="BLAManagement.description.displayName">
        </item>
        <item
              attributeName="type"
              sortable="sort"
              itemURI=""
              label="type.label">
        </item>
        <item
              attributeName="status"
              sortable="sort"
              itemURI=""
              label="BLAManagement.status.displayName">
        </item>
    </collectionItem>
</extension>
<extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="blamanagement.BLAManagement3" contextType="BLAManagementDetail3">
        <item
              attributeName="name"
              sortable="sort"
              itemURI="custom"
              label="BLAManagement.name.displayName">
        </item>
        <item
              attributeName="version"
              sortable="sort"
              itemURI=""
              label="node.version.displayName">
             <compatibility>
                 <match class="com.ibm.ws.console.blamanagement.bla.BLAManagementCollectionForm" key="com.ibm.ws.console.blamanagement.isEditionSupportEnabled" value="true"/>
             </compatibility>
        </item>
        <item
              attributeName="description"
              sortable="sort"
              itemURI=""
              label="BLAManagement.description.displayName">
        </item>
        <item
              attributeName="status"
              sortable="sort"
              itemURI=""
              label="BLAManagement.status.displayName">
        </item>
    </collectionItem>
</extension>
<extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="blamanagement.BLAManagement.collection2" contextType="BLAManagementDetail">
        <action              
              enablesFor="Collection"              
              role="administrator,deployer,configurator"              
              scope="BLA"
              label="blamanagement.button.add"              
              actionURI="bLAManagementCollection.do"
              type="menu"              
              actionName="assetAddType"              
              optionValueList="assetAddType.values"              
              optionLabelList="assetAddType.labels"              
              translatable="true">              
        </action>
        <action
              enablesFor="Collection"
              role="administrator,deployer,configurator"
              label="button.delete"
              actionURI="bLAManagementDetail.do">
        </action>
    </actionSet>
</extension>
<extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="blamanagement.BLAManagement.collection3" contextType="BLAManagementDetail3">
        <action
              enablesFor="Collection"
              role="administrator,deployer,configurator"
              scope="BLA"
              label="button.add"
              actionURI="bLAManagementCollection.do"
              translatable="true">
        </action>
        <action
              enablesFor="Collection"
              role="administrator,deployer,configurator"
              label="button.delete"
              actionURI="bLAManagementDetail.do">
        </action>
    </actionSet>
</extension>
<!--
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="blamanagement.cudetail" contextType="cuDetail">
        <tab
              label="tab.configuration"
              contentURI="cuDetail.config.tab.view">
        </tab>
    </detailTab>
</extension>
-->
<extension point="com.ibm.websphere.wsc.link">
   <linkSet id="blamanagement.cuDetail"
          contextType="cuDetail">
       <categoryDefinition weight="20" id="cuDetail.DetailProperties.category" parent="root" label="ApplicationDeployment.DetailProperties.category.displayName"/>
    </linkSet>
</extension> 
<extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="blamanagement.AssetManagement1" contextType="AssetManagement">
        <item
              attributeName="name"
              sortable="sort"
              itemURI="assetManagementCollection.do?EditAction=true"
              label="AssetDeployment.name.displayName">
        </item>
        <item
              attributeName="description"
              sortable="sort"
              itemURI=""
              label="AssetDeployment.description.displayName">
        </item>
    </collectionItem>
</extension>

<extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="blamanagement.AssetManagement.collection1" contextType="AssetManagement">
        <action
              enablesFor="Collection"
              role="administrator,deployer,configurator"
              scope="Cell"
              label="blamanagement.button.import"
              actionURI="assetManagementCollection.do">
        </action>
        <action
              enablesFor="Collection"
              role="administrator,deployer,configurator"
              label="button.delete"
              actionURI="assetManagementCollection.do">
        </action>
        <action
              enablesFor="Collection"
              role="administrator,deployer,configurator"
              label="button.update"
              actionURI="assetManagementCollection.do">
        </action>
        <action
              enablesFor="Collection"
              role="administrator,deployer,configurator"
              label="button.export"
              actionURI="assetManagementCollection.do">
        </action>
    </actionSet>
</extension>    
<extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="blamanagement.BLAAddCompositionUnit.collection1" contextType="BLAAddCompositionUnit">
        <item
              attributeName="name"
              sortable="sort"
              itemURI=""
              label="AssetDeployment.name.displayName">
        </item>
        <item
              attributeName="version"
              sortable="sort"
              itemURI=""
              label="node.version.displayName">
             <compatibility>
                 <match class="com.ibm.ws.console.blamanagement.bla.BLAAddCompositionUnitForm" key="com.ibm.ws.console.blamanagement.isEditionSupportEnabled" value="true"/>
             </compatibility>
        </item>
        <item
              attributeName="description"
              sortable="sort"
              itemURI=""
              label="AssetDeployment.description.displayName">
        </item>
    </collectionItem>
</extension>
<extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="blamanaegment.BLAAddCompositionUnit.buttons1" contextType="BLAAddCompositionUnit">
        <action
              enablesFor="Collection"
              role="administrator,deployer,configurator"
              label="button.apply"
              actionURI="bLAAddCompositionUnitCollection.do">
        </action>
        <action
              enablesFor="Collection"
              role="administrator,deployer,configurator"
              label="button.cancel"
              actionURI="bLAAddCompositionUnitCollection.do">
        </action>
    </actionSet>
</extension>
<extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="blamanagement.BLAAddCompUnitDU.collection1" contextType="BLAAddCompUnitWithDUs">
        <item
              attributeName="deployableUnits"
              sortable="sort"
              itemURI=""
              label="AssetDeployment.name.displayName">
        </item>
        <item
              attributeName="description"
              sortable="sort"
              itemURI=""
              label="AssetDeployment.description.displayName">
        </item>
    </collectionItem>
</extension>
<extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="blamanaegment.BLAAddCompUnitDU.buttons1" contextType="BLAAddCompUnitWithDUs">
        <action
              enablesFor="Collection"
              role="administrator,deployer,configurator"
              label="DU.button.apply"
              actionURI="bLAAddCompositionUnitCollection.do">
        </action>
        <action
              enablesFor="Collection"
              role="administrator,deployer,configurator"
              label="DU.button.cancel"
              actionURI="bLAAddCompositionUnitCollection.do">
        </action>
    </actionSet>
</extension>


<!-- START: Extension point to plugin into BLA install panels -->
<extension point="com.ibm.ws.console.core.wizardStep">
    <step name="BLAAddCU.MapTargets.step" stepName="MapTargets" contextType="websphere.blamanagement.addcu" />
</extension>
<extension point="com.ibm.ws.console.core.wizardStep">
    <step name="BLAAddCU.CreateAuxCUOptions.step" stepName="CreateAuxCUOptions" contextType="websphere.blamanagement.addcu"/>
</extension>
<extension point="com.ibm.ws.console.core.wizardStep">
    <step name="BLAAddCU.RelationshipOptions.step" stepName="RelationshipOptions" contextType="websphere.blamanagement.addcu"/>
</extension>
<extension point="com.ibm.ws.console.core.wizardStep">
    <step name="BLAAddCU.CUOptions.step" stepName="CUOptions" contextType="websphere.blamanagement.addcu"/>
</extension>
<extension point="com.ibm.ws.console.core.wizardStep">
   <step name="AssetImport.AssetOptions.step" stepName="AssetOptions" contextType="websphere.blamanagement.importassets"/>
</extension>
<extension point="com.ibm.websphere.wsc.link">
   <linkSet id="BLAManagement.CUDetail"
          contextType="CUDetail">

       <link categoryId="additional.properties"
             label="BLAAddCU.RelationshipOptions.panel"
             description="BLAAddCU.RelationshipOptions.description"
             weight="40"
             actionURI="com.ibm.ws.console.appdeployment.forwardCmd.do?forwardName=blamanagement.relationsOptions.panel">
             <compatibility>
                 <match key="com.ibm.ws.console.blamanagement.isRelationshipOptionsFormInScope" value="true"/>
             </compatibility>
       </link>
       <link categoryId="additional.properties"
             label="BLAAddCU.CreateAuxCUOptions.panel"
             description="BLAAddCU.CreateAuxCUOptions.panel"
             weight="40"
             actionURI="createAuxCUOptions.do">
             <compatibility>
                 <match key="com.ibm.ws.console.blamanagement.isCreateAuxCUOptionsFormInScope" value="true"/>
             </compatibility>
       </link>
   </linkSet>
 </extension>
 <extension point="com.ibm.websphere.wsc.treeitem">
        <resourceType tree="authgrouptree" id="com.ibm.blas" name="task.BLAapplication.manage" parent="root" controller="com.ibm.ws.console.blamanagement.authgroup.BLAAuthController"/>
 </extension>
 <extension point="com.ibm.websphere.wsc.treeitem">
        <resourceType tree="authgrouptree" id="com.ibm.assets" name="task.BLAasset.manage" parent="root" controller="com.ibm.ws.console.blamanagement.authgroup.AssetAuthController"/>
 </extension>

</plugin>
