<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<!--THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-i63, 5724-H88(C) COPYRIGHT International Business Machines Corp., 1997, 2015
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.--> 


<plugin id="com.ibm.ws.console.events" 
        name="runtime_events" 
        version="1.0.0" 
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="status">  
   
<requires>
    <import plugin="com.ibm.ws.console.core"/>
    <import plugin="com.ibm.ws.console.probdetermination"/>
</requires>

<extension point="com.ibm.ws.console.core.help">
  <toc file="toc.xml" primary="true" />
</extension>

<extension point="com.ibm.ws.console.core.navigatorTask">
    <tasks>
        <categoryDefinition id="runtimemessagescategory" parent="probmanagementcategory" icon="/com.ibm.ws.console.probdetermination/images/onepix.gif" label="nav.swg.com.ibm.ws.runtime.messages" weight="60"/>
        <task id="runtimeerrors" icon="/com.ibm.ws.console.events/images/onepix.gif" label="events.messageType.1" view="/com.ibm.ws.console.events.forwardCmd.do?forwardName=events.content.main&amp;type=errors" external="false" weight="10">
            <category id="runtimemessagescategory"/>
        </task>
        <task id="runtimewarnings" icon="/com.ibm.ws.console.events/images/onepix.gif" label="events.messageType.0" view="/com.ibm.ws.console.events.forwardCmd.do?forwardName=events.content.main&amp;type=warnings" external="false" weight="20">
            <category id="runtimemessagescategory"/>
        </task>
        <task id="runtimeinfo" icon="/com.ibm.ws.console.events/images/onepix.gif" label="events.messageType.2" view="/com.ibm.ws.console.events.forwardCmd.do?forwardName=events.content.main&amp;type=info" external="false" weight="30">
            <category id="runtimemessagescategory"/>
        </task>
    </tasks>
</extension>

<extension point="com.ibm.ws.console.core.status">
    <statusItems>
        <statusItem id="runtime.events"
            contextType="events"
            title=""
            link=""
            rendererUri="/com.ibm.ws.console.events/runtime_messages.jsp"
            refresh="60000"
            largeIcon=" "
            smallIcon=" "/>
    </statusItems>    
</extension>

<!-- collection.table.extends -->
<extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="events.events1" contextType="events">
        <item
              attributeName="timeStamp"
              sortable="nosort"
              itemURI=""
              label="events.messageTimeStamp.label">
        </item>
        <item
              attributeName="originator"
              sortable="nosort"
              itemURI=""
              label="events.origin.label">
        </item>
        <item
              attributeName="messageNameTrunc"
              sortable="nosort"
              itemURI="eventCollection.do?EditAction=true"
              label="events.message.label">
        </item>
    </collectionItem>
</extension>

<extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="events.collection2" contextType="events">
        <action 
            enablesFor="Collection"
            role="administrator,operator,configurator" 
            label="button.clear"
            actionURI="eventCollection.do">
        </action>
    </actionSet>
</extension>

</plugin>

