<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin context-root="repositorycheckpoint" embedded="true"
    id="com.ibm.ws.console.repositorycheckpoint"
    name="repositorycheckpoint" provider-name="IBM Corp. - WebSphere" version="6.0.0">
    <extension point="org.eclipse.help.toc">
        <toc file="toc.xml" primary="true"/>
    </extension>
</plugin>
