<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<!--
THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-I63, 5724-H88(C) COPYRIGHT International Business Machines Corp., 1997, 2004
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp. 
-->

<plugin id="com.ibm.ws.console.help"
        name="iehs"
        version="1.0.0"
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="iehs">

	<requires>
		<import plugin="com.ibm.ws.console.core"/>
	</requires>

	<extension point="com.ibm.ws.console.core.help">
		<toc file="toc.xml" primary="true" />
	</extension>

</plugin>
