<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">
<!--
 * @start_restricted_prolog@
 * Version: @(#) 1.6 SIB/ws/code/sib.webservices.webui.wsgw/src/sibuswsgw/WEB-INF/plugin.xml, SIB.webservices.webui.wsgw, WAS855.SIB, cf131750.05 07/08/14 05:25:48 [12/17/17 20:06:30]
 * 
 * Licensed Materials - Property of IBM
 * 
 * "Restricted Materials of IBM"
 * 
 * 5724-J08, 5724-I63, 5724-H88, 5724-H89, 5655-N02, 5733-W70
 * 
 * Copyright IBM Corp. 2004, 2007 All Rights Reserved.
 * 
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 * @end_restricted_prolog@
-->

<plugin id="com.ibm.ws.console.sibws.sibusresources.wsgw"
           name="sibuswsgw"
           version="1.0.0"
           vendor-name="IBM Corp. - WebSphere Server Group"
           embedded="true"
           context-root="sibuswsgw">


  <requires>
    <import plugin="com.ibm.ws.console.core" />
    <import plugin="com.ibm.ws.console.servermanagement" />
    <import plugin="com.ibm.ws.console.distmanagement" />
  </requires>



  <!--
  *************************************************************************
  *                                                                       *
  * DETAIL TAB EXTENSIONS...                                              *
  * The following definitions define all the detail tabs for the objects  *.
  *                                                                       *
  *************************************************************************
  -->


  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibuswsgw.WSGWInstance.detailTab" contextType="WSGWInstance">
      <tab label="tab.configuration" contentURI="WSGWInstance.config.tab.view"> </tab>
    </detailTab>
  </extension>

  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibuswsgw.WSGWProxyService.detailTab" contextType="WSGWProxyService">
      <tab label="tab.configuration" contentURI="WSGWProxyService.config.tab.view"> </tab>
    </detailTab>
  </extension>


  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibuswsgw.WSGWTargetService.detailTab" contextType="WSGWTargetService">
      <tab label="tab.configuration" contentURI="WSGWTargetService.config.tab.view"> </tab>
    </detailTab>
  </extension>


  <extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibuswsgw.WSGWGatewayService.detailTab" contextType="WSGWGatewayService">
      <tab label="tab.configuration" contentURI="WSGWGatewayService.config.tab.view"> </tab>
    </detailTab>
  </extension>


  <!--
  ***************************************************************
  *                                                             *
  * SI BUS ADDITIONAL PROPERTIES LINKS                          *
  * The following links are all additional properties of SI Bus *
  *                                                             *
  ***************************************************************
  -->


    <!-- Adding WSGWInstance to the SIBus additional properties... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="WSGWInstance.linkInSIBus" contextType="SIBus">
            <link label="WSGWInstance.displayName"
                  description="WSGWInstance.description"
                  categoryId="additional.properties"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.wsgw.forwardCmd.do?forwardName=WSGWInstance.content.main"/>
        </linkSet>
    </extension>






    <!--
    ***********************************************
    *                                             *
    * BUTTONS                                     *
    * Adding buttons to collection view panels... *
    *                                             *
    ***********************************************
    -->



    <!-- Add New and Delete Buttons to WSGWInstance Collection Panel -->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="WSGWInstance.buttons" contextType="WSGWInstance">
            <action enablesFor="Collection"
                    label="button.new"
                    role="administrator,configurator"
                    actionURI="wSGWInstanceCollection.do" />
            <action enablesFor="Collection"
                    label="button.delete"
                    role="administrator,configurator"
                    actionURI="wSGWInstanceCollection.do" />
        </actionSet>
    </extension>


    <!-- Add New and Delete Buttons to WSGWTargetService Collection Panel-->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="WSGWTargetService.buttons" contextType="WSGWTargetService">
            <action enablesFor="Collection"
                    label="button.new"
                    role="administrator,configurator"
                    actionURI="wSGWTargetServiceCollection.do" />
            <action enablesFor="Collection"
                    label="button.delete"
                    role="administrator,configurator"
                    actionURI="wSGWTargetServiceCollection.do" />
        </actionSet>
    </extension>

    <!-- Add New and Delete Buttons to WSGWProxyService Collection Panel-->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="WSGWProxyService.buttons" contextType="WSGWProxyService">
            <action enablesFor="Collection"
                    label="WSGWProxyService.button.new"
                    role="administrator,configurator"
                    actionURI="wSGWProxyServiceCollection.do" />
            <action enablesFor="Collection"
                    label="button.delete"
                    role="administrator,configurator"
                    actionURI="wSGWProxyServiceCollection.do" />
        </actionSet>
    </extension>


    <!-- Add New and Delete Buttons to WSGWGatewayService Collection Panel -->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="sibuswsgw.WSGWGatewayService.collection1" contextType="WSGWGatewayService">
      	        <action enablesFor="Collection"
   		            label="WSGWGatewayService.button.new"
                    role="administrator,configurator"
   		            actionURI="wSGWGatewayServiceCollection.do" />
   	        <action enablesFor="Collection"
   	                label="button.delete"
                    role="administrator,configurator"
   	                actionURI="wSGWGatewayServiceCollection.do" />
       </actionSet>
   </extension>

    <!--
    **********************************************************
    *                                                        *
    * COLLECTION LIST ITEMS                                  *
    * Adding the attributes to the collection list tables... *
    *                                                        *
    **********************************************************
    -->




    <!-- Add Attributes to the table in the WSGWGatewayService Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="WSGWGatewayService.collectionItems" contextType="WSGWGatewayService">
            <item
                  attributeName="name"
                  sortable="sort"
                  itemURI="wSGWGatewayServiceCollection.do?EditAction=true"
                  label="WSGWGatewayService.name.displayName">
            </item>
            <item
                  attributeName="requestDestinationName"
                  sortable="sort"
                  itemURI=""
                  label="WSGWGatewayService.requestDestinationName.displayName">
            </item>
            <item
                  attributeName="description"
                  sortable="sort"
                  itemURI=""
                  label="WSGWGatewayService.description.displayName">
            </item>
        </collectionItem>
    </extension>

    <!-- Add Attributes to the table in the WSGWInstance Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="WSGWInstance.collectionItems" contextType="WSGWInstance">
            <item
                  attributeName="name"
                  sortable="sort"
                  itemURI="wSGWInstanceCollection.do?EditAction=true"
                  label="WSGWInstance.name.displayName">
            </item>
            <item
                  attributeName="wsdlServiceNamespace"
                  sortable="sort"
                  itemURI=""
                  label="WSGWInstance.wsdlServiceNamespace.displayName">
            </item>
            <item
                  attributeName="description"
                  sortable="sort"
                  itemURI=""
                  label="WSGWInstance.description.displayName">
            </item>
        </collectionItem>
    </extension>

    <!-- Add Attributes to the table in the WSGWProxyService Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="WSGWProxyService.collectionItems" contextType="WSGWProxyService">
            <item
                  attributeName="name"
                  sortable="sort"
                  itemURI="wSGWProxyServiceCollection.do?EditAction=true"
                  label="WSGWProxyService.name.displayName">
            </item>
            <item
                  attributeName="requestDestinationName"
                  sortable="sort"
                  itemURI=""
                  label="WSGWProxyService.requestDestinationName.displayName">
            </item>
            <item
                  attributeName="description"
                  sortable="sort"
                  itemURI=""
                  label="WSGWProxyService.description.displayName">
            </item>
        </collectionItem>
    </extension>

    <!-- Add Attributes to the table in the WSGWTargetService Collection Panel -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="WSGWTargetService.collectionItems" contextType="WSGWTargetService">
            <item
                  attributeName="name"
                  sortable="sort"
                  itemURI="wSGWTargetServiceCollection.do?EditAction=true"
                  label="WSGWTargetService.name.displayName">
            </item>
            <item
                  attributeName="targetDestinationName"
                  sortable="sort"
                  itemURI=""
                  label="WSGWTargetService.SIBDestinationName.displayName">
            </item>
            <item
                  attributeName="description"
                  sortable="sort"
                  itemURI=""
                  label="WSGWTargetService.description.displayName">
            </item>
        </collectionItem>
    </extension>


    <!--
    ***************
    *             *
    * OTHER LINKS *
    *             *
    ***************
    -->


    <!-- WSGW INSTANCE -->

    <!-- Adding WSGWGatewayServices to the WSGWInstance additional properties... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="WSGWInstance.linkToGatewayServices" contextType="WSGWInstance">
            <link label="WSGWGatewayService.displayName"
                  description="WSGWGatewayService.description"
                  categoryId="additional.properties"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.wsgw.forwardCmd.do?forwardName=WSGWGatewayService.content.main&#38;sfname=gatewayService"/>
        </linkSet>
    </extension>


    <!-- Adding WSGWProxyServices to the WSGWInstance additional properties... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="WSGWInstance.linkToProxyServices" contextType="WSGWInstance">
            <link label="WSGWProxyService.displayName"
                  description="WSGWProxyService.description"
                  categoryId="additional.properties"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.wsgw.forwardCmd.do?forwardName=WSGWProxyService.content.main&#38;sfname=proxyService"/>
        </linkSet>
    </extension>



    <!-- WSGW GATEWAY SERVICE -->

    <!-- Adding WSGWTargetService to the WSGWGatewayService additional properties... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="WSGWGatewayService.linkToTargetServices" contextType="WSGWGatewayService">
            <link label="WSGWTargetService.displayName"
                  description="WSGWTargetService.description"
                  categoryId="additional.properties"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.wsgw.forwardCmd.do?forwardName=WSGWTargetService.content.main&#38;sfname=targetService"/>
            </linkSet>
    </extension>

    <!-- Adding Inbound Web Service Enablement to the WSGWGatewayService additional properties... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="WSGWGatewayService.linkToInboundServices" contextType="WSGWGatewayService">
            <link label="WSGWGatewayService.inboundServiceName.displayName"
                 description="WSGWGatewayService.inboundServiceName.description"
                 categoryId="additional.properties"
                 actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSInboundService.config.view&#38;lastPage=WSGWGatewayService.config.view"/>
        </linkSet>
    </extension>

    <!-- WSGW PROXY SERVICE -->

    <!-- Adding Outbound Web Service Enablement to the WSGWProxyService additional properties... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="WSGWProxyService.linkToOutboundService" contextType="WSGWProxyService">
            <link label="WSGWProxyService.outboundServiceName.displayName"
                  description="WSGWProxyService.outboundServiceName.description"
                  categoryId="additional.properties"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSOutboundService.config.view&#38;lastPage=WSGWProxyService.config.view"/>
        </linkSet>
    </extension>

    <!-- Adding Inbound Web Service Enablement to the WSGWProxyService additional properties... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="WSGWProxyService.linkToInboundService" contextType="WSGWProxyService">
            <link label="WSGWProxyService.inboundServiceName.displayName"
                  description="WSGWProxyService.inboundServiceName.description"
                  categoryId="additional.properties"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSInboundService.config.view&#38;lastPage=WSGWProxyService.config.view"/>
        </linkSet>
    </extension>



    <!-- WSGW TARGET SERVICE -->

    <!-- Adding Outbound Web Service Enablement to the WSGWTargetService additional properties... -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="WSGWTargetService.linkToOutboundService" contextType="WSGWTargetService">
            <link label="WSGWTargetService.outboundServiceName.displayName"
                  description="WSGWTargetService.outboundServiceName.description"
                  categoryId="additional.properties"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSOutboundService.config.view&#38;lastPage=WSGWTargetService.config.view"/>
        </linkSet>
    </extension>


    <!-- Adding EndPointListener to Cluster -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="SIBWSEndPointListener.linkInApplicationServer" contextType="ServerCluster">
            <link label="SIBWSEndPointListener.displayName"
                  description="SIBWSEndPointListener.description"
                  categoryId="additional.properties"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSEndPointListener.content.main"/>
        </linkSet>
    </extension>

    <!-- Adding EndPointListener to Cluster Member -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="SIBWSEndPointListener.linkInClusterMember" contextType="ClusterMember">
            <link label="SIBWSEndPointListener.displayName"
                  description="SIBWSEndPointListener.description"
                  categoryId="additional.properties"
                  actionURI="com.ibm.ws.console.sibws.sibusresources.forwardCmd.do?forwardName=SIBWSEndPointListener.content.main"/>
        </linkSet>
    </extension>

        <!--
        *********************
        *                   *
        * ONLINE HELP LINKS *
        *                   *
        *********************
        -->

        <extension point="com.ibm.ws.console.core.help">
            <toc file="toc.xml" primary="true"/>
    </extension>

</plugin>

