<?xml version="1.0" encoding="UTF-8"?>

<xmi:XMI xmi:version="2.0"
  xmlns:xmi="http://www.omg.org/XMI"
  xmlns:process="http://www.ibm.com/websphere/appserver/schemas/5.0/process.xmi"
  xmlns:properties="http://www.ibm.com/websphere/appserver/schemas/5.0/properties.xmi"
  xmlns:webserver="http://www.ibm.com/websphere/appserver/schemas/6.0/webserver.xmi"
  xmlns:processexec="http://www.ibm.com/websphere/appserver/schemas/5.0/processexec.xmi" >

  <xmi:Documentation>
    <contact>WebSphere GENERIC Server v6.0 Default Configuration Files v1.0.0.0</contact>
  </xmi:Documentation>

  <!-- Default Generic Server shell Configuration Template -->

  <process:Server xmi:id="Genericserver_1" name="default" >
    <processDefinitions xmi:type="processexec:JavaProcessDef" xmi:id="JavaProcessDef_1"
      executableName="" workingDirectory="" startCommand="" stopCommand=""
      startCommandArgs="" stopCommandArgs="">

      <execution xmi:id="ProcessExecution_1" processPriority="20" runAsUser="" runAsGroup=""/>

      <jvmEntries xmi:id="JavaVirtualMachine_1" classpath="" bootClasspath="" 
        verboseModeClass="false" verboseModeGarbageCollection="false" verboseModeJNI="false" 
        runHProf="false" hprofArguments="" debugMode="false" debugArgs="" genericJvmArguments=""/>
    </processDefinitions>
  </process:Server>
</xmi:XMI>
