<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="org.eclipse.emf.ecore.uri_mapping"
         point="org.eclipse.emf.ecore.uri_mapping">
         <mapping
            source="JavatoDB2UDBAS400_V4TypeMaps.xmi"
            target="runtime/JavatoDB2UDBAS400_V4TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoDB2UDBAS400_V52TypeMaps.xmi"
            target="runtime/JavatoDB2UDBAS400_V52TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoDB2UDBAS400_V53TypeMaps.xmi"
            target="runtime/JavatoDB2UDBAS400_V53TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoDB2UDBAS400_V5TypeMaps.xmi"
            target="runtime/JavatoDB2UDBAS400_V5TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoDB2UDBNT_V61TypeMaps.xmi"
            target="runtime/JavatoDB2UDBNT_V61TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoDB2UDBNT_V71TypeMaps.xmi"
            target="runtime/JavatoDB2UDBNT_V71TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoDB2UDBNT_V72TypeMaps.xmi"
            target="runtime/JavatoDB2UDBNT_V72TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoDB2UDBNT_V8TypeMaps.xmi"
            target="runtime/JavatoDB2UDBNT_V8TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoDB2UDBNT_V82TypeMaps.xmi"
            target="runtime/JavatoDB2UDBNT_V82TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoDB2UDBOS390_V6TypeMaps.xmi"
            target="runtime/JavatoDB2UDBOS390_V6TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoDB2UDBOS390_V7TypeMaps.xmi"
            target="runtime/JavatoDB2UDBOS390_V7TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoDB2UDBOS390_V8TypeMaps.xmi"
            target="runtime/JavatoDB2UDBOS390_V8TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoINFORMIX_V73TypeMaps.xmi"
            target="runtime/JavatoINFORMIX_V73TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoINFORMIX_V92TypeMaps.xmi"
            target="runtime/JavatoINFORMIX_V92TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoINFORMIX_V93TypeMaps.xmi"
            target="runtime/JavatoINFORMIX_V93TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoINFORMIX_V94TypeMaps.xmi"
            target="runtime/JavatoINFORMIX_V94TypeMaps.xmi">
      	 </mapping>
         <mapping
            source="JavatoORACLE_V8TypeMaps.xmi"
            target="runtime/JavatoORACLE_V8TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoORACLE_V9TypeMaps.xmi"
            target="runtime/JavatoORACLE_V9TypeMaps.xmi">
      	 </mapping>
         <mapping
            source="JavatoORACLE_V10TypeMaps.xmi"
            target="runtime/JavatoORACLE_V10TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoSYBASE_V1192TypeMaps.xmi"
            target="runtime/JavatoSYBASE_V1192TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoSYBASE_V12TypeMaps.xmi"
            target="runtime/JavatoSYBASE_V12TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoSYBASE_V125TypeMaps.xmi"
            target="runtime/JavatoSYBASE_V125TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoCLOUDSCAPE_V50TypeMaps.xmi"
            target="runtime/JavatoCLOUDSCAPE_V50TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoCLOUDSCAPE_V51TypeMaps.xmi"
            target="runtime/JavatoCLOUDSCAPE_V51TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoDB2CLOUDSCAPE_V81TypeMaps.xmi"
            target="runtime/JavatoDB2CLOUDSCAPE_V81TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoDERBY_V100TypeMaps.xmi"
            target="runtime/JavatoDERBY_V100TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoMSSQLSERVER_V70TypeMaps.xmi"
            target="runtime/JavatoMSSQLSERVER_V70TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoMSSQLSERVER_V7TypeMaps.xmi"
            target="runtime/JavatoMSSQLSERVER_V7TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoSQL92TypeMaps.xmi"
            target="runtime/JavatoSQL92TypeMaps.xmi">
      	 </mapping>
      	 <mapping
            source="JavatoSQL99TypeMaps.xmi"
            target="runtime/JavatoSQL99TypeMaps.xmi">
      	 </mapping>
   </extension>
</plugin>
