<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<plugin id="com.ibm.uddi.v3.management"
        name="uddiV3Management"
        version="5.0.0"
        vendor-name="IBM Corp."
        embedded="true"
        context-root="uddiV3Management">  

    <requires>
        <import plugin="com.ibm.ws.console.core"/>
    </requires>
      
    <extension point="com.ibm.ws.console.core.navigatorTask">
      <tasks>
        <categoryDefinition id="uddi" parent="root" icon="images/onepix.gif" label="uddi.navigation.category"/>
        <task id="uddimbean1task" 
                icon="images/onepix.gif" 
                label="uddi.navigation.uddiNodesTask" 
                view="/navigatorCmd.do?forwardName=uddi.nodes.main" 
                external="false">
            <category id="uddi"/>
        </task>
    </tasks>
	</extension>

    <extension point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
    </extension>

	
</plugin>


