<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

    <web-app  id="WebApp_1" >  
        
		<filter>
		   <filter-name>Trace_Tree_Cache_Init_Filter</filter-name>
		   <filter-class>com.ibm.ws.console.probdetermination.trace.tree.TraceTreeCacheInit</filter-class>
		</filter>
        <filter>
           <filter-name>Log_Viewer_Repository_Init_Filter</filter-name>
           <filter-class>com.ibm.ws.console.probdetermination.hpellogview.LogViewerRepositoryInitFilter</filter-class>
        </filter>

 
		<filter-mapping>
		   <filter-name>Trace_Tree_Cache_Init_Filter</filter-name>
		   <servlet-name>Trace Tree Servlet</servlet-name>
		</filter-mapping>
        <filter-mapping>
           <filter-name>Log_Viewer_Repository_Init_Filter</filter-name>
           <servlet-name>Log Viewer Servlet</servlet-name>
        </filter-mapping>
        <filter-mapping>
           <filter-name>Log_Viewer_Repository_Init_Filter</filter-name>
           <servlet-name>Log Export Servlet</servlet-name>
        </filter-mapping>
        <filter-mapping>
           <filter-name>Log_Viewer_Repository_Init_Filter</filter-name>
           <servlet-name>Instance List Servlet</servlet-name>
        </filter-mapping>
        <filter-mapping>
           <filter-name>Log_Viewer_Repository_Init_Filter</filter-name>
           <servlet-name>FFDC File View Servlet</servlet-name>
        </filter-mapping>
        <filter-mapping>
           <filter-name>Log_Viewer_Repository_Init_Filter</filter-name>
           <servlet-name>Log Instance Servlet</servlet-name>
        </filter-mapping>
        <filter-mapping>
           <filter-name>Log_Viewer_Repository_Init_Filter</filter-name>
           <servlet-name>Log Header Servlet</servlet-name>
        </filter-mapping>
        <filter-mapping>
           <filter-name>Log_Viewer_Repository_Init_Filter</filter-name>
           <servlet-name>Log Message Lookup Servlet</servlet-name>
        </filter-mapping>
        <filter-mapping>
           <filter-name>Log_Viewer_Repository_Init_Filter</filter-name>
           <servlet-name>Instance List Servlet</servlet-name>
        </filter-mapping>
        

       <servlet id="Servlet_TraceTree">
           <servlet-name>Trace Tree Servlet</servlet-name>
           <display-name>Trace Tree Servlet</display-name>
           <description>Provides strings to render trace tree</description>
           <servlet-class>com.ibm.ws.console.probdetermination.trace.tree.AsynchTraceTreeServlet</servlet-class>
           <load-on-startup></load-on-startup>
       </servlet>

       <servlet id="Servlet_TraceTree_Log">
           <servlet-name>Trace Tree Log Servlet</servlet-name>
           <display-name>Trace Tree Log Servlet</display-name>
           <description>Log messages and nls for browser</description>
           <servlet-class>com.ibm.ws.console.probdetermination.trace.tree.BrowserLogServlet</servlet-class>
           <load-on-startup></load-on-startup>
       </servlet>

       <servlet id="Servlet_LogViewer">
           <servlet-name>Log Viewer Servlet</servlet-name>
           <display-name>Log Viewer Servlet</display-name>
           <description>Provides logs from the repository</description>
           <servlet-class>com.ibm.ws.console.probdetermination.hpellogview.LogViewerServlet</servlet-class>
           <load-on-startup></load-on-startup>
       </servlet>

       <servlet id="Servlet_LogInstance">
           <servlet-name>Log Instance Servlet</servlet-name>
           <display-name>Log Instance Servlet</display-name>
           <description>Sets instance selection in the session</description>
           <servlet-class>com.ibm.ws.console.probdetermination.hpellogview.LogViewerInstanceServlet</servlet-class>
           <load-on-startup></load-on-startup>
       </servlet>

       <servlet id="Servlet_LogHeader">
           <servlet-name>Log Header Servlet</servlet-name>
           <display-name>Log Header Servlet</display-name>
           <description>Provides header for the selected instance</description>
           <servlet-class>com.ibm.ws.console.probdetermination.hpellogview.LogHeaderServlet</servlet-class>
           <load-on-startup></load-on-startup>
       </servlet>

       <servlet id="Servlet_InstanceList">
           <servlet-name>Instance List Servlet</servlet-name>
           <display-name>Instance List Servlet</display-name>
           <description>Provides list of instances from the repository</description>
           <servlet-class>com.ibm.ws.console.probdetermination.hpellogview.InstanceListServlet</servlet-class>
           <load-on-startup></load-on-startup>
       </servlet>

       <servlet id="Servlet_LogViewer_Filter">
           <servlet-name>Log Viewer Filter Servlet</servlet-name>
           <display-name>Log Viewer Filter Servlet</display-name>
           <description>Set filters for log viewer</description>
           <servlet-class>com.ibm.ws.console.probdetermination.hpellogview.LogViewerFilterServlet</servlet-class>
           <load-on-startup></load-on-startup>
       </servlet>
	   
	   
	   <servlet id="Log_Message_Lookup_Servlet">
           <servlet-name>Log Message Lookup Servlet</servlet-name>
           <display-name>Log Message Lookup Servlet</display-name>
           <description>Provided a message key lookup its explanation and useraction</description>
           <servlet-class>com.ibm.ws.console.probdetermination.hpellogview.LogMessageLookupServlet</servlet-class>
           <load-on-startup></load-on-startup>	   	   
	   	</servlet>

       <servlet id="Servlet_LogExport">
           <servlet-name>Log Export Servlet</servlet-name>
           <display-name>Log Export Servlet</display-name>
           <description>Provides log export from the repository</description>
           <servlet-class>com.ibm.ws.console.probdetermination.hpellogview.LogExportServlet</servlet-class>
           <load-on-startup></load-on-startup>
       </servlet>

       <servlet id="Servlet_FFDCFileView">
           <servlet-name>FFDC File View Servlet</servlet-name>
           <display-name>FFDC File View Servlet</display-name>
           <description>Provides ffdc log files</description>
           <servlet-class>com.ibm.ws.console.probdetermination.hpellogview.FFDCIncidentFileServlet</servlet-class>
           <load-on-startup></load-on-startup>
       </servlet>

       <servlet-mapping>
           <servlet-name>Trace Tree Servlet</servlet-name>
           <url-pattern>/getTraceStrings</url-pattern>
       </servlet-mapping>

       <servlet-mapping>
           <servlet-name>Log Viewer Servlet</servlet-name>
           <url-pattern>/logViewerServlet</url-pattern>
       </servlet-mapping>

       <servlet-mapping>
           <servlet-name>Log Instance Servlet</servlet-name>
           <url-pattern>/logViewerInstanceServlet</url-pattern>
       </servlet-mapping>

       <servlet-mapping>
           <servlet-name>Log Header Servlet</servlet-name>
           <url-pattern>/logHeaderServlet</url-pattern>
       </servlet-mapping>

       <servlet-mapping>
           <servlet-name>Instance List Servlet</servlet-name>
           <url-pattern>/instanceListServlet</url-pattern>
       </servlet-mapping>

       <servlet-mapping>
           <servlet-name>Log Viewer Filter Servlet</servlet-name>
           <url-pattern>/logViewerFilterServlet</url-pattern>
       </servlet-mapping>

       <servlet-mapping>
           <servlet-name>Trace Tree Log Servlet</servlet-name>
           <url-pattern>/traceLogServlet</url-pattern>
       </servlet-mapping>

       <servlet-mapping>
           <servlet-name>Log Message Lookup Servlet</servlet-name>
           <url-pattern>/logMessageLookupServlet</url-pattern>
       </servlet-mapping>

       <servlet-mapping>
           <servlet-name>Log Export Servlet</servlet-name>
           <url-pattern>/logExportServlet</url-pattern>
       </servlet-mapping>
       
       <servlet-mapping>
           <servlet-name>FFDC File View Servlet</servlet-name>
           <url-pattern>/ffdcFileViewServlet</url-pattern>
       </servlet-mapping>
       
       <security-constraint>
           <web-resource-collection>
               <web-resource-name>Protected Area</web-resource-name>
               <url-pattern>/getTraceStrings</url-pattern>
               <http-method>DELETE</http-method>
               <http-method>GET</http-method>
               <http-method>POST</http-method>
               <http-method>PUT</http-method>
           </web-resource-collection>
           <auth-constraint>
               <role-name>administrator</role-name>
               <role-name>operator</role-name>
               <role-name>configurator</role-name>
               <role-name>monitor</role-name>
           </auth-constraint>
           <user-data-constraint>
               <transport-guarantee>CONFIDENTIAL</transport-guarantee>
           </user-data-constraint>
       </security-constraint>
       
       <security-constraint>
           <web-resource-collection>
               <web-resource-name>Protected Area</web-resource-name>
               <url-pattern>/logViewerServlet</url-pattern>
               <http-method>DELETE</http-method>
               <http-method>GET</http-method>
               <http-method>POST</http-method>
               <http-method>PUT</http-method>
           </web-resource-collection>
           <auth-constraint>
               <role-name>administrator</role-name>
               <role-name>operator</role-name>
               <role-name>configurator</role-name>
               <role-name>monitor</role-name>
           </auth-constraint>
           <user-data-constraint>
               <transport-guarantee>CONFIDENTIAL</transport-guarantee>
           </user-data-constraint>
       </security-constraint>

       <security-constraint>
           <web-resource-collection>
               <web-resource-name>Protected Area</web-resource-name>
               <url-pattern>/logViewerInstanceServlet</url-pattern>
               <http-method>DELETE</http-method>
               <http-method>GET</http-method>
               <http-method>POST</http-method>
               <http-method>PUT</http-method>
           </web-resource-collection>
           <auth-constraint>
               <role-name>administrator</role-name>
               <role-name>operator</role-name>
               <role-name>configurator</role-name>
               <role-name>monitor</role-name>
           </auth-constraint>
           <user-data-constraint>
               <transport-guarantee>CONFIDENTIAL</transport-guarantee>
           </user-data-constraint>
       </security-constraint>

       <security-constraint>
           <web-resource-collection>
               <web-resource-name>Protected Area</web-resource-name>
               <url-pattern>/logHeaderServlet</url-pattern>
               <http-method>DELETE</http-method>
               <http-method>GET</http-method>
               <http-method>POST</http-method>
               <http-method>PUT</http-method>
           </web-resource-collection>
           <auth-constraint>
               <role-name>administrator</role-name>
               <role-name>operator</role-name>
               <role-name>configurator</role-name>
               <role-name>monitor</role-name>
           </auth-constraint>
           <user-data-constraint>
               <transport-guarantee>CONFIDENTIAL</transport-guarantee>
           </user-data-constraint>
       </security-constraint>
       
       <security-constraint>
           <web-resource-collection>
               <web-resource-name>Protected Area</web-resource-name>
               <url-pattern>/instanceListServlet</url-pattern>
               <http-method>DELETE</http-method>
               <http-method>GET</http-method>
               <http-method>POST</http-method>
               <http-method>PUT</http-method>
           </web-resource-collection>
           <auth-constraint>
               <role-name>administrator</role-name>
               <role-name>operator</role-name>
               <role-name>configurator</role-name>
               <role-name>monitor</role-name>
           </auth-constraint>
           <user-data-constraint>
               <transport-guarantee>CONFIDENTIAL</transport-guarantee>
           </user-data-constraint>
       </security-constraint>
       
       <security-constraint>
           <web-resource-collection>
               <web-resource-name>Protected Area</web-resource-name>
               <url-pattern>/logViewerFilterServlet</url-pattern>
               <http-method>DELETE</http-method>
               <http-method>GET</http-method>
               <http-method>POST</http-method>
               <http-method>PUT</http-method>
           </web-resource-collection>
           <auth-constraint>
               <role-name>administrator</role-name>
               <role-name>operator</role-name>
               <role-name>configurator</role-name>
               <role-name>monitor</role-name>
           </auth-constraint>
           <user-data-constraint>
               <transport-guarantee>CONFIDENTIAL</transport-guarantee>
           </user-data-constraint>
       </security-constraint>
       <security-constraint>
           <web-resource-collection>
               <web-resource-name>Protected Area</web-resource-name>
               <url-pattern>/traceLogServlet</url-pattern>
               <http-method>DELETE</http-method>
               <http-method>GET</http-method>
               <http-method>POST</http-method>
               <http-method>PUT</http-method>
           </web-resource-collection>
           <auth-constraint>
               <role-name>administrator</role-name>
               <role-name>operator</role-name>
               <role-name>configurator</role-name>
               <role-name>monitor</role-name>
           </auth-constraint>
           <user-data-constraint>
               <transport-guarantee>CONFIDENTIAL</transport-guarantee>
           </user-data-constraint>
       </security-constraint>
       <security-constraint>
           <web-resource-collection>
               <web-resource-name>Protected Area</web-resource-name>
               <url-pattern>/logMessageLookupServlet</url-pattern>
               <http-method>DELETE</http-method>
               <http-method>GET</http-method>
               <http-method>POST</http-method>
               <http-method>PUT</http-method>
           </web-resource-collection>
           <auth-constraint>
               <role-name>administrator</role-name>
               <role-name>operator</role-name>
               <role-name>configurator</role-name>
               <role-name>monitor</role-name>
           </auth-constraint>
           <user-data-constraint>
               <transport-guarantee>CONFIDENTIAL</transport-guarantee>
           </user-data-constraint>
       </security-constraint>
       <security-constraint>
           <web-resource-collection>
               <web-resource-name>Protected Area</web-resource-name>
               <url-pattern>/logExportServlet</url-pattern>
               <http-method>DELETE</http-method>
               <http-method>GET</http-method>
               <http-method>POST</http-method>
               <http-method>PUT</http-method>
           </web-resource-collection>
           <auth-constraint>
               <role-name>administrator</role-name>
               <role-name>operator</role-name>
               <role-name>configurator</role-name>
               <role-name>monitor</role-name>
           </auth-constraint>
           <user-data-constraint>
               <transport-guarantee>CONFIDENTIAL</transport-guarantee>
           </user-data-constraint>
       </security-constraint>
       <security-constraint>
           <web-resource-collection>
               <web-resource-name>Protected Area</web-resource-name>
               <url-pattern>/ffdcFileViewServlet</url-pattern>
               <http-method>DELETE</http-method>
               <http-method>GET</http-method>
               <http-method>POST</http-method>
               <http-method>PUT</http-method>
           </web-resource-collection>
           <auth-constraint>
               <role-name>administrator</role-name>
               <role-name>operator</role-name>
               <role-name>configurator</role-name>
               <role-name>monitor</role-name>
           </auth-constraint>
           <user-data-constraint>
               <transport-guarantee>CONFIDENTIAL</transport-guarantee>
           </user-data-constraint>
       </security-constraint>
    </web-app>
