<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" id="WebApp_1">
  <display-name>adminconsole</display-name>
  <servlet>
    <servlet-name>EventInitializer</servlet-name>
    <servlet-class>com.ibm.ws.console.events.EventListenerServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>downloadFile</servlet-name>
    <servlet-class>com.ibm.ws.console.core.servlet.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>com.ibm.ws.console.core.servlet.StatusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NodeSyncStatus</servlet-name>
    <servlet-class>com.ibm.ws.console.core.servlet.NodeSyncStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DynamicTreeServlet</servlet-name>
    <servlet-class>com.ibm.ws.console.core.servlet.DynamicTreeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DojoServlet</servlet-name>
    <servlet-class>com.ibm.ws.console.core.servlet.ArchiveServlet</servlet-class>
    <init-param>
      <param-name>archivePath</param-name>
      <param-value>/WEB-INF/dojo.zip</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadFile</servlet-name>
    <url-pattern>/secure/downloadFile/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NodeSyncStatus</servlet-name>
    <url-pattern>/nodesyncstat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynamicTreeServlet</servlet-name>
    <url-pattern>/dts/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DojoServlet</servlet-name>
    <url-pattern>/dojo/*</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/ibmcommon.tld</taglib-uri>
      <taglib-location>/WEB-INF/ibmcommon.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/WCLTagLib.tld</taglib-uri>
      <taglib-location>/WEB-INF/WCLTagLib.tld</taglib-location>
    </taglib>
  </jsp-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/nodesyncstat</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
      <role-name>operator</role-name>
      <role-name>configurator</role-name>
      <role-name>monitor</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/status/*</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
      <role-name>operator</role-name>
      <role-name>configurator</role-name>
      <role-name>monitor</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/dts/*</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
      <role-name>operator</role-name>
      <role-name>configurator</role-name>
      <role-name>monitor</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/guidedactivity/*</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
      <role-name>operator</role-name>
      <role-name>configurator</role-name>
      <role-name>monitor</role-name>
      <role-name>nobody</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>
