<?xml version="1.0" encoding="UTF-8"?>

<!--THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-i63, 5724-H88(C) COPYRIGHT International Business Machines Corp., 1997, 2004
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.--> 

<!DOCTYPE plugin SYSTEM "plugin.dtd">

<plugin id="com.ibm.ws.console.clustering" 
        name="clustering" 
        version="1.0.0" 
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="clustering">  
   
<requires>
    <import plugin="com.ibm.ws.console.core"/>
    <!--<import plugin="com.ibm.ws.console.environment"/>-->
    <import plugin="com.ibm.ws.console.servermanagement"/>
    <import plugin="com.ibm.ws.console.dynacache"/>
    <import plugin="com.ibm.ws.console.distmanagement"/>
</requires>

<extension point = "com.ibm.ws.console.core.navigatorTask">
	<tasks>
		<categoryDefinition id="clusters" icon="/com.ibm.ws.console.servermanagement/images/onepix.gif" parent="servermanagement" label="nav.clusters" weight="3"/>
	</tasks>
</extension>


<extension point="com.ibm.ws.console.core.navigatorTask">
    <tasks>
        <task id="ManageClusters" icon="/com.ibm.ws.console.distmanagement/images/onepix.gif" label="Manage.Application.Server.Clusters" view="/navigatorCmd.do?forwardName=ServerCluster.content.main" external="false" weight="10">
            <category id="clusters"/>
        </task>
        <task id="ViewClusterTopology" icon="/com.ibm.ws.console.distmanagement/images/onepix.gif" label="View.Cluster.Topology" view="/navigatorCmd.do?forwardName=ClusterTopology.content.main" external="false" weight="40">
            <category id="clusters"/>
        </task>   
        <task id="clustercheatsheet" icon="" label="guidedactivity.clustering" view="/navigatorCmd.do?forwardName=guidedactivity.clustering" external="false" weight="70">
            <category id="guidedactivities"/>
        </task>
    </tasks>    
</extension>   

</plugin>

