<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="com.ibm.wsspi.extension.protectedclasses-policy">
    <exception name="com.ibm.etools.marshall"/>
    <exception name="com.ibm.etools.ctc"/>
    <exception name="com.ibm.etools.xsltypeconverter.XSLPrimitiveTypeConverter"/>
  </extension>
</plugin>