<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<plugin id="com.ibm.ws.console.pmirm"
        name="pmirm"
        version="1.0.0"
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="pmirm">  

<requires>
    <import plugin="com.ibm.ws.console.core"/>
</requires>

<extension point="com.ibm.ws.console.core.navigatorTask">
    <tasks>
       <categoryDefinition id="monitoringcategory" parent="root" icon="images/onepix.gif" label="nav.monitoring.tuning" weight="80"/>
       <task id="pmirm" icon="images/onepix.gif" label="pmi.main.label" view="/navigatorCmd.do?forwardName=PMIRequestMetrics.config.view" external="false" weight="10">
            <category id="monitoringcategory"/>
        </task>
    
    </tasks>
</extension>

<extension point="com.ibm.ws.console.core.help">
  <toc file="toc.xml" primary="true" />
</extension>



<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="pmirm.PMIRequestMetrics1" contextType="PMIRequestMetrics">
        <link
              categoryId="additional.properties"
              label="PMIRequestMetrics.filters.displayName"
              description="PMIRequestMetrics.filters.description"
              actionURI="com.ibm.ws.console.pmirm.forwardCmd.do?forwardName=PMIRMFilter.content.main&amp;sfname=filters"
              summaryViewURI="PmiRmFilter.summary.view">
        </link>
    </linkSet>
</extension>

<extension point="com.ibm.websphere.wsc.form">
    <form id="form1" contextType="PMIRequestMetrics">
        <field attributeName="enableARM"
            perspective="config"
            categoryId="PmiRequestMetrics.loggingtype.displayname">
            </field>
        <field attributeName="armType"
        perspective="config"
        categoryId="PmiRequestMetrics.loggingtype.displayname">
        </field>
        
        <field attributeName="armTransactionFactory"
                perspective="config"
                categoryId="PmiRequestMetrics.loggingtype.displayname">
        </field>
        
        <field attributeName="enableLog"
                perspective="config"
                categoryId="PmiRequestMetrics.loggingtype.displayname">
        </field>

        
        </form>
        </extension>

<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="pmirm.PMIRMFilter1" contextType="PMIRMFilter">
        <link
              categoryId="additional.properties"
              label="PMIRMFilter.filterValues.displayName"
              description="PMIRMFilter.filterValues.description"
              actionURI="com.ibm.ws.console.pmirm.forwardCmd.do?forwardName=PMIRMFilterValue.content.main&amp;sfname=filterValues">
        
        </link>
    </linkSet>
</extension>

<extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="pmirm.PMIRMFilterValue1" contextType="PMIRMFilterValue">
        <action
              enablesFor="Collection"
              label="button.new"
              actionURI="pMIRMFilterValueCollection.do"
              role="administrator,configurator">
        </action>
        <action
              enablesFor="Collection"
              label="button.delete"
              actionURI="pMIRMFilterValueCollection.do"
              role="administrator,configurator">
        </action>
    </actionSet>
</extension>

<extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="pmirm.PMIRMFilterValue1" contextType="PMIRMFilterValue">
        <item
              attributeName="value"
              sortable="sort"
              itemURI="pMIRMFilterValueCollection.do?EditAction=true"
              label="PMIRMFilterValue.value.displayName">
        </item>
        <item
              attributeName="enable"
              sortable="sort"
              itemURI=""
              label="PMIRMFilterValue.enable.displayName">
        </item>
    </collectionItem>
</extension>
<extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="pmirm.PMIRMFilter1" contextType="PMIRMFilter">
        <item
              attributeName="type"
              sortable="sort"
              itemURI="pMIRMFilterCollection.do?EditAction=true"
              label="PMIRMFilter.type.displayName">
        </item>
        <item
              attributeName="enable"
              sortable="sort"
              itemURI=""
              label="PMIRMFilter.enable.displayName">
        </item>
    </collectionItem>
</extension>

<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="pmirm.PMIRMFilter1" contextType="PMIRMFilter">
        <tab
              label="tab.configuration"
              contentURI="PMIRMFilter.config.tab.view">
        </tab>
    </detailTab>
</extension>
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="pmirm.PMIRMFilterValue1" contextType="PMIRMFilterValue">
        <tab
              label="tab.configuration"
              contentURI="PMIRMFilterValue.config.tab.view">
        </tab>
    </detailTab>
</extension>
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="pmirm.PMIRequestMetrics1" contextType="PMIRequestMetrics">
        <tab
              label="tab.configuration"
              contentURI="PMIRequestMetrics.config.tab.view">
        </tab>
    </detailTab>
</extension>



</plugin>
