/* cells */
.dojoxGrid-cell {
    border: 1px solid;
    border-color: #EBEADB;
    border-right-color: #D5CDB5;
    padding: 3px 3px 3px 3px;
    text-align: left;
    overflow: hidden;
    font-size: 91%;
}

.dojoxGrid-cell-focus {
    border: 1px dashed blue;
}

.dojoxGrid-cell-over {
    border: 1px dotted #FEBE47;
}

.dojoxGrid-cell-focus.dojoxGrid-cell-over {
    border: 1px dotted green;
}

.dojoxGrid-cell-clip {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* rows */
.dojoxGrid-row {
    position: relative;
    width: 9000em;
}

.dojoxGrid-row { /*border: 1px solid #E8E4D8;*/
    /*border: 1px solid #E8E4D8;*/ /*border-color: #F8F7F1;*/
    /*padding: 0 0 1px 0;*/
    border: none;
    border-left: none;
    border-right: none;
    background-color: white;
    border-top: none;
}

.dojoxGrid-row-over { /*border-top-color: #FEBE47;*/
    /*border-bottom-color: #FEBE47;*/
    border-top-color: #cccccc;
    border-bottom-color: #cccccc;
}

.dojoxGrid-row-over .dojoxGrid-cell {
    background-color: #60a1ea;
    /*color: #fff;*/
    /*background: url(../../../../dijit/themes/tundra/images/tabEnabled.png) #e9e9e9 repeat-x top;*/
}

.dojoxGrid-row-odd {
    background-color: #f2f5f9;
    /*background-color: #F9F7E8;*/
}

.dojoxGrid-row-selected { 
    background-color: #aec7e3; 
    /*
    background: url(../../../../dijit/themes/tundra/images/tabDisabled.png) #dddddd repeat-x top;
                                                          */

}

.dojoxGrid-row-table {
    table-layout: fixed;
    width: 0;
    border-collapse: collapse;
}

.dojoxGrid-invisible {
    visibility: hidden;
}

.dojoxGrid {
    position: relative;
    background-color: #EBEADB;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    -moz-outline-style: none;
    outline: none;
    overflow: hidden;
    height: 0;
}

/* master header */
.dojoxGrid-master-header {
    position: relative;
}

/* master view */
.dojoxGrid-master-view {
    position: relative;
}

/* header */
.dojoxGrid-header {
    position: absolute;
    overflow: hidden;
}
.dojoxGrid-header { /*background-color: #E8E1CF;*/
    background-color: #D1D9E8;
    background-image: none;
    /*border-left: 1px solid #FFFFFF;*/
    border-top: 1px solid #FFFFFF;
    color: #000000;
    font-family: Verdana, Helvetica, sans-serif;
    /*font-size: 78%;*/
    font-weight: normal;
    /*padding-left: 0.35em;*/
    text-align: left;
}

.dojoxGrid-header table {
    text-align: center;
}

.dojoxGrid-header .dojoxGrid-cell-content {
    text-align: center;
}

.dojoxGrid-header .dojoxGrid-cell {
    background-color: #D1D9E8;
    background-image: none;
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    color: #000000;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 91%;
    font-weight: normal;
    /*padding-left: 0.35em;*/
    text-align: left;
}

.dojoxGrid-header .dojoxGrid-cell-over {
    background-image: none;
    background-color: white;
    border-bottom-color: #FEBE47;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom-width: 3px;
}

.dojoxGrid-sort-down {
    background: url(images/grid_sort_down.gif) left no-repeat;
    padding-left: 16px;
    margin-left: 4px;
}

.dojoxGrid-sort-up {
    background: url(images/grid_sort_up.gif) left no-repeat;
    padding-left: 16px;
    margin-left: 4px;
}

.dojoxGrid-view {
    position: absolute;
    overflow: hidden;
}

.dojoxGrid-hidden-focus {
    position: absolute;
    left: -1000px;
    top: -1000px;
    height: 0px;
    width : 0px;
}

/* content */
.dojoxGrid-scrollbox {
    position: relative;
    overflow: scroll;
    background-color: white;
    width: 100%;
}

.dojoxGrid-content {
    position: relative;
    overflow: hidden;
    -moz-outline-style: none;
    outline: none;
}
/*make the drop down similar to was style */
.dijitComboBox .dijitArrowButton .dijitArrowButtonInner {
    background-color:inactivecaption;    
    background:url("images/spriteArrows.png") no-repeat scroll 0px center;
    width: 7px;
    margin: 0px 4px 0px 5px;
    
}
/* make the select text box similar */
/* this also applies to normal text box */
.dijitTextBox, .dijitComboBox, .dijitSpinner, .dijitInlineEditor input, .dijitTextArea {
    background-color:#FFFFFF;
    border-color:#336699 #8CB1D1 #8CB1D1 #336699;
    border-style:solid;
    border-width:1px;
    font-family:Verdana,sans-serif;
    font-size:114%;
    margin-left:0.5em;
    margin-top:0;
    padding:1px;

}

/* TimePicker */

.dijitTimePickerItemInner {
    text-align:center;
    border:0;
    padding:2px 8px 2px 8px;
}
.dijitTimePickerTick {
    /* opacity:0.1 !important; */
    color:#d1d9e8;	
    border-bottom:1px solid #d1d9e8;
    border-top:1px solid #d1d9e8;
    position:relative;
}
.dijitTimePickerTick .dijitTimePickerItemInner {
    font-size:0.25em;
}
.dijitTimePickerMarker {
    background-color:#eaf1ff;
    border-top:1px solid #999;
    border-bottom:1px solid #999;
}

.dijitTimePickerItemHover {
    opacity:1 !important;
    background-color:#8CB1D1;
    color:#fff;
    border-top:1px solid #333;
    border-bottom:1px solid #333;
    cursor:pointer;
}
.dijitTimePickerMarker.dijitTimePickerItemHover {
    font-size:1.3em;
}

.dijitTimePickerItemHover .dijitTimePickerItemInner {
    display:block;
    overflow:visible;
    background-color:#8CB1D1;
    font-size:1em;
}

.dijitTimePickerItemSelected {
    font-weight:bold;
    color:#333;
    background-color:#5495d5 !important;
}

.dijit_a11y .dijitTimePickerItem {
    border-bottom:1px solid #333;	
}
/* for buttons submit */
table .dijitButton .dijitButtonNode, table .dijitComboButton .dijitButtonNode {
    background: #EAF1FF repeat-x scroll left top;
    /*border-color:#8CB1D1 #336699 #336699 #8CB1D1;
    border-style:solid;
    border-width:1px;*/
font-size:84%;
/*margin-bottom:1em;
margin-top:0;*/
font-family:Verdana,Helvetica,sans-serif;
}
.dijitTooltipContainer {
	background-color: #d1d9e8;
	border:3px solid yellow;
	padding:0.45em;
}

.dijitCalendarMonthContainer th {
	/* month header cell */
	background:#d1d9e8 repeat-x top;
	padding-top:.3em;
	padding-bottom:.2em;
	text-align:center;
}
.dijitDialogTitleBar {
	/* outer container for the titlebar of the dialog */
	/*background: #fafafa url("images/titleBar.png") repeat-x top left;*/
	 background:#5495D5 repeat-x top left;
	/* border: 1px solid #bfbfbf; */
	padding: 5px 6px 3px 2px;
	cursor: move;
	outline:0; /* remove this line if keyboard focus on dialog startup is an issue. tab still takes you to first focusable element */
}
/* rowbar */

.dojoxGrid-rowbar { 
	border: none;
	border-color: #F6F4EB #ACA899 #ACA899 #F6F4EB;
	background: url(images/titleBar.png) #e9e9e9 repeat-y right;
    border-style: solid solid none none;
	border-right: 1px solid #cccccc;
	padding: 0px;
}
.dojoxGrid-rowbar-selected {
	background-color: #D9E8F9;
	background-image: none;
	background: url(images/titleBar.png) #D9E8F9 repeat-x top;
	border-right: 1px solid #cccccc;
	background-position: center;
	background-repeat: no-repeat;
}

/*dijitCheckBoxInput {
	opacity:1;
}*/

 .dijitTreeRowSelected .dijitTreeLabel {
	outline: 1px #D1D9E8 dotted;
	/*background:#dde7f2;*/
    border: 1px solid green;
    background-color: Highlight;
    color: HighlightText;
    font-weight:bold;
}

 .dijitFolderOpened {
	background: url('/ibm/console/images/open_folder.gif') no-repeat;
}

 .dijitFolderClosed {
	background: url('/ibm/console/images/closed_folder.gif') no-repeat;
}
.dijitLeaf {
	/*background:url("images/leaf.gif") no-repeat scroll 0 0 transparent; */
	background:url("/ibm/console/images/ApplicationServer.gif") no-repeat scroll 0 0 transparent; 
}