.dijitMenuItem {
	text-align: right;
	font-family: sans-serif;
	margin: 0;
	list-style-type: none;
}

.dijitRtl  .dijitMenuItem .dijitMenuItemIcon {
	padding-left: 3px;
	padding-right: 0px;
}

.dijitRtl  .dijitMenuItem .dijitMenuExpand {
	background-position: -7px 0px;
}
