<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            version="7"
            product="SQL Server"
            allowsConnections="false"
            productDisplayString="%7ProductString"
            versionDisplayString="%7VersionString"
            file="runtime/vendors/SQL Server_7/SQL Server_7.xmi">
      </definition>
   </extension>
   <!--extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="SQL Server_7.xmi"
            target="runtime/vendors/SQL Server_7/SQL Server_7.xmi">
      </mapping>
   </extension-->

</plugin>
