<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<!--
     5724-J34 (C) COPYRIGHT International Business Machines Corp. 2005, 2006
     The source code for this program is not published or otherwise divested
     of its trade secrets, irrespective of what has been deposited with the
     U.S. Copyright Office.
-->

<plugin id="com.ibm.ws.console.hadmgr"
        name="hadmgr"
        version="6.1.0"
        provider-name="IBM Corp. - WebSphere XD"
        embedded="true"
        context-root="hadmgr">

    <requires>
        <import plugin="com.ibm.ws.console.core"/>
    </requires>

	<!-- Replace Base's Link -->
	<!-- Removed for XD 6.1.
	<extension point="com.ibm.ws.console.core.navigatorTask">
	    <tasks>
            <task id="ManageCellAgent"
                  label="manage.cell.agent"
                  icon="/com.ibm.ws.console.distmanagement/images/onepix.gif"
                  view="/com.ibm.ws.console.xd.distmanagement.dmgrForwardCmd.do"
                  external="false"
                  weight="20">
                <category id="systemadmin"/>
            </task>
        </tasks>
    </extension>
    -->

	<!-- Additional Properties -->
	<!-- XD61: Static Link under Base's Detail View -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="distmanagement.CellManager1" contextType="CellManager">
            <link
                categoryId="additional.properties"
        		label="hadmgr.link.displayName"
                description="hadmgr.link.description"
                actionURI="com.ibm.ws.console.xd.distmanagement.dmgrForwardCmd.do?">
            </link>
        </linkSet>
    </extension>

    <!-- For Help -->
    <extension point="com.ibm.ws.console.core.help">
        <toc file="toc.xml" primary="true" />
    </extension>

    <!-- Deployment Manager Collection -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="XDCellManager.content.main" contextType="XDCellManager.content.main">
            <item
            	attributeName="node"
                sortable="sort"
                itemURI="DeploymentManagerCollection.do?ViewAction=true"
                label="hadmgr.node">
          	</item>
            <item
                attributeName="mode"
                sortable="sort"
                itemURI=""
                label="hadmgr.mode">
          	</item>
            <item
                attributeName="status"
                sortable="sort"
                itemURI=""
                label="hadmgr.status">
            </item>
        </collectionItem>
    </extension>

    <!-- Copied from Base for Detail View -->
    <extension point="com.ibm.websphere.wsc.link">
        <linkSet id="hadmgr.XDCellManager1" contextType="XDCellManager">
            <link
                categoryId="additional.properties"
                label="Server.services.ObjectRequestBroker.displayName"
                description="Server.services.ObjectRequestBroker.description"
                actionURI="com.ibm.ws.console.distmanagement.forwardCmd.do?forwardName=ObjectRequestBroker.config.view&amp;sfname=services&amp;lastPage=XDCellManager.config.view">
            </link>
            <link
                categoryId="additional.properties"
                label="Server.adminService.displayName"
                description="Server.adminService.description"
                actionURI="com.ibm.ws.console.distmanagement.forwardCmd.do?forwardName=AdminService.config.view&amp;sfname=services&amp;lastPage=XDCellManager.config.view">
            </link>
            <link
                categoryId="additional.properties"
                label="ServerManagement.TraceService.displayName"
                description="ServerManagement.TraceService.description"
                actionURI="com.ibm.ws.console.servermanagement.forwardCmd.do?forwardName=TraceService.config.view&amp;lastPage=XDCellManager.config.view">
            </link>
            <link
                categoryId="additional.properties"
                label="ServerManagement.logsAndTrace.displayName"
                description="ServerManagement.logsAndTrace.description"
                actionURI="com.ibm.ws.console.probdetermination.forwardCmd.do?forwardName=Logsandtrace.content.list&amp;lastPage=XDCellManager.config.view">
            </link>
            <link
                categoryId="additional.properties"
                label="handlers.configspec.label"
                description="handlers.configspec.label"
                actionURI="com.ibm.ws.console.probdetermination.forwardCmd.do?forwardName=LogHandlers.configspec.view&amp;lastPage=XDCellManager.config.view">
                <compatibility>
                    <match key="com.ibm.websphere.baseProductMajorVersion" value="[6-9]"/>
                </compatibility>
            </link>
            <link
                categoryId="additional.properties"
                label="Server.customServices.displayName"
                description="Server.customServices.description"
                actionURI="com.ibm.ws.console.servermanagement.forwardCmd.do?forwardName=CustomService.content.main&amp;sfname=customServices&amp;lastPage=XDCellManager.config.view">
            </link>
            <link
                categoryId="javaprocessmanagement.properties"
                label="ProcessDef.displayName"
                description="ProcessDef.description"
                actionURI="com.ibm.ws.console.servermanagement.forwardCmd.do?forwardName=ProcessDef.config.view&amp;sfname=processDefinitions&amp;lastPage=XDCellManager.config.view">
                <compatibility>
    		        <match key="com.ibm.websphere.nodeOperatingSystem" value="(os400|aix|hpux|linux|solaris|windows)"/>
     	        </compatibility>
            </link>
            <link
                categoryId="javaprocessmanagement.properties"
                label="ProcessDef.displayName"
                description="ProcessDef.description"
                actionURI="com.ibm.ws.console.servermanagement.forwardCmd.do?forwardName=ProcessDef.content.main&amp;sfname=processDefinitions&amp;lastPage=XDCellManager.config.view">
                <compatibility>
    		        <match key="com.ibm.websphere.nodeOperatingSystem" value="(os390)"/>
     	        </compatibility>
            </link>
            <link
                categoryId="javaprocessmanagement.properties"
                label="Server.serverInstance.displayName"
                description="Server.serverInstance.description"
                actionURI="com.ibm.ws.console.servermanagement.forwardCmd.do?forwardName=ServerInstance.config.view&amp;sfname=serverInstance&amp;lastPage=XDCellManager.config.view">
                <compatibility>
                    <match key="com.ibm.websphere.nodeOperatingSystem" value="(os390)"/>
                </compatibility>
            </link>
            <link
                categoryId="additional.properties"
                label="NamedEndPoint.displayName"
                description="EndPoint.description"
                actionURI="com.ibm.ws.console.servermanagement.forwardCmd.do?forwardName=NamedEndPoint.content.main&amp;sfname=specialEndpoints&amp;lastPage=XDCellManager.config.view"
                summaryViewURI="NamedEndPoint.summary.view">
            </link>
            <link
                categoryId="additional.properties"
                label="webcontainer.channelfw.transports.displayName"
                description="webcontainer.channelfw.transports.description"
                actionURI="com.ibm.ws.console.channelfw.forwardCmd.do?forwardName=Chain.content.main&amp;lastPage=XDCellManager.config.view&amp;chainAcceptorFilter=WebContainerInboundChannel&amp;chainEndPointFilter=null">
            </link>
            <link
                categoryId="additional.properties"
                label="webcontainer.httptransports.displayName"
                description="webcontainer.httptransports.description"
                actionURI="com.ibm.ws.console.servermanagement.forwardCmd.do?forwardName=HTTPTransport.content.main&amp;sfname=transports&amp;lastPage=XDCellManager.config.view&amp;parentType=WebContainer&amp;resourceUri=server.xml">
                <compatibility>
                    <match key="com.ibm.websphere.nodeOperatingSystem" value="(os390)"/>
                </compatibility>
            </link>
        </linkSet>
    </extension>

    <extension point="com.ibm.websphere.wsc.form">
        <form id="XDCellManager.config.general.properties" contextType="XDCellManager">
            <field attributeName="shortName"
                   perspective="config">
                <compatibility>
                    <match key="com.ibm.websphere.nodeOperatingSystem" value="(os390)"/>
                </compatibility>
            </field>
            <field attributeName="uniqueId"
                   perspective="config">
                <compatibility>
                    <match key="com.ibm.websphere.nodeOperatingSystem" value="(os390)"/>
                </compatibility>
            </field>
        </form>
    </extension>

    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="hadmgr.XDCellManager.Detail1" contextType="XDCellManager">
            <action
                enablesFor="Detail"
                role="administrator,operator"
                label="button.stop"
                actionURI="XDCellManagerDetail.do">
            </action>
        </actionSet>
    </extension>

    <extension point="com.ibm.websphere.wsc.detailTab">
        <detailTab id="hadmgr.XDCellManager.DetailTab1" contextType="XDCellManager">
            <tab
                label="tab.runtime"
                contentURI="XDCellManager.runtime.tab.view">
            </tab>
            <tab
                label="tab.configuration"
                contentURI="XDCellManager.config.tab.view">
            </tab>
        </detailTab>
    </extension>

</plugin>
