<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<!-- Definitions for WebSphere Application Server Administrative Console   -->
<!-- 5724-I63, 5724-H88 (C) COPYRIGHT International Business Machines Corp. 2003, 2004 -->
<!-- All Rights Reserved * Licensed Materials - Property of IBM -->

<web-app>
</web-app>