<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            version="15.0"
            product="Sybase ASE"
            productDisplayString="%15.0ProductString"
            versionDisplayString="%15.0VersionString"
            file="runtime/vendors/Sybase_ASE_15.0/Sybase_ASE_15.0.xmi">
      </definition>
      <definition
            version="15.5"
            product="Sybase ASE"
            productDisplayString="%15.5ProductString"
            versionDisplayString="%15.5VersionString"
            file="runtime/vendors/Sybase_ASE_15.5/Sybase_ASE_15.5.xmi">
      </definition>
      <definition
            version="15.7"
            product="Sybase ASE"
            productDisplayString="%15.7ProductString"
            versionDisplayString="%15.7VersionString"
            file="runtime/vendors/Sybase_ASE_15.7/Sybase_ASE_15.7.xmi">
      </definition>
   </extension>

</plugin>
