<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Headless mode for test program.						 -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
   <extension
         id="SQLParserTest"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.ibm.etools.sqlparsetest.SQLParserTest">
         </run>
      </application>
   </extension>

</plugin>
