<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">
 
<plugin id="com.ibm.ws.console.eba"
           name="eba"
           version="1.0.0"
           vendor-name="IBM Corp. - WebSphere Server Group"
           embedded="true"
           context-root="eba">

    <requires>
      <import plugin="com.ibm.ws.console.core"/>
      <import plugin="com.ibm.ws.console.blamanagement"/>
      <import plugin="com.ibm.ws.console.resources"/>
    </requires>

    <extension point="com.ibm.websphere.wsc.detailTab">
        <detailTab id="OBRInternalRepository.detailTab" contextType="OBRInternalRepository" >
            <tab label="tab.configuration" contentURI="OBRInternalRepository.details.main" />
        </detailTab>
    </extension>

    <extension point="com.ibm.websphere.wsc.detailTab">
        <detailTab id="ManageExtensions.detailTab" contextType="ManageExtensions" >
            <tab label="tab.configuration" contentURI="ManageExtensions.details.main" />
        </detailTab>
	</extension>

    <extension point="com.ibm.websphere.wsc.detailTab">
        <detailTab id="AddExtension.detailTab" contextType="AddExtension" >
            <tab label="tab.configuration" contentURI="AddExtension.details.main" />
        </detailTab>
	</extension>

    <extension point="com.ibm.websphere.wsc.detailTab" >
        <detailTab id="OBRRepository.detailTab" contextType="OBRRepository" >
            <tab label="tab.configuration" contentURI="OBRRepository.config.tab.view" />
        </detailTab>
    </extension>
    
    <extension point="com.ibm.websphere.wsc.detailTab" >
        <detailTab id="BundleCacheManager.detailTab" contextType="BundleCacheManager" >
            <tab label="tab.configuration" contentURI="BundleCacheManager.config.tab.view" />
        </detailTab>
    </extension>
    
    <extension point="com.ibm.websphere.wsc.detailTab" >
        <detailTab id="OSGiApplicationConsole.bundle.detailTab" contextType="OSGiApplicationConsoleBundle" >
            <tab label="tab.configuration" contentURI="OSGiApplicationConsole.bundle.config.tab.view" />
        </detailTab>
    </extension>
    
    <extension point="com.ibm.websphere.wsc.detailTab" >
        <detailTab id="OSGiApplicationConsole.framework.detailTab" contextType="OSGiApplicationConsoleFramework" >
            <tab label="tab.configuration" contentURI="OSGiApplicationConsole.framework.config.tab.view" />
        </detailTab>
    </extension>
    
    <extension point="com.ibm.websphere.wsc.detailTab" >
        <detailTab id="OSGiApplicationConsole.service.detailTab" contextType="OSGiApplicationConsoleService" >
            <tab label="tab.configuration" contentURI="OSGiApplicationConsole.service.config.tab.view" />
        </detailTab>
    </extension>
    
    <extension point="com.ibm.websphere.wsc.detailTab" >
        <detailTab id="OSGiApplicationConsole.package.detailTab" contextType="OSGiApplicationConsolePackage" >
            <tab label="tab.configuration" contentURI="OSGiApplicationConsole.package.config.tab.view" />
        </detailTab>
    </extension>
    
    <extension point="com.ibm.websphere.wsc.detailTab" >
        <detailTab id="OSGiApplicationConsole.bundleService.detailTab" contextType="OSGiApplicationConsoleBundleService" >
            <tab label="tab.configuration" contentURI="OSGiApplicationConsole.bundleService.config.tab.view" />
        </detailTab>
    </extension>
    
    <extension point="com.ibm.websphere.wsc.detailTab" >
        <detailTab id="OSGiApplicationConsole.bundlePackage.detailTab" contextType="OSGiApplicationConsoleBundlePackage" >
            <tab label="tab.configuration" contentURI="OSGiApplicationConsole.bundlePackage.config.tab.view" />
        </detailTab>
    </extension>
    

    <extension point="com.ibm.websphere.wsc.collectionItem" >
        <collectionItem id="OBRInternalRepository.collectionItems" contextType="OBRInternalRepository" >
            <item attributeName="symbolicName" sortable="sort" itemURI="oBRInternalRepositoryCollection.do?EditAction=true" label="OBRInternalRepository.symbolicName.displayName.headstyle" />
            <item attributeName="version" sortable="sort" itemURI="" label="OBRInternalRepository.version.displayName.headstyle" />
        </collectionItem>
    </extension>

    <extension point="com.ibm.websphere.wsc.collectionItem" >
        <collectionItem id="OBRRepository.collectionItems" contextType="OBRRepository" >
            <item attributeName="name" sortable="sort" itemURI="oBRRepositoryCollection.do?EditAction=true" label="repositoryName.displayName.headstyle" />
            <item attributeName="description" sortable="sort" itemURI="" label="description.displayName.headstyle" />
            <item attributeName="url" sortable="sort" itemURI="" label="repositoryURL.displayName.headstyle" />
        </collectionItem>
    </extension>
    
    <extension point="com.ibm.websphere.wsc.collectionItem" >
        <collectionItem id="ManageExtensions.collectionItems" contextType="ManageExtensions" >
            <item attributeName="symbolicName" sortable="sort" itemURI="manageExtensionsCollection.do?EditAction=true" label="ManageExtensions.symbolicName.displayName.headstyle" />
            <item attributeName="version" sortable="sort" itemURI="" label="ManageExtensions.version.displayName" />
        </collectionItem>
	</extension>

    <extension point="com.ibm.websphere.wsc.collectionItem" >
        <collectionItem id="AddExtension.collectionItems" contextType="AddExtension" >
            <item attributeName="symbolicName" sortable="sort" itemURI="addExtensionCollection.do?EditAction=true" label="AddExtension.symbolicName.displayName.headstyle" />
            <item attributeName="version" sortable="sort" itemURI="" label="AddExtension.version.displayName" />
        </collectionItem>
	</extension>
	    
    <extension point="com.ibm.websphere.wsc.collectionItem" >
        <collectionItem id="BundleCacheManager.collectionItems" contextType="BundleCacheManager" >
            <item attributeName="bundleName" sortable="sort" itemURI="bundleCacheManagerCollection.do?EditAction=true" label="bundleName.displayName.headstyle" />
            <item attributeName="bundleState" sortable="sort" itemURI="" label="bundleState.displayName" />
            <item attributeName="bundlePercentageDownload" sortable="sort" itemURI="" label="bundlePercentageDownload.displayName.headstyle" />
            <item attributeName="formattedBundleSize" sortable="sort" itemURI="" label="bundleSize.displayName" />
        </collectionItem>
    </extension>
    
    <extension point="com.ibm.websphere.wsc.collectionItem" >
        <collectionItem id="OSGiApplicationConsole.bundle.collectionItems" contextType="OSGiApplicationConsoleBundle" >
            <item attributeName="bundleIdentifier" sortable="nosort" itemURI="" label="OSGiApplicationConsole.bundleIdentifier.displayName" />
            <item attributeName="bundleSymbolicName" sortable="sort" itemURI="osgiApplicationConsoleBundleCollection.do?EditAction=true" label="OSGiApplicationConsole.bundleName.displayName" />
            <item attributeName="bundleVersion" sortable="sort" itemURI="" label="OSGiApplicationConsole.bundleVersion.displayName" />
            <item attributeName="bundleState" sortable="sort" itemURI="" label="OSGiApplicationConsole.bundleState.displayName" />
        </collectionItem>
    </extension>
    
    <extension point="com.ibm.websphere.wsc.collectionItem" >
        <collectionItem id="OSGiApplicationConsole.services.collectionItems" contextType="OSGiApplicationConsoleService" >
            <item attributeName="serviceIdentifier" sortable="nosort" itemURI="osgiApplicationConsoleServiceCollection.do?EditAction=true" label="OSGiApplicationConsole.serviceIdentifier.displayName" />
            <item attributeName="serviceInterfaces" sortable="sort" itemURI="" label="OSGiApplicationConsole.serviceInterfaces.displayName" />
        </collectionItem>
    </extension>
    
    <extension point="com.ibm.websphere.wsc.collectionItem" >
        <collectionItem id="OSGiApplicationConsole.packages.collectionItems" contextType="OSGiApplicationConsolePackage" >
            <item attributeName="packageName" sortable="sort" itemURI="osgiApplicationConsolePackageCollection.do?EditAction=true" label="OSGiApplicationConsole.packageName.displayName" />
            <item attributeName="packageVersion" sortable="sort" itemURI="" label="OSGiApplicationConsole.packageVersion.displayName" />
        </collectionItem>
    </extension>
    
    <extension point="com.ibm.websphere.wsc.collectionItem" >
        <collectionItem id="OSGiApplicationConsole.frameworks.collectionItems" contextType="OSGiApplicationConsoleFramework" >
            <item attributeName="frameworkName" sortable="sort" itemURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=OSGiApplicationConsole.bundle.content.main" label="OSGiApplicationConsole.frameworkName.displayName" />
            <item attributeName="frameworkVersion" sortable="sort" itemURI="" label="OSGiApplicationConsole.frameworkVersion.displayName" />
            <item attributeName="nodeName" sortable="sort" itemURI="" label="OSGiApplicationConsole.nodeName.displayName" />
            <item attributeName="processName" sortable="sort" itemURI="" label="OSGiApplicationConsole.processName.displayName" />
        </collectionItem>
    </extension>
    
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="WebModuleAvailableResources.collectionItems" contextType="WebModuleAvailableResources">
            <item attributeName="name" sortable="sort" itemURI="" label="WebModuleAvailableResources.name.displayName" />
            <item attributeName="jndiName" sortable="sort" itemURI="" label="WebModuleAvailableResources.jndiName.displayName" />
            <item attributeName="scope" sortable="sort" itemURI="" label="WebModuleAvailableResources.scope.displayName" />
            <item attributeName="description" sortable="sort" itemURI="" label="WebModuleAvailableResources.description.displayName" />
        </collectionItem>
    </extension>

    <extension point="com.ibm.websphere.wsc.actionSet" >
        <actionSet id="OBRInternalRepository.buttons" contextType="OBRInternalRepository" >
            <action enablesFor="Collection" label="button.new" role="administrator,configurator" actionURI="oBRInternalRepositoryCollection.do" />
            <action enablesFor="Collection" label="button.delete" role="administrator,configurator" actionURI="oBRInternalRepositoryCollection.do" />
        </actionSet>
    </extension>

    <extension point="com.ibm.websphere.wsc.actionSet" >
        <actionSet id="OBRRepository.buttons" contextType="OBRRepository" >
            <action enablesFor="Collection" label="button.new" role="administrator,configurator" actionURI="oBRRepositoryCollection.do" />
            <action enablesFor="Collection" label="button.delete" role="administrator,configurator" actionURI="oBRRepositoryCollection.do" />
        </actionSet>
    </extension>

    <extension point="com.ibm.websphere.wsc.actionSet" >
        <actionSet id="ManageExtensions.buttons" contextType="ManageExtensions" >
            <action enablesFor="Collection" label="button.add.dots" role="administrator,configurator" actionURI="manageExtensionsCollection.do" />
            <action enablesFor="Collection" label="button.remove" role="administrator,configurator" actionURI="manageExtensionsCollection.do" />
        </actionSet>
    </extension>

    <extension point="com.ibm.websphere.wsc.actionSet" >
        <actionSet id="AddExtension.buttons" contextType="AddExtension" >
            <action enablesFor="Collection" label="button.add" role="administrator,configurator" actionURI="addExtensionCollection.do" />
            <action enablesFor="Collection" label="button.cancel" role="administrator,configurator" actionURI="addExtensionCollection.do" />
        </actionSet>
    </extension>

    <extension point="com.ibm.websphere.wsc.actionSet" >
        <actionSet id="BundleCacheManager.buttons" contextType="BundleCacheManager" >
            <action enablesFor="Collection" label="button.redownload" role="administrator,configurator" actionURI="bundleCacheManagerCollection.do" />
            <action enablesFor="Collection" label="button.refreshBundles" role="administrator,configurator" actionURI="bundleCacheManagerCollection.do" />
        </actionSet>
    </extension>
    
    <extension point="com.ibm.websphere.wsc.actionSet" >
        <actionSet id="WebModuleAvailableResources.buttons" contextType="WebModuleAvailableResources" >
            <action enablesFor="Collection" label="button.apply" role="administrator,configurator" actionURI="webModuleAvailableResourcesCollection.do" />
            <action enablesFor="Collection" label="button.cancel" role="administrator,configurator" actionURI="webModuleAvailableResourcesCollection.do" />
        </actionSet>
    </extension>
    

    <extension point="com.ibm.ws.console.core.wizardStep">
        <step name="BLAAddCU.ContextRootStep.step"
            stepName="ContextRootStep"
            contextType="websphere.blamanagement.addcu" />
        <step name="BLAAddCU.BlueprintResourceRefBindingStep.step"
            stepName="BlueprintResourceRefBindingStep"
            contextType="websphere.blamanagement.addcu" />          
        <step name="BLAAddCU.VirtualHostMappingStep.step"
            stepName="VirtualHostMappingStep"
            contextType="websphere.blamanagement.addcu" />
        <step name="BLAAddCU.MapRolesToUsersStep.step"
            stepName="MapRolesToUsersStep"
            contextType="websphere.blamanagement.addcu" />
        <step name="BLAAddCU.MapRunAsRolesToUsersStep.step"
            stepName="MapRunAsRolesToUsersStep"
            contextType="websphere.blamanagement.addcu" />
        <step name="BLAAddCU.WebModuleResourceRefs.step" 
            stepName="WebModuleResourceRefs" 
            contextType="websphere.blamanagement.addcu" /> 
        <step name="BLAAddCU.EJBResourceRefs.step" 
            stepName="EJBResourceRefs" 
            contextType="websphere.blamanagement.addcu" /> 
        <step name="BLAAddCU.WebModuleMsgDestRefs.step" 
            stepName="WebModuleMsgDestRefs" 
            contextType="websphere.blamanagement.addcu" />       
        <step name="BLAAddCU.EJBMsgDestRefs.step" 
            stepName="EJBMsgDestRefs" 
            contextType="websphere.blamanagement.addcu" />       
        <step name="BLAAddCU.EJBMappingsStep.step"
            stepName="EJBMappingsStep"
            contextType="websphere.blamanagement.addcu" />
        <step name="BLAAddCU.EJBRefStep.step"
            stepName="EJBRefStep"
            contextType="websphere.blamanagement.addcu" />
        <step name="BLAAddCU.EJBEnvEntryStep.step"
            stepName="EJBEnvEntryStep"
            contextType="websphere.blamanagement.addcu" />
        <step name="BLAAddCU.MDBBindingsStep.step"
            stepName="MDBBindingsStep"
            contextType="websphere.blamanagement.addcu" />
        <step name="BLAAddCU.ContextRootStep.step"
            stepName="ContextRootStep"
            contextType="websphere.blamanagement.addcu" />
        
        <step name="AriesUpgradeCU.UpgradeBlueprintResourceRefPostDeployStep.step"
            stepName="BlueprintResourceRefPostDeployStep"
            contextType="aries.upgrade.cu" />
        <step name="AriesUpgradeCU.UpgradeVirtualHostMappingStep.step"
            stepName="VirtualHostMappingStep"
            contextType="aries.upgrade.cu" />
        <step name="AriesUpgradeCU.UpgradeMapRolesToUsersStep.step"
            stepName="MapRolesToUsersStep"
            contextType="aries.upgrade.cu" />
        <step name="AriesUpgradeCU.UpgradeMapRunAsRolesToUsersStep.step"
            stepName="MapRunAsRolesToUsersStep"
            contextType="aries.upgrade.cu" />
        <step name="AriesUpgradeCU.UpgradeWebModuleResourceRefs.step" 
            stepName="WebModuleResourceRefs"
            contextType="aries.upgrade.cu" />
        <step name="AriesUpgradeCU.UpgradeEJBResourceRefs.step" 
            stepName="EJBResourceRefs"
            contextType="aries.upgrade.cu" />
        <step name="AriesUpgradeCU.UpgradeWebModuleMsgDestRefs.step" 
            stepName="WebModuleMsgDestRefs"
            contextType="aries.upgrade.cu" />
        <step name="AriesUpgradeCU.UpgradeEJBMsgDestRefs.step" 
            stepName="EJBMsgDestRefs"
            contextType="aries.upgrade.cu" />
        <step name="AriesUpgradeCU.UpgradeEJBMappingsStep.step" 
            stepName="EJBMappingsStep"
            contextType="aries.upgrade.cu" />
        <step name="AriesUpgradeCU.UpgradeEJBRefStep.step" 
            stepName="EJBRefStep"
            contextType="aries.upgrade.cu" />
        <step name="AriesUpgradeCU.UpgradeEJBEnvEntryStep.step" 
            stepName="EJBEnvEntryStep"
            contextType="aries.upgrade.cu" />
        <step name="AriesUpgradeCU.UpgradeMDBBindingsStep.step" 
            stepName="MDBBindingsStep"
            contextType="aries.upgrade.cu" />     
        <step name="AriesUpgradeCU.UpgradeContextRootStep.step"
            stepName="ContextRootStep"
            contextType="aries.upgrade.cu" />
        
        <step name="AssetImport.EbaTagAssetStep.step"
            stepName="EbaTagAssetStep"      
            contextType="websphere.blamanagement.importassets" />
        <step name="AssetImport.SecurityPermissionsStep.step"
            stepName="SecurityPermissionsStep"      
            contextType="websphere.blamanagement.importassets" />
    </extension>

    <extension point="com.ibm.ws.console.core.help">
        <toc file="toc.xml" primary="true"/>
    </extension>
    
  <extension point="com.ibm.websphere.wsc.form">
    <form id="ebaDetailsPanelID" contextType="AssetManagementDetail">                                                                         
      <formDefinition bean="EbaDetailsStep" 
                    controller="com.ibm.ws.console.eba.editAsset.EbaDetailsStepController" 
                    action="com.ibm.ws.console.eba.editAsset.EbaDetailsStepAction"> 
        <fieldDefinition attributeName="EbaDetailsStep"
                 label="EbaDetailsStep.label"
                 description="EbaDetailsStep.description"
                 isRequred="no"
                 type="Custom"
                 customJsp="/com.ibm.ws.console.eba/EbaDetails.jsp"
                 isReadOnly="no"
                 optionsVar=""
                 options=""
                 optionDescriptionsVar=""
                 optionDescriptions=""
                 units=""
                 perspective="config"
                 multipleSelect=""> 
          <compatibility>
            <match key="com.ibm.ws.console.eba.EbaDetailsStepForm" value="true"/>
          </compatibility>  
      </fieldDefinition>
    </formDefinition>
  </form>
</extension>

    
    <extension point="com.ibm.ws.console.core.navigatorTask">
        <tasks>
            <categoryDefinition id="OSGI"
                parent="environment"
                icon="/com.ibm.ws.console.resources/images/onepix.gif"
                label="OSGI.resources.category"
                weight="95"/>

            <task id="OSGI.externalRepository"
                icon="/com.ibm.ws.console.resources/images/onepix.gif"
                label="OSGI.resources.externalRepository"
                view="/com.ibm.ws.console.eba.forwardCmd.do?forwardName=OBRRepository.content.main"
                external="false"
                weight="80">
                <category id="OSGI"/>
            </task>

            <task id="OSGI.internalRepository"
                icon="/com.ibm.ws.console.resources/images/onepix.gif"
                label="OSGI.resources.internalRepository"
                view="/com.ibm.ws.console.eba.forwardCmd.do?forwardName=OBRInternalRepository.content.main"
                external="false"
                weight="80">
                <category id="OSGI"/>
            </task>
            
            <task id="OSGI.bundleCacheManager"
                icon="/com.ibm.ws.console.resources/images/onepix.gif"
                label="OSGI.resources.bundleCacheManager"
                view="/com.ibm.ws.console.eba.forwardCmd.do?forwardName=BundleCacheManager.content.main"
                external="false"
                weight="80">
                <category id="OSGI"/>
            </task>
        </tasks>
    </extension>

    <extension point="com.ibm.websphere.wsc.form"> 
        <form id="CompUnitStatusStepPanelID" contextType="CUDetail"> 
            <formDefinition bean="CompUnitStatusStep" 
                controller="com.ibm.ws.console.eba.editCompUnit.CompUnitStatusStepController" 
                action="com.ibm.ws.console.eba.editCompUnit.CompUnitStatusStepAction"> 
                <fieldDefinition attributeName="CompUnitStatusStep"
                    label="CompUnitStatusStep.displayName"
                    description="CompUnitStatusStep.description"
                    isRequred="no"
                    type="Custom"
                    customJsp="/com.ibm.ws.console.eba/CompUnitStatus.jsp"
                    isReadOnly="no"
                    optionsVar=""
                    options=""
                    optionDescriptionsVar=""
                    optionDescriptions=""
                    units=""
                    perspective="config"
                    multipleSelect=""> 
                    <compatibility>
                        <match key="com.ibm.ws.console.eba.editCompUnit.CompUnitStatusStepForm" value="true"/>
                    </compatibility> 
                </fieldDefinition>
            </formDefinition>
        </form>
    </extension>


  <extension point="com.ibm.websphere.wsc.link">
    <linkSet id="eba.cu.links" contextType="CUDetail">
      <link categoryId="additional.properties"
        label="ApplicationDeployment.sessionManagement.displayName"
        description="ApplicationDeployment.sessionManagement.description"
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=EBASessionManagerEnable.config.view&#38;sfname=sessionManagement&#38;lastPage=CUDetail.config.view">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editCompUnit.EditCUHelper" key="com.ibm.ws.console.eba.UpdateVirtualHostMappingStepLink" value="true"/>
              </compatibility>
      </link>
    
      <link categoryId="additional.properties"
        label="BLAEditCU.ContextRootStep.step"
        description="BLAEditCU.ContextRootStep.description"
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=UpdateContextRootStep">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editCompUnit.EditCUHelper" key="com.ibm.ws.console.eba.UpdateContextRootStepLink" value="true"/>
              </compatibility>
      </link>
      
      <link categoryId="additional.properties"
        label="BLAEditCU.VirtualHostMappingStep.step"
        description="BLAEditCU.VirtualHostMappingStep.description"
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=UpdateVirtualHostMappingStep">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editCompUnit.EditCUHelper" key="com.ibm.ws.console.eba.UpdateVirtualHostMappingStepLink" value="true"/>
              </compatibility>
      </link>
      
      <link categoryId="additional.properties"
        label="BLAEditCU.BlueprintResourceRefPostDeployBindingStep.step"
        description="BLAEditCU.BlueprintResourceRefPostDeployBindingStep.description"
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=UpdateBlueprintResourceRefBindingStep">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editCompUnit.EditCUHelper" key="com.ibm.ws.console.eba.UpdateBlueprintResourceRefPostDeployStepLink" value="true"/>
              </compatibility>
      </link>
      
      <link categoryId="additional.properties"
        label="BLAEditCU.WebModuleResourceRefsStep.step"
        description="BLAEditCU.WebModuleResourceRefsStep.description"
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=UpdateWebModuleResourceRefsStep">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editCompUnit.EditCUHelper" key="com.ibm.ws.console.eba.UpdateWebModuleResourceRefsLink" value="true"/>
              </compatibility>
      </link>
      
      <link categoryId="additional.properties"
        label="BLAEditCU.WebModuleMsgDestRefsStep.step"
        description="BLAEditCU.WebModuleMsgDestRefsStep.description"
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=UpdateWebModuleMsgDestRefsStep">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editCompUnit.EditCUHelper" key="com.ibm.ws.console.eba.UpdateWebModuleMsgDestRefsLink" value="true"/>
              </compatibility>
      </link>

      <link categoryId="additional.properties"
        label="BLAEditCU.EJBResourceRefsStep.step"
        description="BLAEditCU.EJBResourceRefsStep.description"
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=UpdateEJBResourceRefsStep">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editCompUnit.EditCUHelper" key="com.ibm.ws.console.eba.UpdateEJBResourceRefsLink" value="true"/>
              </compatibility>
      </link>

      <link categoryId="additional.properties"
        label="BLAEditCU.EJBMsgDestRefsStep.step"
        description="BLAEditCU.EJBMsgDestRefsStep.description"
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=UpdateEJBMsgDestRefsStep">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editCompUnit.EditCUHelper" key="com.ibm.ws.console.eba.UpdateEJBMsgDestRefsLink" value="true"/>
              </compatibility>
      </link>


      <link categoryId="additional.properties"
        label="BLAEditCU.EJBMappingsStep.step"
        description="BLAEditCU.EJBMappingsStep.description"
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=UpdateEJBMappingsStep">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editCompUnit.EditCUHelper" key="com.ibm.ws.console.eba.UpdateEJBMappingsStepLink" value="true"/>
              </compatibility>
      </link>
      
      <link categoryId="additional.properties"
        label="BLAEditCU.EJBRefStep.step"
        description="BLAEditCU.EJBRefStep.description"
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=UpdateEJBRefStep">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editCompUnit.EditCUHelper" key="com.ibm.ws.console.eba.UpdateEJBRefStepLink" value="true"/>
              </compatibility>
      </link>
      
      <link categoryId="additional.properties"
        label="BLAEditCU.EJBEnvEntryStep.step"
        description="BLAEditCU.EJBEnvEntryStep.description"
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=UpdateEJBEnvEntryStep">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editCompUnit.EditCUHelper" key="com.ibm.ws.console.eba.UpdateEJBEnvEntryStepLink" value="true"/>
              </compatibility>
      </link>
      
      <link categoryId="additional.properties"
        label="BLAEditCU.MDBBindingsStep.step"
        description="BLAEditCU.MDBBindingsStep.description"
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=UpdateMDBBindingsStep">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editCompUnit.EditCUHelper" key="com.ibm.ws.console.eba.UpdateMDBBindingsStepLink" value="true"/>
              </compatibility>
      </link>
      
      <link categoryId="additional.properties"
        label="BLAEditCU.MapRolesToUsersStep.step"
        description="BLAEditCU.MapRolesToUsersStep.description"
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=UpdateMapRolesToUsersStep">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editCompUnit.EditCUHelper" key="com.ibm.ws.console.eba.UpdateMapRolesToUsersStepLink" value="true"/>
              </compatibility>
      </link>
                  
      <link categoryId="additional.properties"
        label="BLAEditCU.MapRunAsRolesToUsersStep.step"
        description="BLAEditCU.MapRunAsRolesToUsersStep.description"
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=UpdateMapRunAsRolesToUsersStep">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editCompUnit.EditCUHelper" key="com.ibm.ws.console.eba.UpdateMapRunAsRolesToUsersStepLink" value="true"/>
              </compatibility>
      </link>
      
      <link categoryId="additional.properties" 
        label="ManageExtensions.displayName"
        description="ManageExtensions.description"  
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=ManageExtensions.content.main">
        <compatibility>
          <match class = "com.ibm.ws.console.eba.editCompUnit.EditCUHelper" key="is.aries.cu" value="true"/>
          <match key="com.ibm.websphere.baseProductMajorVersion" value="(\d\d)|([8-9])"/>           
        </compatibility>   
      </link>  
      
      <link categoryId="additional.properties"
        label="OSGiApplicationConsole.displayName"
        description="OSGiApplicationConsole.description"
        weight="50"
        actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=OSGiApplicationConsole.framework.content.main">
            <compatibility>
                <match class="com.ibm.ws.console.eba.editCompUnit.OSGiApplicationConsoleAppFrameworkForm" key="com.ibm.ws.console.eba.OSGiApplicationConsoleLink" value="true"/>
            </compatibility>
      </link>
      
    </linkSet>
  </extension>

  <extension point="com.ibm.websphere.wsc.link">
    <linkSet id="eba.asset.links" contextType="AssetManagementDetail">
       <!-- When the links are displayed, they are displayed in the alphabetic assending order based on the labels.-->
       <link categoryId="additional.properties" 
              label="DeploymentManifest.export.displayName"
              description="DeploymentManifest.export.displayName"  
              weight="50"
              actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=ExportEbaDeploymentManifest">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editAsset.EbaDetailsStepForm" key="com.ibm.ws.console.eba.DeploymentExportLink" value="true"/>
              </compatibility>
         </link> 
         <link categoryId="additional.properties" 
              label="DeploymentManifest.upload.displayName"
              description="DeploymentManifest.upload.description"  
              weight="50"
              actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=DeploymentManifestImport.config.view">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editAsset.EbaDetailsStepForm" key="com.ibm.ws.console.eba.DeploymentImportLink" value="true"/>
              </compatibility> 
        </link>
        <link categoryId="additional.properties" 
              label="UpdateAppContentVersions.displayName"
              description="UpdateAppContentVersions.description"  
              weight="50"
              actionURI="com.ibm.ws.console.eba.forwardCmd.do?forwardName=UpdateAppContentVersions.config.view">
              <compatibility>
                  <match class = "com.ibm.ws.console.eba.editAsset.EbaDetailsStepForm" key="com.ibm.ws.console.eba.UpdateAppContentsLink" value="true"/>
               </compatibility>   
        </link>
     </linkSet>
  </extension> 
  
  <extension point="com.ibm.websphere.wsc.link">
    <linkSet id="osgiAppConsole.links" contextType="OSGiApplicationConsoleBundle">
      <link categoryId="additional.properties"
        label="OSGiApplicationConsole.bundleServices.displayName"
        description="OSGiApplicationConsole.bundleServices.description"
        weight="50"
        actionURI="osgiApplicationConsoleBundleServicesDetail.do?EditAction=true">
      </link>
      
      <link categoryId="additional.properties"
        label="OSGiApplicationConsole.bundlePackages.displayName"
        description="OSGiApplicationConsole.bundlePackages.description"
        weight="50"
        actionURI="osgiApplicationConsoleBundlePackagesDetail.do?EditAction=true">
      </link>
    </linkSet>
  </extension> 
  
</plugin>