.ceaCollabWidgetValueChanged {
     background-color: yellow !important;
     background-image: none !important;
}
div.ceaCollabStatusNo {
     background-image: url('../../images/collaborationEnabled.gif');
     background-position: -220px;
     border: 1px solid black;
     height: 16px;
     display: none;
     position: absolute;
     width: 16px;
}
div.ceaCollabStatusYes {
     background-image: url('../../images/collaborationEnabled.gif');
     background-position: -200px;
     border: 1px solid black;
     height: 16px;
     display: none;
     position: absolute;
     width: 16px;
}
div.ceaCollabValidatorOuter {
     height: 16px;
     display: none;
     position: absolute;
     width: 40px;
}
div.ceaCollabValidatorYes {
     background-image: url('../../images/collaborationEnabled.gif');
     background-position: -200px;
     cursor: pointer;
     float: left;
     height: 16px;
     width: 16px;
}
div.ceaCollabValidatorYes:hover {
     border: 1px solid black;
}
div.ceaCollabValidatorNo {
     background-image: url('../../images/collaborationEnabled.gif');
     background-position: -220px;
     cursor: pointer;
     float: right;
     height: 16px;
     width: 16px;
}
div.ceaCollabValidatorNo:hover {
     border: 1px solid black;
}
