<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- ===================================================================== -->
<!-- Dependency checker extension point                                    -->
<!-- ===================================================================== -->
   <extension
         point="com.ibm.ws.ast.st.core.dependencyChecker">
      <dependencyChecker
            class="com.ibm.ws.ast.st.core.ext.internal.DependencyChecker">
      </dependencyChecker>
   </extension>

</plugin>
