<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ibm.datatools.dbdefinition.db2.iseries"
   name="%pluginName"
   version="2.1.20.v20121008_1514"
   provider-name="%providerName">

   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            product="DB2 UDB iSeries"
            version="V5R4"
            description="%V5R4Description"
            productDisplayString="%V5R4ProductString"
            versionDisplayString="%V5R4VersionString"
            file="runtime/vendors/DB2 UDB iSeries_5/DB2 UDB iSeries_5.xmi">
      </definition>
       <definition
            product="DB2 UDB iSeries"
            version="V6R1"
            description="%V6R1Description"
            productDisplayString="%V6R1ProductString"
            versionDisplayString="%V6R1VersionString"
            file="runtime/vendors/DB2 UDB iSeries_6/DB2 UDB iSeries_6.xmi">
      </definition>
       <definition
            product="DB2 UDB iSeries"
            version="V7R1"
            description="%V7R1Description"
            productDisplayString="%V7R1ProductString"
            versionDisplayString="%V7R1VersionString"
            file="runtime/vendors/DB2 UDB iSeries_7/DB2 UDB iSeries_7.xmi">
      </definition>
   </extension>

   <!--extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="DB2 UDB iSeries_V5R4.xmi"
            target="runtime/vendors/DB2 UDB iSeries_5/DB2 UDB iSeries_5.xmi">
      </mapping>
   </extension-->

</plugin>
