<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:NamingModel="http:///com/ibm/db/models/naming/naming.ecore">
  <NamingModel:NamingStandard xmi:id="_Gt9WUIICEdmDSdxbPbsTjQ" name="NamingStandard" glossaries="_T14gUBAUEdq5DqP15TXfpw"/>
  <NamingModel:Glossary xmi:id="_T14gUBAUEdq5DqP15TXfpw" name="Glossary1" namingStandard="_Gt9WUIICEdmDSdxbPbsTjQ"/>
</xmi:XMI>
