<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">


<!--THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-I63, 5724-H88(C) COPYRIGHT International Business Machines Corp., 1997, 2004
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.--> 

<plugin id="com.ibm.ws.console.jmsurlenvresources"
        name="jmsurlenvresources"
        version="1.0.0"
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="jmsurlenvresources">

    <requires>
        <import plugin="com.ibm.ws.console.core"/>
    </requires>


<extension point="com.ibm.ws.console.core.navigatorTask">
        <tasks>
            <categoryDefinition id="JMSCategory"        parent="resources"  icon="/com.ibm.ws.console.sibws.sibusresources/images/onepix.gif"   label="JMS.displayName"             weight="10"/>
            <categoryDefinition id="resourceenvproviders" parent="resources" icon="/com.ibm.ws.console.resources/images/onepix.gif" label="nav.resourceenv" weight="200"/>
            <task id="resourceenvprovider" icon="/com.ibm.ws.console.resources/images/onepix.gif" label="nav.view.resource.env.provider" view="/navigatorCmd.do?forwardName=ResourceEnvironmentProvider.content.main" external="false" weight="10">
                <category id="resourceenvproviders"/>
            </task>
            <task id="resourceenventry" icon="/com.ibm.ws.console.resources/images/onepix.gif" label="J2EEResourceProvider.factories.ResourceEnvEntry.displayName" view="/navigatorCmd.do?forwardName=ResourceEnvEntry.content.main" external="false" weight="20">
                <category id="resourceenvproviders"/>
            </task>
            <categoryDefinition id="urlproviders" parent="resources" icon="/com.ibm.ws.console.resources/images/onepix.gif" label="nav.url" weight="190"/>
            <task id="urlprovider" icon="/com.ibm.ws.console.resources/images/onepix.gif" label="nav.view.url.provider" view="/navigatorCmd.do?forwardName=URLProvider.content.main" external="false" weight="10">
                <category id="urlproviders"/>
            </task>
            <task id="url" icon="/com.ibm.ws.console.resources/images/onepix.gif" label="J2EEResourceProvider.factories.URL.displayName" view="/navigatorCmd.do?forwardName=URL.content.main" external="false" weight="20">
                <category id="urlproviders"/>
            </task>
            <categoryDefinition id="guidedactivities" parent="root" icon="" label="nav.GuidedActivity.displayName" weight="5"/>
            <task id="resourcescheatsheet" icon="" label="wsc.cheatsheet.database.title" view="/navigatorCmd.do?forwardName=guidedactivity.resource" external="false" weight="60">
                <category id="guidedactivities"/>
            </task>
            <task id="JMSProviders"
                  icon="/com.ibm.ws.console.sib.abstractwebui/images/onepix.gif"
                  label="JMSProviders.displayName"
                  view="/navigatorCmd.do?forwardName=JMSProviders.content.main&#38;sfname="
                  external="false"
                  weight="10">
                <category id="JMSCategory"/>
            </task>
            <task id="JMSConnectionFactory"
                  icon="/com.ibm.ws.console.sib.abstractwebui/images/onepix.gif"
                  label="JMSConnectionFactory.displayName"
                  view="/navigatorCmd.do?forwardName=JMSConnectionFactory.content.main&#38;sfname="
                  external="false"
                  weight="20">
                <category id="JMSCategory"/>
            </task>
            <task id="JMSQueueConnectionFactory"
                  icon="/com.ibm.ws.console.sib.abstractwebui/images/onepix.gif"
                  label="JMSQueueConnectionFactory.displayName"
                  view="/navigatorCmd.do?forwardName=JMSQueueConnectionFactory.content.main&#38;sfname="
                  external="false"
                  weight="30">
                <category id="JMSCategory"/>
            </task>
            <task id="JMSTopicConnectionFactory"
                  icon="/com.ibm.ws.console.sib.abstractwebui/images/onepix.gif"
                  label="JMSTopicConnectionFactory.displayName"
                  view="/navigatorCmd.do?forwardName=JMSTopicConnectionFactory.content.main&#38;sfname="
                  external="false"
                  weight="40">
                <category id="JMSCategory"/>
            </task>
            <task id="JMSQueue"
                  icon="/com.ibm.ws.console.sib.abstractwebui/images/onepix.gif"
                  label="JMSQueue.displayName"
                  view="/navigatorCmd.do?forwardName=JMSQueue.content.main&#38;sfname="
                  external="false"
                  weight="50">
                <category id="JMSCategory"/>
            </task>
            <task id="JMSTopic"
                  icon="/com.ibm.ws.console.sib.abstractwebui/images/onepix.gif"
                  label="JMSTopic.displayName"
                  view="/navigatorCmd.do?forwardName=JMSTopic.content.main&#38;sfname="
                  external="false"
                  weight="60">
                <category id="JMSCategory"/>
            </task>
            <task id="JMSActivationSpec"
                  icon="/com.ibm.ws.console.sib.abstractwebui/images/onepix.gif"
                  label="JMSActivationSpec.displayName"
                  view="/navigatorCmd.do?forwardName=JMSActivationSpec.content.main&#38;sfname="
                  external="false"
                  weight="70">
                <category id="JMSCategory"/>
            </task>
        </tasks>
   </extension>
</plugin>
