<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <!-- Application Data menu on menu bar -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
      		id="com.ibm.datatools.core.ui.actionSet"
            label="%com.ibm.datatools.core.ui.extensions.menubar"
            visible="false">
         <menu
               label="%com.ibm.datatools.core.ui.extensions.menubar.data"
               id="com.ibm.datatools.core.ui.extensions.menubar.data"
               path="additions">
               <separator
                  name="transform">
               </separator>
               <separator
                  name="PublishGroup">
               </separator>
               <separator
               	  name="generate">
               </separator>
               <separator
               	  name="analyze">
               </separator>
               <separator
               	  name="reverseEngineer">
               </separator>
         </menu>
    	 
    	 <!-- Generate DDL -->
         <action
         	   id="com.ibm.datatools.core.ui.extensions.generateDDL"
         	   icon="platform:/plugin/org.eclipse.datatools.sqltools.ddlgen.ui/icons/generate_code.gif"
               label="%com.ibm.datatools.core.ui.extensions.generateDDL"
               class="com.ibm.datatools.core.ui.internal.extensions.actions.ForwardEngineerAction"
               menubarPath="com.ibm.datatools.core.ui.extensions.menubar.data/generate"
               enablesFor="*">
               <enablement>
               		<and>
	               		<or>
			               <objectClass
			                     name="org.eclipse.datatools.modelbase.sql.schema.Database">
			               </objectClass>
			               <objectClass
			                     name="org.eclipse.datatools.modelbase.sql.schema.Schema">
			               </objectClass>
			               <objectClass
			                     name="org.eclipse.datatools.modelbase.sql.tables.Table">
			               </objectClass>
			               <objectClass
			                     name="org.eclipse.datatools.modelbase.sql.constraints.Index">
			               </objectClass>
			               <objectClass
			                     name="org.eclipse.datatools.modelbase.sql.tables.Trigger">
			               </objectClass>
			               <objectClass
			                     name="com.ibm.db.models.db2.DB2MaterializedQueryTable">
			               </objectClass>
<!--			               <objectClass
				                 name="com.ibm.db.models.db2.DB2OLAPObject">
				           </objectClass>
-->
			               <objectClass
			                     name="org.eclipse.datatools.modelbase.sql.schema.Sequence">
			               </objectClass>
			               <objectClass
			                     name="org.eclipse.datatools.modelbase.sql.datatypes.UserDefinedType">
			               </objectClass>
			               <objectClass
			                     name="org.eclipse.datatools.modelbase.sql.routines.Procedure">
			               </objectClass>
			               <objectClass
	                     		 name="org.eclipse.datatools.modelbase.sql.routines.UserDefinedFunction">
	               		   </objectClass> 
			               <objectClass
			                     name="com.ibm.db.models.db2.luw.LUWTableSpace">
			               </objectClass>
			               <objectClass
			                     name="com.ibm.db.models.db2.luw.LUWPartitionGroup">
			               </objectClass>
			               <objectClass
			                     name="com.ibm.db.models.db2.luw.LUWBufferPool">
			               </objectClass>
			               <objectClass
			                     name="com.ibm.db.models.db2.luw.LUWNickname">
			               </objectClass>
			               <objectClass
			                     name="com.ibm.db.models.db2.zSeries.ZSeriesTableSpace"> 
			               </objectClass>
			               <objectClass
			                     name="com.ibm.db.models.db2.zSeries.ZSeriesStorageGroup"> 
			               </objectClass>
			               <objectClass
	               		 		 name="com.ibm.db.models.db2.zSeries.ZSeriesDatabaseInstance">
	               		   </objectClass>
			               <objectClass
	               		 		 name="com.ibm.db.models.oracle.OracleTablespace">
	               		   </objectClass>
	               		   <objectClass
	               		 		 name="com.ibm.db.models.oracle.OracleDirectory">
	               		   </objectClass>
	               		   
	 		               <objectClass
			               		 name="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
			               </objectClass>
			               <objectClass
			               		 name="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeNodeEditPart">
			               </objectClass>
			             </or>
			             <not>
	               	     	<objectClass
	               		 		name="com.ibm.db.models.db2.zSeries.ZSeriesDatabase">
	               			</objectClass>
	            		 </not>
            		 </and>
         	   </enablement>
         </action>
		 
		 <!-- Show Implicit Relationships -->
         <action
         	   id="com.ibm.datatools.core.ui.extensions.showImplicit"
               label="%com.ibm.datatools.core.ui.extensions.showImplicit"
               class="com.ibm.datatools.core.ui.internal.extensions.actions.ShowImplicitAction"
               menubarPath="com.ibm.datatools.core.ui.extensions.menubar.data/analyze"
               icon="platform:/plugin/com.ibm.datatools.core.ui/icons/showrelated.gif"
               enablesFor="1">
               <enablement>
               		<objectClass
		            	name="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
		            </objectClass>
		       </enablement>
		 </action>
		 
		 <!-- Show Related -->
         <action
         	   id="com.ibm.datatools.core.ui.extensions.showRelated"
               label="%com.ibm.datatools.core.ui.extensions.showRelated"
               class="com.ibm.datatools.core.ui.internal.extensions.actions.ShowRelatedExtendedAction"
               menubarPath="com.ibm.datatools.core.ui.extensions.menubar.data/analyze"
               enablesFor="1">
               <enablement>
               		<or>
		               <objectClass
		                     name="org.eclipse.datatools.modelbase.sql.schema.SQLObject">
		               </objectClass>
		               <objectClass
		               		name="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeNodeEditPart">
		               </objectClass>
		            </or>
		       </enablement>
		 </action>
      </actionSet>
   </extension>
   
   <!-- enable the Data menu only in the Data perspective -->
	<extension
    	point="org.eclipse.ui.perspectiveExtensions">
      	<perspectiveExtension
          	targetID="com.ibm.datatools.core.internal.ui.perspective">
         	<actionSet
             	id="com.ibm.datatools.core.ui.actionSet">
         	</actionSet>
      	</perspectiveExtension>
   	</extension>
</plugin>
