<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<plugin id="com.ibm.ws.console.portletdeploymentdescriptor"
        name="portletdeploymentdescriptor"
        version="7.0.0"
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="portletdeploymentdescriptor">  

    <requires>
        <import plugin="com.ibm.ws.console.core"/>
        <import plugin="com.ibm.ws.console.appmanagement"/>
        <import plugin="com.ibm.ws.console.resources"/>
    </requires>
    
	<extension point="com.ibm.websphere.wsc.link">
    	<linkSet id="com.ibm.ws.console.portletdeploymentdescriptor.PortletDescriptorViewer" contextType="WebModuleDeployment">
        	<link
            	categoryId="additional.properties"
              	label="ManagedObject.viewdd.portlet.displayName"
              	description="ManagedObject.viewdd.portlet.description"
              	actionURI="com.ibm.ws.console.portletdeploymentdescriptor.viewCmd.do?resource=portlet.xml">
                <compatibility>
                <match key="com.ibm.websphere.baseProductVersion" value="((\d\d)|([7-9])|6\.[1-9]).*"/>
                <match class="com.ibm.ws.console.portletdeploymentdescriptor.action.PortletDescriptorViewer" key="com.ibm.ws.console.portletdeploymentdescriptor.visible" value="true"/>                    
                </compatibility>
        	</link>
	    </linkSet>
	</extension>
	
</plugin>


