<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin name="Virtual Member Manager" id="com.ibm.idmgr.help.doc" version="1.0.0">
	<extension point="org.eclipse.help.toc">
		<toc file="tocmst.xml" primary="true"/>
	</extension>
	<extension point="org.eclipse.help.toc">
		<toc file="toc.xml" primary="false"/>
	</extension>
    <extension point="org.eclipse.help.toc">
		<toc file="toc2.xml" primary="false"/>
	</extension>

</plugin>
