<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<!--THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-I63, 5724-H88, 5655-N01, 5733-W60 (C) COPYRIGHT International Business Machines Corp. 1997, 2005
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.-->

<plugin id="com.ibm.ws.console.servermanagement.pme" 
        name="servermanagement.pme" 
        version="1.0.0" 
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="servermanagement.pme">  

<requires>
    <import plugin="com.ibm.ws.console.core"/>
    <import plugin="com.ibm.ws.console.servermanagement" />
    <import plugin="com.ibm.ws.console.resources"/>
    <import plugin="com.ibm.ws.console.resources.pme"/> 
</requires>


<!-- BEGIN activitysession service -->
<!--
<extension point="com.ibm.ws.console.core.link">
  <link id="activitysession.services.2"
        contextType="ApplicationServer"
        contextTypePluginId="com.ibm.ws.console.servermanagement"
        icon=""
        label="ActivitySessionService.displayName"
        description="ActivitySessionService.description"
        actionView="com.ibm.ws.console.servermanagement.pme.activitysessionservice.forwardCmd.do?forwardName=ActivitySessionService.config.view&amp;sfname=services&amp;resourceUri=server-pme.xml"/>
</extension>
-->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="activitysession.services.2" contextType="ApplicationServer">
        <link
              categoryId="businessprocessservices.properties"
              label="ActivitySessionService.displayName"
              description="ActivitySessionService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.activitysessionservice.forwardCmd.do?forwardName=ActivitySessionService.config.view&amp;sfname=services&amp;resourceUri=server-pme.xml">
        </link>
    </linkSet>
</extension>

<!-- Begin LIDB3726-2 -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="clustermember.activitysession.services.2" contextType="ClusterMember">
        <link
              categoryId="clustermember.businessprocessservices.properties"
              label="ActivitySessionService.displayName"
              description="ActivitySessionService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.activitysessionservice.forwardCmd.do?forwardName=ActivitySessionService.config.view&amp;sfname=services&amp;lastPage=ClusterMember.config.view&amp;resourceUri=server-pme.xml">
        </link>
    </linkSet>
</extension>
<!-- End LIDB3726-2 -->

<extension point="com.ibm.ws.console.core.help">
    <toc file="toc.xml" primary="true"/>
</extension>

<!-- LI2505 LinkProcessor changes -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="ActivitySession_Link.ActivitySessionService1" contextType="ActivitySessionService">
        <link
              categoryId="additional.properties"
              label="Service.properties.displayName"
              description="Service.properties.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.activitysessionservice.forwardCmd.do?forwardName=Property.content.main&amp;sfname=properties">
        </link>
    </linkSet>
</extension>

<!-- LI2505 DetailTabProcessor changes -->
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="ActivitySession_DetailTab.ActivitySessionService.detailTab1" contextType="ActivitySessionService">
        <tab
              label="tab.configuration"
              contentURI="ActivitySessionService.config.tab.view">
        </tab>
    </detailTab>
</extension>
<!-- END activitysession service -->

<!-- BEGIN appprofile service -->
<!-- Service link -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="applicationprofile.services.2" contextType="ApplicationServer">
        <link
              categoryId="containerservices.properties"
              label="ApplicationProfileService.displayName"
              description="ApplicationProfileService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.appprofileservice.forwardCmd.do?forwardName=ApplicationProfileService.config.view&amp;sfname=services&amp;resourceUri=server-pme.xml">
        </link>
    </linkSet>
</extension>

<!-- BEGIN LIDB3726-2 -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="clustermember.applicationprofile.services.2" contextType="ClusterMember">
        <link
              categoryId="clustermember.containerservices.properties"
              label="ApplicationProfileService.displayName"
              description="ApplicationProfileService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.appprofileservice.forwardCmd.do?forwardName=ApplicationProfileService.config.view&amp;sfname=services&amp;lastPage=ClusterMember.config.view&amp;resourceUri=server-pme.xml">
        </link>
    </linkSet>
</extension>
<!-- END LIDB3726-2 -->

<extension point="com.ibm.ws.console.core.help">
    <toc file="toc.xml" primary="true"/>
</extension>

<!-- LI2505 LinkProcessor changes -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="AppProfile_Link.ApplicationProfileService1" contextType="ApplicationProfileService">
        <link
              categoryId="additional.properties"
              label="Service.properties.displayName"
              description="Service.properties.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.appprofileservice.forwardCmd.do?forwardName=Property.content.main&amp;sfname=properties">
        </link>
    </linkSet>
</extension>

<!-- LI2505 DetailTabProcessor changes -->
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="AppProfile_DetailTab.ApplicationProfileService.detailTab1" contextType="ApplicationProfileService">
        <tab
              label="tab.configuration"
              contentURI="ApplicationProfileService.config.tab.view">
        </tab>
    </detailTab>
</extension>

<!-- LI2505 Form Field changes -->
<!-- Only show this field on 6.x -->
<extension point="com.ibm.websphere.wsc.form">
    <form id="ApplicationProfileService.config.general.properties" contextType="ApplicationProfileService">
      <field attributeName="compatibility" perspective="config">
         <compatibility>
            <match key="com.ibm.websphere.baseProductMajorVersion"
                   value="([6-9])"/>
         </compatibility>
      </field>
    </form>
</extension>
<!-- END appprofile service -->

<!-- BEGIN compensation service -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="compensation.services" contextType="ApplicationServer">
        <link
              categoryId="containerservices.properties"
              label="CompensationService.displayName"
              description="CompensationService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.compensationservice.forwardCmd.do?forwardName=CompensationService.config.view&amp;sfname=services&amp;resourceUri=server-pme51.xml">
              <compatibility>
                  <match key="com.ibm.websphere.baseProductVersion"
                         value="(6\.[1-9].*)|(([7-9]|[1-9][0-9]).*)" />
              </compatibility>
        </link>
    </linkSet>
</extension>
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="compensation.services2" contextType="ClusterMember">
        <link
              categoryId="clustermember.containerservices.properties"
              label="CompensationService.displayName"
              description="CompensationService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.compensationservice.forwardCmd.do?forwardName=CompensationService.config.view&amp;sfname=services&amp;lastPage=ClusterMember.config.view&amp;resourceUri=server-pme51.xml">
              <compatibility>
                  <match key="com.ibm.websphere.baseProductVersion"
                         value="(6\.[1-9].*)|(([7-9]|[1-9][0-9]).*)" />
              </compatibility>
        </link>
    </linkSet>
</extension>
<!-- Only show these fields on 6.1. Added for LIDB2473-11.1 -->
<extension point="com.ibm.websphere.wsc.form">
    <form id="ApplicationProfileService.config.general.properties" contextType="CompensationService">
      <field attributeName="compensationHandlerRetryLimit" perspective="config">
              <compatibility>
                  <match key="com.ibm.websphere.baseProductVersion"
                         value="(6\.[1-9].*)|(([7-9]|[1-9][0-9]).*)" />
              </compatibility>
      </field>
      <field attributeName="compensationHandlerRetryInterval" perspective="config">
              <compatibility>
                  <match key="com.ibm.websphere.baseProductVersion"
                         value="(6\.[1-9].*)|(([7-9]|[1-9][0-9]).*)" />
              </compatibility>
      </field>
    </form>
</extension>

<extension point="com.ibm.ws.console.core.help">
    <toc file="toc.xml" primary="true"/>
</extension>


<!-- LI2505 LinkProcessor changes -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="Compensation_Link.CompensationService1" contextType="CompensationService">
        <link
              categoryId="additional.properties"
              label="Service.properties.displayName"
              description="Service.properties.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.compensationservice.forwardCmd.do?forwardName=Property.content.main&amp;sfname=properties">
        </link>
    </linkSet>
</extension>


<!-- LI2505 DetailTabProcessor changes -->
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="Compensation_DetailTab.CompensationService.detailTab1" contextType="CompensationService">
        <tab
              label="tab.configuration"
              contentURI="CompensationService.config.tab.view">
        </tab>
    </detailTab>
</extension>
<!-- END compensation service -->

<!-- BEGIN i18n service -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="i18n.services.2" contextType="ApplicationServer">
        <link
              categoryId="containerservices.properties"
              label="I18NService.displayName"
              description="I18NService.displayName"
              actionURI="com.ibm.ws.console.servermanagement.pme.i18nservice.forwardCmd.do?forwardName=I18NService.config.view&amp;sfname=services&amp;resourceUri=server-pme.xml">
        </link>
    </linkSet>
</extension>

<!-- BEGIN LIDB3726-2 -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="clustermember.i18n.services.2" contextType="ClusterMember">
        <link
              categoryId="clustermember.containerservices.properties"
              label="I18NService.displayName"
              description="I18NService.displayName"
              actionURI="com.ibm.ws.console.servermanagement.pme.i18nservice.forwardCmd.do?forwardName=I18NService.config.view&amp;sfname=services&amp;lastPage=ClusterMember.config.view&amp;resourceUri=server-pme.xml">
        </link>
    </linkSet>
</extension>
<!-- END LIDB3726-2 -->

<extension point="com.ibm.ws.console.core.help">
    <toc file="toc.xml" primary="true"/>
</extension>


<!-- LI2505 LinkProcessor changes -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="i18n_Link.I18NService1" contextType="I18NService">
        <link
              categoryId="additional.properties"
              label="Service.properties.displayName"
              description="Service.properties.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.i18nservice.forwardCmd.do?forwardName=Property.content.main&amp;sfname=properties">
        </link>
    </linkSet>
</extension>


<!-- LI2505 DetailTabProcessor changes -->
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="i18n_DetailTab.I18NService.detailTab1" contextType="I18NService">
        <tab
              label="tab.configuration"
              contentURI="I18NService.config.tab.view">
        </tab>
    </detailTab>
</extension>
<!-- END i18n service -->

<!-- BEGIN objectpool service -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="objectpool.services.2" contextType="ApplicationServer">
        <link
              categoryId="containerservices.properties"
              label="ObjectPoolService.displayName"
              description="ObjectPoolService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.objectpoolservices.forwardCmd.do?forwardName=ObjectPoolService.config.view&amp;sfname=services&amp;resourceUri=server-pme.xml">
        </link>
    </linkSet>
</extension>

<!-- BEGIN LIDB3726-2 -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="clustermember.objectpool.services.2" contextType="ClusterMember">
        <link
              categoryId="clustermember.containerservices.properties"
              label="ObjectPoolService.displayName"
              description="ObjectPoolService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.objectpoolservices.forwardCmd.do?forwardName=ObjectPoolService.config.view&amp;sfname=services&amp;lastPage=ClusterMember.config.view&amp;resourceUri=server-pme.xml">
        </link>
    </linkSet>
</extension>
<!-- END LIDB3726-2 -->

<extension point="com.ibm.ws.console.core.help">
    <toc file="toc.xml" primary="true"/>
</extension>


<!-- LI2505 LinkProcessor changes -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="ObjectPool_Link.ObjectPoolService1" contextType="ObjectPoolService">
        <link
              categoryId="additional.properties"
              label="Service.properties.displayName"
              description="Service.properties.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.objectpoolservices.forwardCmd.do?forwardName=Property.content.main&amp;sfname=properties">
        </link>
    </linkSet>
</extension>


<!-- LI2505 DetailTabProcessor changes -->
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="ObjectPool_DetailTab.ObjectPoolService.detailTab1" contextType="ObjectPoolService">
        <tab
              label="tab.configuration"
              contentURI="ObjectPoolService.config.tab.view">
        </tab>
    </detailTab>
</extension>
<!-- END objectpool service -->

<!-- BEGIN scheduler service -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="scheduler.services.2" contextType="ApplicationServer">
        <link
              categoryId="businessprocessservices.properties"
              label="SchedulerService.displayName"
              description="SchedulerService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.schedulerservice.forwardCmd.do?forwardName=SchedulerService.config.view&amp;sfname=services&amp;resourceUri=server-pme.xml">
              <compatibility>
                  <match key="com.ibm.websphere.baseProductMajorVersion"
                         value="(5)"/>
              </compatibility>
        </link>
    </linkSet>
</extension>

<!-- BEGIN LIDB3726-2 -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="clustermember.scheduler.services.2" contextType="ClusterMember">
        <link
              categoryId="clustermember.businessprocessservices.properties"
              label="SchedulerService.displayName"
              description="SchedulerService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.schedulerservice.forwardCmd.do?forwardName=SchedulerService.config.view&amp;sfname=services&amp;lastPage=ClusterMember.config.view&amp;resourceUri=server-pme.xml">
              <compatibility>
                  <match key="com.ibm.websphere.baseProductMajorVersion"
                         value="(5)"/>
              </compatibility>
        </link>
    </linkSet>
</extension>
<!-- END LIDB3726-2 -->

<extension point="com.ibm.ws.console.core.help">
    <toc file="toc.xml" primary="true"/>
</extension>


<!-- LI2505 LinkProcessor changes -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="Scheduler_Link.SchedulerService1" contextType="SchedulerService">
        <link
              categoryId="additional.properties"
              label="Service.properties.displayName"
              description="Service.properties.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.schedulerservice.forwardCmd.do?forwardName=Property.content.main&amp;sfname=properties">
        </link>
    </linkSet>
</extension>


<!-- LI2505 DetailTabProcessor changes -->
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="Scheduler_DetailTab.SchedulerService.detailTab1" contextType="SchedulerService">
        <tab
              label="tab.configuration"
              contentURI="SchedulerService.config.tab.view">
        </tab>
    </detailTab>
</extension>
<!-- END scheduler service -->

<!-- BEGIN startupbeans service -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="startupbeans.services" contextType="ApplicationServer">
        <link
              categoryId="containerservices.properties"
              label="StartupBeansService.displayName"
              description="StartupBeansService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.startupbeansservice.forwardCmd.do?forwardName=StartupBeansService.config.view&amp;sfname=services&amp;resourceUri=server-pme.xml">
              <compatibility>
                  <match key="com.ibm.websphere.baseProductMajorVersion"
                         value="([6-9])|([1-9][0-9])"/>
              </compatibility>
              
        </link>
    </linkSet>
</extension>

<!-- BEGIN LIDB3726-2 -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="clustermember.startupbeans.services" contextType="ClusterMember">
        <link
              categoryId="clustermember.containerservices.properties"
              label="StartupBeansService.displayName"
              description="StartupBeansService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.startupbeansservice.forwardCmd.do?forwardName=StartupBeansService.config.view&amp;sfname=services&amp;lastPage=ClusterMember.config.view&amp;resourceUri=server-pme.xml">
              <compatibility>
                  <match key="com.ibm.websphere.baseProductMajorVersion"
                         value="([6-9])|([1-9][0-9])"/>
              </compatibility>
              
        </link>
    </linkSet>
</extension>
<!-- END LIDB3726-2 -->

<extension point="com.ibm.ws.console.core.help">
    <toc file="toc.xml" primary="true"/>
</extension>


<!-- LI2505 LinkProcessor changes -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="StartupBeans_Link.StartupBeansService1" contextType="StartupBeansService">
        <link
              categoryId="additional.properties"
              label="Service.properties.displayName"
              description="Service.properties.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.startupbeansservice.forwardCmd.do?forwardName=Property.content.main&amp;sfname=properties">
        </link>
    </linkSet>
</extension>


<!-- LI2505 DetailTabProcessor changes -->
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="StartupBeans_DetailTab.StartupBeansService.detailTab1" contextType="StartupBeansService">
        <tab
              label="tab.configuration"
              contentURI="StartupBeansService.config.tab.view">
        </tab>
    </detailTab>
</extension>
<!-- END startupbeans service -->

<!-- BEGIN workarea service -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="workarea.services" contextType="ApplicationServer">
        <link
              categoryId="businessprocessservices.properties"
              label="WorkAreaService.displayName"
              description="WorkAreaService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.workareaservice.forwardCmd.do?forwardName=WorkAreaService.config.view&amp;sfname=services&amp;resourceUri=server-pme.xml">
        </link>
    </linkSet>
</extension>

<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="workarea.services.partition" contextType="ApplicationServer">
        <link
              categoryId="businessprocessservices.properties"
              label="WorkAreaPartitionService.displayName"
              description="WorkAreaPartitionService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.workareaservice.forwardCmd.do?forwardName=WorkAreaPartition.content.main&amp;sfname=services&amp;resourceUri=server-pme51.xml">
              <!-- 5.1 and above -->
              <compatibility>
                  <match key="com.ibm.websphere.baseProductVersion"
                         value="(5\.[1-9].*)|(([6-9]|[1-9][0-9]).*)" />
              </compatibility>
        </link>
    </linkSet>
</extension>

<!-- BEGIN LIDB3726-2 -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="clustermember.workarea.services" contextType="ClusterMember">
        <link
              categoryId="clustermember.businessprocessservices.properties"
              label="WorkAreaService.displayName"
              description="WorkAreaService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.workareaservice.forwardCmd.do?forwardName=WorkAreaService.config.view&amp;sfname=services&amp;lastPage=ClusterMember.config.view&amp;resourceUri=server-pme.xml">
        </link>
    </linkSet>
</extension>

<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="clustermember.workarea.services.partition" contextType="ClusterMember">
        <link
              categoryId="clustermember.businessprocessservices.properties"
              label="WorkAreaPartitionService.displayName"
              description="WorkAreaPartitionService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.workareaservice.forwardCmd.do?forwardName=WorkAreaPartition.content.main&amp;sfname=services&amp;resourceUri=server-pme51.xml">
              <!-- 5.1 and above -->
              <compatibility>
                  <match key="com.ibm.websphere.baseProductVersion"
                         value="(5\.[1-9].*)|(([6-9]|[1-9][0-9]).*)" />
              </compatibility>
        </link>
    </linkSet>
</extension>
<!-- END LIDB3726-2 -->

<extension point="com.ibm.ws.console.core.help">
    <toc file="toc.xml" primary="true"/>
</extension>


<!-- LI2505 LinkProcessor changes -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="Workarea_Link.WorkAreaService1" contextType="WorkAreaService">
        <link
              categoryId="additional.properties"
              label="Service.properties.displayName"
              description="Service.properties.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.workareaservice.forwardCmd.do?forwardName=Property.content.main&amp;sfname=properties">
        </link>
    </linkSet>
</extension>
<!-- LI2505 LinkProcessor changes -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="Workarea_Link.WorkAreaPartition1" contextType="WorkAreaPartition">
        <link
              categoryId="additional.properties"
              label="Service.properties.displayName"
              description="WorkAreaPartition.properties.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.workareaservice.forwardCmd.do?forwardName=Property.content.main&amp;sfname=properties">
        </link>
    </linkSet>
</extension>

<!-- LI2505 ActionSetProcessor changes -->
<extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="Workarea_ActionSet.WorkAreaPartition.collection1" contextType="WorkAreaPartition">
        <action
              enablesFor="Collection"
              role="administrator,configurator"
              label="button.new"
              actionURI="workAreaPartitionCollection.do">
        </action>
        <action
              enablesFor="Collection"
              role="administrator,configurator"
              label="button.delete"
              actionURI="workAreaPartitionCollection.do">
        </action>
    </actionSet>
</extension>

<!-- LI2505 CollectionItemProcessor changes -->
<extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="Workarea_CollectionItem.WorkAreaPartition.collectionItem1" contextType="WorkAreaPartition">
        <item
              attributeName="name"
              sortable="sort"
              itemURI="workAreaPartitionCollection.do?EditAction=true"
              label="ManagedObject.name.displayName">
        </item>
        <item
              attributeName="description"
              sortable="sort"
              itemURI=""
              label="WorkAreaPartition.description.displayName">
        </item>
        <item
              attributeName="enable"
              sortable="sort"
              itemURI=""
              label="Service.enable.displayName">
        </item>
        <item
              attributeName="bidirectional"
              sortable="sort"
              itemURI=""
              label="WorkAreaPartition.bidirectional.displayName">
        </item>
        <item
              attributeName="maxSendSize"
              sortable="sort"
              itemURI=""
              label="WorkAreaService.maxSendSize.displayName">
        </item>
        <item
              attributeName="maxReceiveSize"
              sortable="sort"
              itemURI=""
              label="WorkAreaService.maxReceiveSize.displayName">
        </item>
        <item
              attributeName="deferredAttributeSerialization"
              sortable="sort"
              itemURI=""
              label="WorkAreaPartition.deferredAttributeSerialization.displayName">
        </item>
        <item
              attributeName="enableWebServicePropagation"
              sortable="sort"
              itemURI=""
              label="WorkAreaPartition.enableWebServicePropagation.displayName">
              <compatibility>
                  <match key="com.ibm.websphere.baseProductVersion"
                         value="(6\.[1-9].*)|(([7-9]|[1-9][0-9]).*)" />
              </compatibility>
        </item>
    </collectionItem>
</extension>

<!-- LI2505 DetailTabProcessor changes -->
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="Workarea_DetailTab.WorkAreaPartition.detailTab1" contextType="WorkAreaPartition">
        <tab
              label="tab.configuration"
              contentURI="WorkAreaPartition.config.tab.view">
        </tab>
    </detailTab>
</extension>

<!-- Only show this field on 6.1+ servers -->
<extension point="com.ibm.websphere.wsc.form">
    <form id="WorkAreaPartition.config.general.properties" contextType="WorkAreaPartition">
      <field attributeName="enableWebServicePropagation" perspective="config">
         <compatibility>
            <match key="com.ibm.websphere.baseProductVersion"
                   value="(6\.[1-9].*)|(([7-9]|[1-9][0-9]).*)" />
         </compatibility>
      </field>
    </form>
</extension>

<!-- LI2505 DetailTabProcessor changes -->
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="Workarea_DetailTab.WorkAreaService.detailTab1" contextType="WorkAreaService">
        <tab
              label="tab.configuration"
              contentURI="WorkAreaService.config.tab.view">
        </tab>
    </detailTab>
</extension>

<!-- Only show this field on 6.1+ servers -->
<extension point="com.ibm.websphere.wsc.form">
    <form id="WorkAreaService.config.general.properties" contextType="WorkAreaService">
      <field attributeName="enableWebServicePropagation" perspective="config">
         <compatibility>
            <match key="com.ibm.websphere.baseProductVersion"
                   value="(6\.[1-9].*)|(([7-9]|[1-9][0-9]).*)" />
         </compatibility>
      </field>
    </form>
</extension>
<!-- END workarea service -->

<!-- BEGIN workmanager service -->
<!-- Add a link on the additional properties of server -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="workmanager.service.2" contextType="ApplicationServer">
        <link
              categoryId="businessprocessservices.properties"
              label="WorkManagerService.displayName"
              description="WorkManagerService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.workmanagerservice.forwardCmd.do?forwardName=WorkManagerService.config.view&amp;sfname=services&amp;resourceUri=server-pme.xml">
              <compatibility>
                  <match key="com.ibm.websphere.baseProductMajorVersion"
                         value="(5)"/>
              </compatibility>
        </link>
    </linkSet>
</extension>

<!-- BEGIN LIDB3726-2 -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="clustermember.workmanager.service.2" contextType="ClusterMember">
        <link
              categoryId="businessprocessservices.properties"
              label="WorkManagerService.displayName"
              description="WorkManagerService.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.workmanagerservice.forwardCmd.do?forwardName=WorkManagerService.config.view&amp;sfname=services&amp;lastPage=ClusterMember.config.view&amp;resourceUri=server-pme.xml">
              <compatibility>
                  <match key="com.ibm.websphere.baseProductMajorVersion"
                         value="(5)"/>
              </compatibility>
        </link>
    </linkSet>
</extension>
<!-- END LIDB3726-2 -->

<extension point="com.ibm.ws.console.core.help">
    <toc file="toc.xml" primary="true"/>
</extension>


<!-- LI2505 LinkProcessor changes -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="WorkManager_Link.WorkManagerService1" contextType="WorkManagerService">
        <link
              categoryId="additional.properties"
              label="Service.properties.displayName"
              description="Service.properties.description"
              actionURI="com.ibm.ws.console.servermanagement.pme.workmanagerservice.forwardCmd.do?forwardName=Property.content.main&amp;sfname=properties">
        </link>
    </linkSet>
</extension>

<!-- LI2505 DetailTabProcessor changes -->
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="WorkManager_DetailTab.WorkManagerService.detailTab1" contextType="WorkManagerService">
        <tab
              label="tab.configuration"
              contentURI="WorkManagerService.config.tab.view">
        </tab>
    </detailTab>
</extension>
<!-- END workmanager service -->

</plugin>

