<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<plugin id="com.ibm.ws.console.tasktargetmonitor"
        name="tasktargetmonitor"
        version="6.0.2"
        provider-name="IBM Corp. - WebSphere XD"
        embedded="true"
        context-root="tasktargetmonitor">  
    <requires>
        <import plugin="com.ibm.ws.console.core"/>
	<import plugin="com.ibm.ws.console.taskmanagement"/>
    </requires>
	
</plugin>



