<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>  
    
<!-- WebSphere V8 libraries extension point -->   
   <extension-point id="waslibs" name="WebSphere Libraries"/>
   
<!-- WebSphere V8 libraries extension for WebSphere Web Services emitters -->
   <extension
      id="com.ibm.ast.ws.v85.jaxrpc.jee6.waslibs"
      name="WebSphere V8.5 libraries"
      point="com.ibm.ast.ws.v85.jaxrpc.jee6.waslibs">
	 <waslib bundle="com.ibm.ws.webservices.thinclient" directory="runtimes"/>      
     <waslib directory="lib" lib="j2ee.jar"/>
     <waslib bundle="com.ibm.ws.admin.client" directory="runtimes"/>
	 <waslib eclipsebundle="org.eclipse.jem.workbench"/>	 
	 <waslib eclipsebundle="com.ibm.icu"/>
   </extension>
   
<!-- Emitter Commands Extension -->
   <extension
         id="com.ibm.ast.ws.v8.jaxrpc.jee6.emittercommands"
         name="WebSphere 8.5.0 Web Services JEE 6 JAX-RPC Emitters"
         point="com.ibm.etools.webservice.was.consumption.core.emittercommands">
      <java2wsdlcommand
            class="com.ibm.ast.ws.v85.jaxrpc.jee6.command.Java2WSDLCommand">
      </java2wsdlcommand>
      <wsdl2javacommand
            class="com.ibm.ast.ws.v85.jaxrpc.jee6.command.WSDL2JavaCommand">
      </wsdl2javacommand>
      <j2eelevel
            level="6.0">
      </j2eelevel>
      <webspherebaselevel
            level="8.5.0">
      </webspherebaselevel>
      <javaWsdlParameter
      		class="com.ibm.ast.ws.v85.emitterdata.jee6.JavaWSDLParameter">
      </javaWsdlParameter>
      <runtimeTypeId id="com.ibm.ws.ast.st.runtime.v85"/>
   </extension>
    
</plugin>