<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<!--THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-I63, 5724-H88, 5655-N01, 5733-W60(C) COPYRIGHT International Business Machines Corp., 2005, 2006
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.-->

<plugin id="com.ibm.ws.console.nd.environment"
        name="environment_nd"
        version="1.0.0"
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="environment_nd">

<requires>
    <import plugin="com.ibm.ws.console.core"/>
</requires>

<!-- Begin WAS.webui.foreigncelldirectory -->
<extension point="com.ibm.ws.console.core.navigatorTask">
    <tasks>
        <!-- top navigator level link for Foreign Cell : ND only  -->
        <task id="foreignCellBindings" icon="/com.ibm.ws.console.environment/images/onepix.gif" label="nav.view.foreign.cell.bindings" view="/navigatorCmd.do?forwardName=ForeignCellBinding.content.main" external="false" weight="12">
            <category id="naming"/>
        </task>
    </tasks>
</extension>

<extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="environment.ForeignCellBinding.collection1" contextType="ForeignCellBinding">
        <action
              enablesFor="Collection"
              role="administrator,configurator"
              label="button.new"
              actionURI="foreignCellBindingCollection.do">
        </action>
        <action
              enablesFor="Collection"
              role="administrator,configurator"
              label="button.delete"
              actionURI="foreignCellBindingCollection.do">
        </action>
    </actionSet>
</extension>

<extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="environment.ForeignCellBinding.collectionItem1" contextType="ForeignCellBinding">
        <item
              attributeName="name"
              sortable="sort"
              itemURI="foreignCellBindingCollection.do?EditAction=true"
              label="environment.label.name">
        </item>
    </collectionItem>
</extension>

<!-- LIDB3436-97.3 -->
<extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="environment.foreigncellbinding.endpoint.collection1" contextType="ForeignCellBindingEndpoint">
        <action
              enablesFor="Collection"
              role="administrator,configurator"
              label="button.new"
              actionURI="foreignCellBindingEndpointCollection.do">
        </action>
        <action
              enablesFor="Collection"
              role="administrator,configurator"
              label="button.delete"
              actionURI="foreignCellBindingEndpointCollection.do">
        </action>
    </actionSet>
</extension>

<!-- LIDB3436-97.3 -->
<extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="environment.foreigncellbinding.endpoint.collectionItem1" contextType="ForeignCellBindingEndpoint">
        <item
              attributeName="host"
              sortable="sort"
              itemURI="foreignCellBindingEndpointCollection.do?EditAction=true"
              label="HostAlias.displayName">
        </item>
        <item
              attributeName="port"
              sortable="sort"
              itemURI=""
              label="HostAlias.port.displayName">
        </item>
    </collectionItem>
</extension>
<!-- LIDB3436-97.3 -->
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="environment.foreigncellbinding.endpoint.detailTab1" contextType="ForeignCellBindingEndpoint">
        <tab
              label="tab.configuration"
              contentURI="ForeignCellBinding.endpoint.config.tab.view">
        </tab>
    </detailTab>
</extension>
<!-- LIDB3436-97.3 -->
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="environment.ForeignCellBinding.detailTab1" contextType="ForeignCellBinding">
        <tab
              label="tab.configuration"
              contentURI="ForeignCellBinding.config.tab.view">
        </tab>
    </detailTab>
</extension>
<!-- LIDB3436-97.3 -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="environment.ForeignCellBinding1" contextType="ForeignCellBinding">
        <link
              categoryId="additional.properties"
              label="ForeignCellBinding.bootstrapAddresses.displayName"
              description="ForeignCellBinding.bootstrapAddresses.description"
              actionURI="com.ibm.ws.console.environment.forwardCmd.do?forwardName=ForeignCellBinding.endpoint.content.main&amp;sfname=bootstrapAddresses">
        </link>
    </linkSet>
</extension>
<!-- End WAS.webui.foreigncelldirectory -->

</plugin>
