
.tundra .clickToCallWidget {
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	background-color:#ffffff;  
}
.tundra .clickToCallWidgetTextBox {
	width:14.0em;
	font-size:0.8em;
}
.tundra .clickToCallWidgetButton {
	font-size:0.8em;
	font-weight: bold;
	width: 100%;
}
.tundra .clickToCallWidgetStatus {
	background: #FFFFE0;
	font-size:0.8em;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
}
.tundra .clickToCallWidgetIcon {
	background-image: url('../../images/telephonyEnabled.gif'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}
.tundra .dijitDisabled .clickToCallWidgetIcon {
	background-image: url('../../images/telephonyDisabled.gif'); 
}
.tundra .clickToCallWidgetCallIcon { background-position: 0px; }
.tundra .clickToCallWidgetEndCallIcon { background-position: -20px; }
.tundra .clickToCallWidgetCollaborateIcon { background-position: -100px; }
