<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin context-root="iehs" embedded="true" id="com.ibm.ws.console.help"
    name="iehs" vendor-name="IBM Corp. - WebSphere Server Group" version="1.0.0">
    <extension point="org.eclipse.help.toc">
        <toc file="toc.xml" primary="true"/>
    </extension>
</plugin>
