<?xml version="1.0" encoding="UTF-8"?>

<!--THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-i63, 5724-H88(C) COPYRIGHT International Business Machines Corp., 1997, 2004
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.--> 

<!DOCTYPE plugin SYSTEM "plugin.dtd">

<plugin id="com.ibm.ws.console.jmsservermanagement" 
        name="jmsservermanagement" 
        version="1.0.0" 
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="jmsservermanagement">  
   
<requires>
    <import plugin="com.ibm.ws.console.core"/>
    <!--<import plugin="com.ibm.ws.console.environment"/>-->
    <import plugin="com.ibm.ws.console.servermanagement"/>
    <import plugin="com.ibm.ws.console.dynacache"/>
    <import plugin="com.ibm.ws.console.distmanagement"/>
</requires>

<extension point="com.ibm.ws.console.core.navigatorTask">
    <tasks>
    	<!--Depricating V5 JMS provider F43950-->

    </tasks>    
</extension>
</plugin>

