
.tundra .callNotificationPage {
	margin:0 auto;
}
.tundra h1.mblHeading.callNotificationHeading {
	font-size:12px;
}
.tundra .callNotificationPageContent {
	 text-align: center;
	 padding-top:25px
}
.tundra .openCollabButtonList {
	margin-top: 25px;
}
.tundra .openCollabButtonListItem {
	
}
.iphone li.mblListItem a.mblListItemAnchor {
	text-align: left;
	padding-left: 10px !important;
	font-size:14px;
}
.tundra .collaborationPage {
	
}
.mblArrowButtonBody {
	font-size:12px;
}
.tundra h1.mblHeading.collaborationHeading {
	font-size:12px;
}
.tundra .callNotificationWidget {
	
}
.tundra .callNotificationWidgetTextBox {
	width: 250px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.tundra .callNotificationWidgetButton {
	width: 250px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
}
.tundra .callNotificationWidgetStatus {
	
}
.tundra .callNotificationWidgetIcon {
	background-image: url('../../images/telephonyEnabled.gif'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}
.tundra .dijitDisabled .callNotificationWidgetIcon {
	background-image: url('../../images/telephonyDisabled.gif'); 
}
.tundra .callNotificationWidgetHangupIcon { background-position: -20px; }
.tundra .callNotificationWidgetRegisterIcon { background-position: -40px; }
.tundra .callNotificationWidgetUnregisterIcon { background-position: -60px; }
.tundra .callNotificationWidgetCobrowseIcon { background-position: -100px; }
