<?xml version="1.0" encoding="UTF-8"?>

<plugin id="com.ibm.ws.console.guidedactivity"
        name="guidedactivity"
        version="5.0.0"
        provider-name="IBM Corp. - WebSphere XD"
        embedded="true"
        context-root="guidedactivity">  
    <requires>
        <import plugin="com.ibm.ws.console.core"/>       
    </requires>
      
    <extension point="com.ibm.ws.console.core.navigatorTask">
      <tasks>
        <task id="configWDO" 
                icon="images/onepix.gif" 
                label="cheatsheets.config.wdo"
                view="/com.ibm.ws.console.guidedactivity.forwardCmd.do?forwardName=guidedactivity.configWDO.main" 
                external="false"
		    weight="15">
            <category id="guidedactivities"></category>
        </task>
         <task id="configOP" 
                icon="images/onepix.gif" 
                label="cheatsheets.config.op"
                view="/com.ibm.ws.console.guidedactivity.forwardCmd.do?forwardName=guidedactivity.configOP.main" 
                external="false"
		    weight="25">
            <category id="guidedactivities"/>
        </task>
        <task id="configDeployApp" 
                icon="images/onepix.gif" 
                label="cheatsheets.config.deployApp"
                view="/com.ibm.ws.console.guidedactivity.forwardCmd.do?forwardName=guidedactivity.configDeployApp.main" 
                external="false"
		    weight="20">
            <category id="guidedactivities"/>
        </task>        
    <!--     <task id="configODRNonXD" 
                icon="images/onepix.gif" 
                label="cheatsheets.config.odr.nonxd"
                view="/com.ibm.ws.console.guidedactivity.forwardCmd.do?forwardName=guidedactivity.configODRNonXD.main" 
                external="false"
		    weight="30">
            <category id="guidedactivities"/>
        </task>
     <task id="configLRS" 
                icon="images/onepix.gif" 
                label="cheatsheets.config.lrs"
                view="/com.ibm.ws.console.guidedactivity.forwardCmd.do?forwardName=guidedactivity.configLRS.main" 
                external="false"
		    weight="40">
            <category id="guidedactivities"/>
        </task>
        <task id="configBJEE" 
                icon="images/onepix.gif" 
                label="cheatsheets.config.bjee"
                view="/com.ibm.ws.console.guidedactivity.forwardCmd.do?forwardName=guidedactivity.configBJEE.main" 
                external="false"
		    weight="45">
            <category id="guidedactivities"/>
        </task>
    -->   
      </tasks>
	</extension>

	<extension point="com.ibm.ws.console.core.help">
	  <toc file="toc.xml" primary="true" />
	</extension>

<!--      <extension point="com.ibm.ws.console.core.homePage">
    	  <homepages>
    		<homepage url="xd.home.page" weight="1"/>
    	  </homepages>
      </extension>  
-->     

</plugin>