
.tundra .callNotificationWidget {
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	background-color:#ffffff; 
}
.tundra .callNotificationWidgetTextBox {
	width:14.0em;
	font-size:0.8em;
}
.tundra .callNotificationWidgetButton {
	font-size:0.8em;
	font-weight: bold;
	width: 100%;
}
.tundra .callNotificationWidgetStatus {
	background: #FFFFE0;
	font-size:0.8em;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
}
.tundra .callNotificationWidgetIcon {
	background-image: url('../../images/telephonyEnabled.gif'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}
.tundra .dijitDisabled .callNotificationWidgetIcon {
	background-image: url('../../images/telephonyDisabled.gif'); 
}
.tundra .callNotificationWidgetHangupIcon { background-position: -20px; }
.tundra .callNotificationWidgetRegisterIcon { background-position: -40px; }
.tundra .callNotificationWidgetUnregisterIcon { background-position: -60px; }
.tundra .callNotificationWidgetCobrowseIcon { background-position: -100px; }
