<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>LongRunningJobSchedulerWebSvcRouter</display-name>
	<servlet>
		<display-name>
		Web Services Router Servlet</display-name>
		<servlet-name>JobScheduler</servlet-name>
		<servlet-class>
		com.ibm.ws.webservices.engine.transport.http.WebServicesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobScheduler</servlet-name>
		<url-pattern>services/JobScheduler</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<display-name>
		webservices constraints</display-name>
		<web-resource-collection>
			<web-resource-name>/services/JobScheduler</web-resource-name>
			<url-pattern>/services/JobScheduler</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>TRACE</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
			</description>
			<role-name>lradmin</role-name>
			<role-name>lrsubmitter</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Default</realm-name>
	</login-config>
	<security-role>
		<role-name>lradmin</role-name>
	</security-role>
	<security-role>
		<role-name>lrsubmitter</role-name>
	</security-role>
</web-app>
