<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">
<!--
 * @start_restricted_prolog@
 * Version: @(#) 1.55 SIB/ws/code/sib.admin.webui/src/sibjmsresources/WEB-INF/plugin.xml, SIB.admin.webui, WAS855.SIB, cf131750.05 08/09/11 05:08:07 [12/17/17 19:58:52]
 *
 * Licensed Materials - Property of IBM
 *
 * "Restricted Materials of IBM"
 *
 * 5724-J08, 5724-I63, 5724-H88, 5724-H89, 5655-N02, 5733-W70
 *
 * Copyright IBM Corp. 2003, 2008 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 * @end_restricted_prolog@
-->

<plugin id="com.ibm.ws.console.sib.sibjmsresources"
           name="sibjmsresources"
           version="1.0.0"
           vendor-name="IBM Corp. - WebSphere Server Group"
           embedded="true"
           context-root="sibjmsresources">

    <requires>
        <import plugin="com.ibm.ws.console.core" />
        <import plugin="com.ibm.ws.console.servermanagement" />
    </requires>


    <extension point="com.ibm.ws.console.core.help">
        <toc file="toc.xml" primary="true"/>
    </extension>


<!-- LI2505 Link Extensions -->

<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="sibjmsresources.SIBJMSConnectionFactory" contextType="SIBJMSConnectionFactory">
       <link
             categoryId="related.items"
             label="Security.authDataEntries.displayName"
             description="JAASAuthData.description"
             actionURI="com.ibm.ws.console.security.forwardCmd.do?forwardName=JAASAuthData.content.main">
       </link>
       <link
             categoryId="related.items"
             label="SIBus.displayName"
             description="SIBus.description"
             actionURI="com.ibm.ws.console.sib.sibresources.forwardCmd.do?forwardName=SIBus.content.main">
       </link>
        <link
              categoryId="additional.properties"
              label="ConnectionFactory.connectionPool.displayName"
              description="ConnectionFactory.connectionPool.description"
              actionURI="com.ibm.ws.console.resources.forwardCmd.do?forwardName=ConnectionPool.config.view&amp;sfname=connectionPool&amp;lastPage=SIBJMSConnectionFactory.config.view">
        </link>
    </linkSet>
</extension>
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="sibjmsresources.SIBJMSQueueConnectionFactory" contextType="SIBJMSQueueConnectionFactory">
       <link
             categoryId="related.items"
             label="Security.authDataEntries.displayName"
             description="JAASAuthData.description"
             actionURI="com.ibm.ws.console.security.forwardCmd.do?forwardName=JAASAuthData.content.main">
       </link>
       <link
             categoryId="related.items"
             label="SIBus.displayName"
             description="SIBus.description"
             actionURI="com.ibm.ws.console.sib.sibresources.forwardCmd.do?forwardName=SIBus.content.main">
       </link>
        <link
              categoryId="additional.properties"
              label="ConnectionFactory.connectionPool.displayName"
              description="ConnectionFactory.connectionPool.description"
              actionURI="com.ibm.ws.console.resources.forwardCmd.do?forwardName=ConnectionPool.config.view&amp;sfname=connectionPool&amp;lastPage=SIBJMSQueueConnectionFactory.config.view">
        </link>
    </linkSet>
</extension>
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="sibjmsresources.SIBJMSTopicConnectionFactory" contextType="SIBJMSTopicConnectionFactory">
       <link
             categoryId="related.items"
             label="Security.authDataEntries.displayName"
             description="JAASAuthData.description"
             actionURI="com.ibm.ws.console.security.forwardCmd.do?forwardName=JAASAuthData.content.main">
       </link>
       <link
             categoryId="related.items"
             label="SIBus.displayName"
             description="SIBus.description"
             actionURI="com.ibm.ws.console.sib.sibresources.forwardCmd.do?forwardName=SIBus.content.main">
       </link>
        <link
              categoryId="additional.properties"
              label="ConnectionFactory.connectionPool.displayName"
              description="ConnectionFactory.connectionPool.description"
              actionURI="com.ibm.ws.console.resources.forwardCmd.do?forwardName=ConnectionPool.config.view&amp;sfname=connectionPool&amp;lastPage=SIBJMSTopicConnectionFactory.config.view">
        </link>
    </linkSet>
</extension>
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="sibjmsresources.SIBJMSActivationSpec" contextType="SIBJMSActivationSpec">
       <link
             categoryId="related.items"
             label="Security.authDataEntries.displayName"
             description="JAASAuthData.description"
             actionURI="com.ibm.ws.console.security.forwardCmd.do?forwardName=JAASAuthData.content.main">
       </link>
       <link
             categoryId="related.items"
             label="SIBus.displayName"
             description="SIBus.description"
             actionURI="com.ibm.ws.console.sib.sibresources.forwardCmd.do?forwardName=SIBus.content.main">
       </link>
    </linkSet>
</extension>
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="sibjmsresources.SIBJMSQueue" contextType="SIBJMSQueue">
       <link
             categoryId="related.items"
             label="SIBus.displayName"
             description="SIBus.description"
             actionURI="com.ibm.ws.console.sib.sibresources.forwardCmd.do?forwardName=SIBus.content.main">
       </link>
    </linkSet>
</extension>
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="sibjmsresources.SIBJMSTopic" contextType="SIBJMSTopic">
       <link
             categoryId="related.items"
             label="SIBus.displayName"
             description="SIBus.description"
             actionURI="com.ibm.ws.console.sib.sibresources.forwardCmd.do?forwardName=SIBus.content.main">
       </link>
    </linkSet>
</extension> 	
	
<!-- LI2505 Action Extensions -->

<!-- LI2505 Detail Tab Extensions -->

<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibjmsresources.SIBJMSTopicConnectionFactory.detailTab1" contextType="SIBJMSTopicConnectionFactory">
        <tab
              label="tab.configuration"
              contentURI="SIBJMSTopicConnectionFactory.config.tab.view">
            <compatibility>
                <match key="com.ibm.websphere.baseProductMajorVersion"
                       value="([6-9])"/>
            </compatibility>
        </tab>
    </detailTab>
</extension>
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibjmsresources.SIBJMSConnectionFactory.detailTab1" contextType="SIBJMSConnectionFactory">
        <tab
              label="tab.configuration"
              contentURI="SIBJMSConnectionFactory.config.tab.view">
            <compatibility>
                <match key="com.ibm.websphere.baseProductMajorVersion"
                       value="([6-9])"/>
            </compatibility>
        </tab>
    </detailTab>
</extension>
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibjmsresources.SIBJMSQueue.detailTab1" contextType="SIBJMSQueue">
        <tab
              label="tab.configuration"
              contentURI="SIBJMSQueue.config.tab.view">
            <compatibility>
                <match key="com.ibm.websphere.baseProductMajorVersion"
                       value="([6-9])"/>
            </compatibility>
        </tab>
    </detailTab>
</extension>
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibjmsresources.SIBJMSQueueConnectionFactory.detailTab1" contextType="SIBJMSQueueConnectionFactory">
        <tab
              label="tab.configuration"
              contentURI="SIBJMSQueueConnectionFactory.config.tab.view">
            <compatibility>
                <match key="com.ibm.websphere.baseProductMajorVersion"
                       value="([6-9])"/>
            </compatibility>
        </tab>
    </detailTab>
</extension>
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibjmsresources.SIBJMSTopic.detailTab1" contextType="SIBJMSTopic">
        <tab
              label="tab.configuration"
              contentURI="SIBJMSTopic.config.tab.view">
            <compatibility>
                <match key="com.ibm.websphere.baseProductMajorVersion"
                       value="([6-9])"/>
            </compatibility>
        </tab>
    </detailTab>
</extension>
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibjmsresources.SIBJMSProvider.detailTab1" contextType="SIBJMSProvider">
        <tab
              label="tab.configuration"
              contentURI="SIBJMSProvider.config.tab.view">
        </tab>
    </detailTab>
</extension>
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="sibjmsresources.SIBJMSActivationSpec.detailTab1" contextType="SIBJMSActivationSpec">
        <tab
              label="tab.configuration"
              contentURI="SIBJMSActivationSpec.config.tab.view">
            <compatibility>
                <match key="com.ibm.websphere.baseProductMajorVersion"
                       value="([6-9])"/>
            </compatibility>
        </tab>
    </detailTab>
</extension>

<extension point="com.ibm.websphere.wsc.form">
	<form id="SIBJMSConnectionFactory.config.general.properties" contextType="SIBJMSConnectionFactory">
		<field attributeName="scope"
			   perspective="config"
			   categoryId="SIBJMSProvider.administration.displayName"
			   weight="11">
		</field>
        <field attributeName="providerName"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
               weight="11">
        </field>
        <field attributeName="name"
    		   perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		       weight="11">
        </field>
        <field attributeName="jndiName"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		       weight="11">
        </field>
        <field attributeName="description"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		       weight="11">
        </field>
        <field attributeName="category"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		       weight="11">
        </field>
        <field attributeName="busName"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="targetTransportChain"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="providerEndpoints"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="connectionProximity"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="target"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="targetType"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="targetSignificance"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="clientID"
               perspective="config"
               categoryId="SIBJMSProvider.durableSubscription.displayName"
		       weight="13">
        </field>
        <field attributeName="durableSubscriptionHome"
               perspective="config"
               categoryId="SIBJMSProvider.durableSubscription.displayName"
		       weight="13">
        </field>
        <field attributeName="nonPersistentMapping"
               perspective="config"
               categoryId="SIBJMSProvider.qualityOfService.displayName"
		       weight="14">
        </field>
        <field attributeName="persistentMapping"
               perspective="config"
               categoryId="SIBJMSProvider.qualityOfService.displayName"
		       weight="14">
		</field>		       	
        <field attributeName="readAhead"
               perspective="config"
               categoryId="SIBJMSProvider.advancedMessaging.displayName"
		       weight="15">
        </field>		
        <field attributeName="temporaryQueueNamePrefix"
               perspective="config"
               categoryId="SIBJMSProvider.advancedMessaging.displayName"
		       weight="15">
        </field>		
        <field attributeName="temporaryTopicNamePrefix"
               perspective="config"
               categoryId="SIBJMSProvider.advancedMessaging.displayName"
		       weight="15">
        </field>		
        <field attributeName="shareDurableSubscriptions"
               perspective="config"
               categoryId="SIBJMSProvider.advancedMessaging.displayName"
		       weight="15"> 		       		       		        		
        </field>
        <field attributeName="producerDoesNotModifyPayloadAfterSetBool"
               perspective="config"
               categoryId="SIBJMSConnectionFactory.passMsgPayloadByRef.displayName"
	           weight="16">
          <compatibility>
            <match key="com.ibm.websphere.baseProductVersion"
              value="(([7-9]|[1-9][0-9])\..*)"/>
          </compatibility>
        </field>
        <field attributeName="consumerDoesNotModifyPayloadAfterGetBool"
               perspective="config"
               categoryId="SIBJMSConnectionFactory.passMsgPayloadByRef.displayName"
	           weight="16">
          <compatibility>
            <match key="com.ibm.websphere.baseProductVersion"
              value="(([7-9]|[1-9][0-9])\..*)"/>
          </compatibility>
        </field>         
        <field attributeName="logMissingTransactionContext"
               perspective="config"
               categoryId="SIBJMSProvider.advancedAdministrative.displayName"
		       weight="17">
        </field>
        <field attributeName="manageCachedHandles"
               perspective="config"
               categoryId="SIBJMSProvider.advancedAdministrative.displayName"
		       weight="17">
        </field>
        <field attributeName="shareDataSourceWithCMP"
               perspective="config"
               categoryId="SIBJMSProvider.advancedAdministrative.displayName"
		       weight="17">
        </field>
	</form>
</extension>

<extension point="com.ibm.websphere.wsc.form">
	<form id="SIBJMSQueueConnectionFactory.config.general.properties" contextType="SIBJMSQueueConnectionFactory">
		<field attributeName="scope"
			   perspective="config"
			   categoryId="SIBJMSProvider.administration.displayName"
			   weight="11">
		</field>
        <field attributeName="providerName"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
               weight="11">
        </field>
        <field attributeName="name"
    		   perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		       weight="11">
        </field>
        <field attributeName="jndiName"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		       weight="11">
        </field>
        <field attributeName="description"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		       weight="11">
        </field>
        <field attributeName="category"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		       weight="11">
        </field>
        <field attributeName="busName"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="targetTransportChain"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="providerEndpoints"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="connectionProximity"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="target"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="targetType"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="targetSignificance"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="nonPersistentMapping"
               perspective="config"
               categoryId="SIBJMSProvider.qualityOfService.displayName"
		       weight="14">
        </field>
        <field attributeName="persistentMapping"
               perspective="config"
               categoryId="SIBJMSProvider.qualityOfService.displayName"
		       weight="14">
		</field>		       	
        <field attributeName="readAhead"
               perspective="config"
               categoryId="SIBJMSProvider.advancedMessaging.displayName"
		       weight="15">
        </field>		
        <field attributeName="temporaryQueueNamePrefix"
               perspective="config"
               categoryId="SIBJMSProvider.advancedMessaging.displayName"
		       weight="15">
        </field>		
        <field attributeName="producerDoesNotModifyPayloadAfterSetBool"
               perspective="config"
               categoryId="SIBJMSConnectionFactory.passMsgPayloadByRef.displayName"
	           weight="16">
          <compatibility>
            <match key="com.ibm.websphere.baseProductVersion"
              value="(([7-9]|[1-9][0-9])\..*)"/>
          </compatibility>
        </field>
        <field attributeName="consumerDoesNotModifyPayloadAfterGetBool"
               perspective="config"
               categoryId="SIBJMSConnectionFactory.passMsgPayloadByRef.displayName"
	           weight="16">
          <compatibility>
            <match key="com.ibm.websphere.baseProductVersion"
              value="(([7-9]|[1-9][0-9])\..*)"/>
          </compatibility>
        </field>         
        <field attributeName="logMissingTransactionContext"
               perspective="config"
               categoryId="SIBJMSProvider.advancedAdministrative.displayName"
		       weight="17">
        </field>
        <field attributeName="manageCachedHandles"
               perspective="config"
               categoryId="SIBJMSProvider.advancedAdministrative.displayName"
		       weight="17">
        </field>
        <field attributeName="shareDataSourceWithCMP"
               perspective="config"
               categoryId="SIBJMSProvider.advancedAdministrative.displayName"
		       weight="17">
        </field>
	</form>
</extension>

<extension point="com.ibm.websphere.wsc.form">
	<form id="SIBJMSTopicConnectionFactory.config.general.properties" contextType="SIBJMSTopicConnectionFactory">
		<field attributeName="scope"
			   perspective="config"
			   categoryId="SIBJMSProvider.administration.displayName"
			   weight="11">
		</field>
        <field attributeName="providerName"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
               weight="11">
        </field>
        <field attributeName="name"
    		   perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		       weight="11">
        </field>
        <field attributeName="jndiName"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		       weight="11">
        </field>
        <field attributeName="description"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		       weight="11">
        </field>
        <field attributeName="category"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		       weight="11">
        </field>
        <field attributeName="busName"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="targetTransportChain"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="providerEndpoints"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="connectionProximity"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="target"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="targetType"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="targetSignificance"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		       weight="12">
        </field>
        <field attributeName="clientID"
               perspective="config"
               categoryId="SIBJMSProvider.durableSubscription.displayName"
		       weight="13">
        </field>
        <field attributeName="durableSubscriptionHome"
               perspective="config"
               categoryId="SIBJMSProvider.durableSubscription.displayName"
		       weight="13">
        </field>
        <field attributeName="nonPersistentMapping"
               perspective="config"
               categoryId="SIBJMSProvider.qualityOfService.displayName"
		       weight="14">
        </field>
        <field attributeName="persistentMapping"
               perspective="config"
               categoryId="SIBJMSProvider.qualityOfService.displayName"
		       weight="14">
		</field>		       	
        <field attributeName="readAhead"
               perspective="config"
               categoryId="SIBJMSProvider.advancedMessaging.displayName"
		       weight="15">
        </field>		       		
        <field attributeName="temporaryTopicNamePrefix"
               perspective="config"
               categoryId="SIBJMSProvider.advancedMessaging.displayName"
		       weight="15">
        </field>		
        <field attributeName="shareDurableSubscriptions"
               perspective="config"
               categoryId="SIBJMSProvider.advancedMessaging.displayName"
		       weight="15"> 		       		       		        		
        </field>
        <field attributeName="producerDoesNotModifyPayloadAfterSetBool"
               perspective="config"
               categoryId="SIBJMSConnectionFactory.passMsgPayloadByRef.displayName"
	           weight="16">
          <compatibility>
            <match key="com.ibm.websphere.baseProductVersion"
              value="(([7-9]|[1-9][0-9])\..*)"/>
          </compatibility>
        </field>
        <field attributeName="consumerDoesNotModifyPayloadAfterGetBool"
               perspective="config"
               categoryId="SIBJMSConnectionFactory.passMsgPayloadByRef.displayName"
	           weight="16">
          <compatibility>
            <match key="com.ibm.websphere.baseProductVersion"
              value="(([7-9]|[1-9][0-9])\..*)"/>
          </compatibility>
        </field>           
        <field attributeName="logMissingTransactionContext"
               perspective="config"
               categoryId="SIBJMSProvider.advancedAdministrative.displayName"
		       weight="17">
        </field>
        <field attributeName="manageCachedHandles"
               perspective="config"
               categoryId="SIBJMSProvider.advancedAdministrative.displayName"
		       weight="17">
        </field>
        <field attributeName="shareDataSourceWithCMP"
               perspective="config"
               categoryId="SIBJMSProvider.advancedAdministrative.displayName"
		       weight="17">
        </field>
	</form>
</extension>

<extension point="com.ibm.websphere.wsc.form">
    <form id="SIBJMSQueue.config.general.properties" contextType="SIBJMSQueue">
        <field attributeName="scope"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		   	   weight="11">
        </field>
        <field attributeName="providerName"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
               weight="11">
        </field>
        <field attributeName="name"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		   	   weight="11">
        </field>
        <field attributeName="jndiName"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		   	   weight="11">
        </field>
        <field attributeName="description"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		   	   weight="11">
        </field>
        <field attributeName="busName"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		   	   weight="12">
        </field>
        <field attributeName="queueName"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		   	   weight="12">
        </field>
        <field attributeName="deliveryMode"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		   	   weight="12">
        </field>
        <field attributeName="timeToLive"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		   	   weight="12">
        </field>
        <field attributeName="priority"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		   	   weight="12">
        </field>
        <field attributeName="readAhead"
               perspective="config"
               categoryId="SIBJMSProvider.advanced.displayName"
		   	   weight="13">
        </field>
        <field attributeName="scopeToLocalQP"
               perspective="config"
               categoryId="SIBJMSQueue.multipleQueuePointMessageControl.displayName"
		   	   weight="14">
        </field>
	</form>
</extension>

<extension point="com.ibm.websphere.wsc.form">
    <form id="SIBJMSTopic.config.general.properties" contextType="SIBJMSTopic">
        <field attributeName="scope"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		   	   weight="11">
        </field>
        <field attributeName="providerName"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
               weight="11">
        </field>
        <field attributeName="name"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		   	   weight="11">
        </field>
        <field attributeName="jndiName"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		   	   weight="11">
        </field>
        <field attributeName="description"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		   	   weight="11">
        </field>
        <field attributeName="topicName"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		   	   weight="12">
        </field>
        <field attributeName="busName"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		   	   weight="12">
        </field>
        <field attributeName="topicSpace"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		   	   weight="12">
        </field>
        <field attributeName="deliveryMode"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		   	   weight="12">
        </field>
        <field attributeName="timeToLive"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		   	   weight="12">
        </field>
        <field attributeName="priority"
               perspective="config"
               categoryId="SIBJMSProvider.connection.displayName"
		   	   weight="12">
        </field>
        <field attributeName="readAhead"
               perspective="config"
               categoryId="SIBJMSProvider.advanced.displayName"
		   	   weight="13">
        </field>
	</form>
</extension>


<extension point="com.ibm.websphere.wsc.form">
    <form id="SIBJMSActivationSpec.config.general.properties" contextType="SIBJMSActivationSpec">
        <field attributeName="scope"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		   	   weight="11">
        </field>
        <field attributeName="providerName"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
               weight="11">
        </field>
        <field attributeName="name"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		   	   weight="11">
        </field>
        <field attributeName="jndiName"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
		   	   weight="11">
        </field>
        <field attributeName="description"
               perspective="config"
               categoryId="SIBJMSProvider.administration.displayName"
               weight="11">
        </field>
        <field attributeName="destinationType"
               perspective="config"
               categoryId="SIBJMSProvider.destination.displayName"
		   	   weight="12">
        </field>
        <field attributeName="destinationJndiName"
               perspective="config"
               categoryId="SIBJMSProvider.destination.displayName"
		   	   weight="12">
        </field>
        <field attributeName="messageSelector"
               perspective="config"
               categoryId="SIBJMSProvider.destination.displayName"
		   	   weight="12">
        </field>
        <field attributeName="busName"
               perspective="config"
               categoryId="SIBJMSProvider.destination.displayName"
		   	   weight="12">
        </field>
        <field attributeName="acknowledgeMode"
               perspective="config"
               categoryId="SIBJMSProvider.destination.displayName"
		   	   weight="12">
        </field>
        <field attributeName="target"
               perspective="config"
               categoryId="SIBJMSProvider.destination.displayName"
		   	   weight="12">
            <compatibility>
                <match key="com.ibm.websphere.baseProductVersion"
                       value="(6\.[1-9]\..*)|(([7-9]|[1-9][0-9])\..*)"/>
            </compatibility>
        </field>
        <field attributeName="targetType"
               perspective="config"
               categoryId="SIBJMSProvider.destination.displayName"
		   	   weight="12">
            <compatibility>
                <match key="com.ibm.websphere.baseProductVersion"
                       value="(6\.[1-9]\..*)|(([7-9]|[1-9][0-9])\..*)"/>
            </compatibility>
        </field>
        <field attributeName="targetSignificance"
               perspective="config"
               categoryId="SIBJMSProvider.destination.displayName"
		   	   weight="12">
            <compatibility>
                <match key="com.ibm.websphere.baseProductVersion"
                       value="(6\.[1-9]\..*)|(([7-9]|[1-9][0-9])\..*)"/>
            </compatibility>
        </field>
        <field attributeName="targetTransportChain"
               perspective="config"
               categoryId="SIBJMSProvider.destination.displayName"
		   	   weight="12">
        </field>
        <field attributeName="providerEndpoints"
               perspective="config"
               categoryId="SIBJMSProvider.destination.displayName"
		   	   weight="12">
            <compatibility>
                <match key="com.ibm.websphere.baseProductVersion"
                       value="(([7-9]|[1-9][0-9])\..*)"/>
            </compatibility>
        </field>
        <field attributeName="maxBatchSize"
               perspective="config"
               categoryId="SIBJMSProvider.additional.displayName"
		   	   weight="13">
        </field>
        <field attributeName="maxConcurrency"
               perspective="config"
               categoryId="SIBJMSProvider.additional.displayName"
		   	   weight="13">
        </field>
        <field attributeName="autoStopOnMsgFailure"
               perspective="config"
               categoryId="SIBJMSProvider.additional.displayName"
		   	   weight="13">
            <compatibility>
              <match key="com.ibm.websphere.baseProductVersion"
                value="(([7-9]|[1-9][0-9])\..*)"/>
            </compatibility>
        </field>        
        <field attributeName="subscriptionDurability"
               perspective="config"
               categoryId="SIBJMSProvider.subscriptionDurability.displayName"
		   	   weight="14">
        </field>
        <field attributeName="subscriptionName"
               perspective="config"
               categoryId="SIBJMSProvider.subscriptionDurability.displayName"
		   	   weight="14">
        </field>
        <field attributeName="clientId"
               perspective="config"
               categoryId="SIBJMSProvider.subscriptionDurability.displayName"
		   	   weight="14">
        </field>
        <field attributeName="durableSubscriptionHome"
               perspective="config"
               categoryId="SIBJMSProvider.subscriptionDurability.displayName"
		   	   weight="14">
        </field>
        <field attributeName="consumerDoesNotModifyPayloadAfterGetBool"
               perspective="config"
               categoryId="SIBJMSActivationSpec.passMsgPayloadByRef.displayName"
	           weight="15">
          <compatibility>
            <match key="com.ibm.websphere.baseProductVersion"
              value="(([7-9]|[1-9][0-9])\..*)"/>
          </compatibility>
        </field>
        <field attributeName="forwarderDoesNotModifyPayloadAfterSetBool"
               perspective="config"
               categoryId="SIBJMSActivationSpec.passMsgPayloadByRef.displayName"
	           weight="15">
          <compatibility>
            <match key="com.ibm.websphere.baseProductVersion"
              value="(([7-9]|[1-9][0-9])\..*)"/>
          </compatibility>
        </field>
        <field attributeName="shareDurableSubscriptions"
               perspective="config"
               categoryId="SIBJMSProvider.advanced.displayName"
		   	   weight="16">
        </field>
        <field attributeName="readAhead"
               perspective="config"
               categoryId="SIBJMSProvider.advanced.displayName"
		   	   weight="16">
        </field>
        <field attributeName="shareDataSourceWithCMP"
               perspective="config"
               categoryId="SIBJMSProvider.advanced.displayName"
		   	   weight="16">
        </field>     
        <field attributeName="alwaysActivateAllMDBs"
               perspective="config"
               categoryId="SIBJMSProvider.advanced.displayName"
		   	   weight="16">
          <compatibility>
            <match key="com.ibm.websphere.baseProductVersion"
                   value="(([7-9]|[1-9][0-9])\..*)"/>
          </compatibility>
        </field>
        <field attributeName="retryInterval"
               perspective="config"
               categoryId="SIBJMSProvider.advanced.displayName"
		   	   weight="16">
          <compatibility>
            <match key="com.ibm.websphere.baseProductVersion"
                   value="(([7-9]|[1-9][0-9])\..*)"/>
          </compatibility>
        </field>
	</form>
</extension>


</plugin>

