<?xml version="1.0" encoding="utf-8"?>
<?eclipse version="3.0"?>
<plugin name="%name" id="com.ibm.iehs" version="3.1.1" provider="IBM">
<extension id="helpProduct" point="org.eclipse.core.runtime.products">
<product name="%name" application="" />
</extension>
<extension point="org.eclipse.help.toc">
<toc file="toc.xml" primary="true" />  
</extension>
</plugin>
