<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="javaProcedure" name="Java Procedure Catalog Provider" schema="schema/javaProcedure.exsd"/>
   <extension-point id="routineInfo" name="Routine Info Profider" schema="schema/routineInfo.exsd"/>

   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.logicalContainment">
      <containment
            package="http:///com/ibm/db/models/db2/db2.ecore"
            class="DB2Alias"
            provider="com.ibm.datatools.db2.containment.DB2AliasContainmentProvider">
      </containment>
      <containment
            package="http:///com/ibm/db/models/db2/db2.ecore"
            class="DB2MaterializedQueryTable"
            provider="com.ibm.datatools.db2.containment.DB2MQTContainmentProvider">
      </containment>
      <containment
            package="http:///com/ibm/db/models/db2/db2.ecore"
            class="DB2Schema"
            provider="com.ibm.datatools.db2.containment.DB2SchemaContainmentProvider">
      </containment>
      <containment
            package="http:///com/ibm/db/models/db2/db2.ecore"
            class="DB2Jar"
            provider="com.ibm.datatools.db2.containment.DB2JarContainmentProvider">
      </containment>      
      <containment
            package="http:///com/ibm/db/models/db2/db2.ecore"
            class="DB2XMLSchema"
            provider="com.ibm.datatools.db2.containment.DB2XMLSchemaContainmentProvider">
      </containment>            
      <containment
            package="http:///com/ibm/db/models/db2/db2.ecore"
            class="DB2XMLSchemaDocument"
            provider="com.ibm.datatools.db2.containment.DB2XMLSchemaDocumentContainmentProvider">
      </containment>                  
      <containment
            package="http:///com/ibm/db/models/db2/db2.ecore"
            class="DB2Package"
            provider="com.ibm.datatools.db2.containment.DB2PackageContainmentProvider">
      </containment>                  
      <containment
            package="http:///com/ibm/db/models/db2/db2.ecore"
            class="DB2Table"
            provider="com.ibm.datatools.db2.containment.DB2TableContainmentProvider">
      </containment> 
      <containment
            package="http:///com/ibm/db/models/db2/db2.ecore"
            class="DB2Permission"
            provider="com.ibm.datatools.db2.containment.DB2PermissionContainmentProvider">
      </containment>  
      <containment
            package="http:///com/ibm/db/models/db2/db2.ecore"
            class="DB2Mask"
            provider="com.ibm.datatools.db2.containment.DB2MaskContainmentProvider">
      </containment> 
   </extension>
  
     <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            product="DB2 ALIAS"
            productDisplayString="%AliasProductString"
            description="%AliasDescription"
            versionDisplayString="%AliasVersionString"
            version="V1.0"
            allowsConnections="false"
            file="runtime/vendors/DB2 ALIAS_1.0/DB2 ALIAS_1.0.xmi">
      </definition>
   </extension>
   
      <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <connectionProfile
            category="org.eclipse.datatools.connectivity.db.category"
            configurationType="org.eclipse.datatools.connectivity.db.generic.configurationType"
            icon="platform:/plugin/org.eclipse.datatools.connectivity/icons/jdbc_16.gif"
            id="com.ibm.datatools.db2.alias.connectionProfile"
            name="%profile.db2.alias.title"
            pingFactory="com.ibm.datatools.db2.JDBCDB2AliasConnectionFactory"
            propertiesPersistenceHook="com.ibm.datatools.db2.DB2AliasDBPropertiesPersistenceHook"/>
      <connectionFactory
            class="com.ibm.datatools.db2.JDBCDB2AliasConnectionFactory"
            id="java.sql.Connection"
            name="%jdbc.connection.name"
            profile="com.ibm.datatools.db2.alias.connectionProfile"/>
   </extension>
   
	<extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
         <category
      		parentCategory="org.eclipse.datatools.connectivity.db.driverCategory"
            id="com.ibm.datatools.db2.alias.driverCategory"
            name="%DB2_ALIAS_CATEGORY_NAME"/>
    
         <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="com.ibm.datatools.db2.alias.driverTemplate"
            jarList="C:\Program Files\IBM\SQLLIB\java\db2jcc.jar;C:\Program Files\IBM\SQLLIB\java\db2jcc_license_cisuz.jar"
            name="%com.ibm.datatools.db2.alias.driverTemplate"
            parentCategory="com.ibm.datatools.db2.alias.driverCategory">
         <migration
                  class="org.eclipse.datatools.connectivity.drivers.DriverJarFileMigrator">
      	 </migration>
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%driverClass"
                  value="com.ibm.db2.jcc.DB2Driver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%driverVendor"
                  value="DB2 ALIAS"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%driverVersion"
                  value="V1.0"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%driverDBName"
                  value="SAMPLE"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%driverConnectionURL"
                  value="jdbc:db2://localhost:50000/SAMPLE:retrieveMessagesFromServerOnGetMessage=true;"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%driverUID"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%driverPWD"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>  
   </extension>
    <extension
         point="com.ibm.datatools.core.impactExtension">
      <impact
            provider="com.ibm.datatools.db2.dependency.provider.TemporalToHistoryTableImpactProvider">
      </impact>
   </extension>
   <extension
         point="com.ibm.datatools.compare.virtualProperty">
      <property
            class="DB2Table"
            factory="com.ibm.datatools.db2.internal.compare.DB2PeriodPropertyFactory"
            package="http:///com/ibm/db/models/db2/db2.ecore"
            references="periods">
      </property>
      <property
            class="DB2Table"
            factory="com.ibm.datatools.db2.internal.compare.DB2TemporalTablePropertyFactory"
            package="http:///com/ibm/db/models/db2/db2.ecore"
            references="temporalTable">
      </property>
      <property
            class="DB2Table"
            factory="com.ibm.datatools.db2.internal.compare.DB2HistoryTablePropertyFactory"
            package="http:///com/ibm/db/models/db2/db2.ecore"
            references="historyTable">
      </property>
      <property
            class="PrimaryKey"
            factory="com.ibm.datatools.db2.internal.compare.DB2PrimaryKeyPropertyFactory"
            package="http:///org/eclipse/datatools/modelbase/sql/constraints.ecore"
            references="extensions">
      </property>
      <property
            class="Index"
            factory="com.ibm.datatools.db2.internal.compare.DB2IndexPropertyFactory"
            package="http:///org/eclipse/datatools/modelbase/sql/constraints.ecore"
            references="extensions">
      </property>
      </extension>
   <extension
         point="com.ibm.datatools.core.dependencyExtension">
      <dependency
            provider="com.ibm.datatools.db2.dependency.provider.HistoryToTemporalTableDependencyProvider">
      </dependency>
   </extension>
   <extension
         point="org.eclipse.datatools.sqltools.data.core.rowDataImplExtension">
      <rowDataImplExtension
            package="http:///com/ibm/db/models/db2/db2.ecore"
            class="DB2Table"
            provider="com.ibm.datatools.db2.data.DB2TableRowDataImplProvider">
      </rowDataImplExtension>
   </extension>
   <extension
         point="com.ibm.datatools.compare.featureAdvisory">
      <provider
            class="com.ibm.datatools.db2.internal.compare.DB2CompareItemFeatureAdvisory"
            vendor="DB2">
      </provider>
   </extension>   
</plugin>
