<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="pmeext.xmi"
            class="com.ibm.websphere.models.extensions.pmeext.PmeextPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="activitysessionejbext.xmi"
            class="com.ibm.websphere.models.extensions.activitysessionejbext.ActivitysessionejbextPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="activitysessionwebappext.xmi"
            class="com.ibm.websphere.models.extensions.activitysessionwebappext.ActivitysessionwebappextPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="appprofileejbext.xmi"
            class="com.ibm.websphere.models.extensions.appprofileejbext.AppprofileejbextPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="appprofilewebappext.xmi"
            class="com.ibm.websphere.models.extensions.appprofilewebappext.AppprofilewebappextPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="compensationejbext.xmi"
            class="com.ibm.websphere.models.extensions.compensationejbext.CompensationejbextPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="compensationwebappext.xmi"
            class="com.ibm.websphere.models.extensions.compensationwebappext.CompensationwebappextPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="i18ncommonext.xmi"
            class="com.ibm.websphere.models.extensions.i18ncommonext.I18ncommonextPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="i18nejbext.xmi"
            class="com.ibm.websphere.models.extensions.i18nejbext.I18nejbextPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="i18nwebappext.xmi"
            class="com.ibm.websphere.models.extensions.i18nwebappext.I18nwebappextPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="lpsapplicationext.xmi"
            class="com.ibm.websphere.models.extensions.lpsapplicationext.LpsapplicationextPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.wst.common.emf.packageURIMap">
      <map
            uri="pmeext.xmi"
            prefix="pmeext">
      </map>
      <map
            uri="activitysessionejbext.xmi"
            prefix="activitysessionejbext">
      </map>
      <map
            uri="activitysessionwebappext.xmi"
            prefix="activitysessionwebappext">
      </map>
      <map
            uri="appprofileejbext.xmi"
            prefix="appprofileejbext">
      </map>
      <map
            uri="appprofilewebappext.xmi"
            prefix="appprofilewebappext">
      </map>
      <map
            uri="compensationejbext.xmi"
            prefix="compensationejbext">
      </map>
      <map
            uri="compensationwebappext.xmi"
            prefix="compensationwebappext">
      </map>
      <map
            uri="i18ncommonext.xmi"
            prefix="i18ncommonext">
      </map>
      <map
            uri="i18nejbext.xmi"
            prefix="i18nejbext">
      </map>
      <map
            uri="i18nwebappext.xmi"
            prefix="i18nwebappext">
      </map>
      <map
            uri="lpsapplicationext.xmi"
            prefix="lpsapplicationext">
      </map>
   </extension>

</plugin>
