<?xml version="1.0" encoding="UTF-8"?>

<!-- 
     5724-J34 (C) COPYRIGHT International Business Machines Corp. 2007
     The source code for this program is not published or otherwise divested
     of its trade secrets, irrespective of what has been deposited with the
     U.S. Copyright Office.
-->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app id="WebApp_1">
	<display-name>cim</display-name>
	<servlet>
		<servlet-name>CIMPendingInstallServlet</servlet-name>
		<display-name>CIMPendingInstallServlet</display-name>
		<servlet-class>com.ibm.ws.console.cim.pendinginstall.PendingInstallServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CIMInstallSshKeyStatusServlet</servlet-name>
		<display-name>CIMInstallSshKeyStatusServlet</display-name>
		<servlet-class>com.ibm.ws.console.cim.sshkeywizard.InstallSshKeyStatusServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CIMInstallLogServlet</servlet-name>
		<display-name>CIMInstallLogServlet</display-name>
		<servlet-class>com.ibm.ws.console.cim.installhistory.InstallLogServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CIMPendingInstallServlet</servlet-name>
		<url-pattern>/cimpendinginstallstatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CIMInstallSshKeyStatusServlet</servlet-name>
		<url-pattern>/ciminstallsshkeystatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CIMInstallLogServlet</servlet-name>
		<url-pattern>/cimviewlog</url-pattern>
	</servlet-mapping>
	
</web-app>
