<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
	<extension id="ide" point="org.eclipse.core.runtime.products"> 
		<product name="AST_DEV" application="org.eclipse.ui.ide.workbench" description="AST_DEV"> 
			<property name="aboutText" value="AST_DEV"/> 
			<property name="appName" value="AST_DEV"/> 
		</product> 
	</extension> 

	<extension point="com.ibm.cic.licensing.common.licenseInformation">
		<configuration
			digest="458675F3AE998EAA9AF936CDA91EFE017274FBC1DA7F7AFF6E4400034969E85641AB74398DC2728D840AC55ED12B3C846E9AB4882BC6F727E258F50AD8A02700AC254581B8AB54EED7CDEB061DE2B86EC8D66AE19FBF58D96FDB26C3ED35FDBBC21750B6CD626A50F13C0D6B61FD24D682E74569EC5AF79FAC8C0EADC879262F"
			file="license.xml"/>
	</extension>
   
</plugin>
