<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<!--THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-I63, 5724-H88, 5655-N01, 5733-W60 (C) COPYRIGHT International Business Machines Corp. 1997, 2005
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.--> 

<plugin id="com.ibm.ws.console.deploymentdescriptor"
        name="deploymentdescriptor"
        version="5.0.0"
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="deploymentdescriptor">  

    <requires>
        <import plugin="com.ibm.ws.console.core"/>
        <import plugin="com.ibm.ws.console.appmanagement"/>
        <import plugin="com.ibm.ws.console.resources"/>
    </requires>
    
	<extension point="com.ibm.websphere.wsc.link">
    	<linkSet id="com.ibm.ws.console.deploymentdescriptor.DescriptorViewer" contextType="WebModuleDeployment">
        	<link
            	categoryId="additional.properties"
              	label="ManagedObject.viewdd.displayName"
              	description="ManagedObject.viewdd.description"
              	actionURI="com.ibm.ws.console.deploymentdescriptor.viewCmd.do?resource=web.xml">
		<compatibility>
			<match key="com.ibm.ws.console.appdeployment.hasEJBinWAR" value="false"/>
		</compatibility>
        	</link>
	    </linkSet>
	</extension>
	<extension point="com.ibm.websphere.wsc.link">
    	<linkSet id="com.ibm.ws.console.deploymentdescriptor.DescriptorViewer" contextType="WebModuleDeployment">
        	<link
            	categoryId="additional.properties"
              	label="ManagedObject.viewwebdd.displayName"
              	description="ManagedObject.viewdd.description"
              	actionURI="com.ibm.ws.console.deploymentdescriptor.viewCmd.do?resource=web.xml">
		<compatibility>
			<match key="com.ibm.ws.console.appdeployment.hasEJBinWAR" value="true"/>
		</compatibility>
        	</link>
	    </linkSet>
	</extension>
	<extension point="com.ibm.websphere.wsc.link">
    	<linkSet id="com.ibm.ws.console.deploymentdescriptor.DescriptorViewer" contextType="WebModuleDeployment">
        	<link
            	categoryId="additional.properties"
              	label="ManagedObject.viewejbdd.displayName"
              	description="ManagedObject.viewdd.description"
              	actionURI="com.ibm.ws.console.deploymentdescriptor.viewCmd.do?resource=war-ejb-jar.xml">
		<compatibility>
			<match key="com.ibm.ws.console.appdeployment.hasEJBinWAR" value="true"/>
		</compatibility>
        	</link>
	    </linkSet>
	</extension>
	<extension point="com.ibm.websphere.wsc.link">
    	<linkSet id="com.ibm.ws.console.deploymentdescriptor.DescriptorViewer" contextType="ApplicationDeployment">
        	<link
            	categoryId="ApplicationDeployment.DetailProperties.category"
              	label="ManagedObject.viewdd.displayName"
              	description="ManagedObject.viewdd.description"
                weight="50"
              	actionURI="com.ibm.ws.console.deploymentdescriptor.viewCmd.do?resource=application.xml">
        	</link>
	    </linkSet>
	</extension>
	<extension point="com.ibm.websphere.wsc.link">
    	<linkSet id="com.ibm.ws.console.deploymentdescriptor.DescriptorViewer" contextType="EJBModuleDeployment">
        	<link
            	categoryId="additional.properties"
              	label="ManagedObject.viewdd.displayName"
              	description="ManagedObject.viewdd.description"
              	actionURI="com.ibm.ws.console.deploymentdescriptor.viewCmd.do?resource=ejb-jar.xml">
        	</link>
	    </linkSet>
	</extension>
	<extension point="com.ibm.websphere.wsc.link">
    	<linkSet id="com.ibm.ws.console.deploymentdescriptor.DescriptorViewer" contextType="ConnectorModuleDeployment">
        	<link
            	categoryId="additional.properties"
              	label="ManagedObject.viewdd.displayName"
              	description="ManagedObject.viewdd.description"
              	actionURI="com.ibm.ws.console.deploymentdescriptor.viewCmd.do?resource=ra.xml">
        	</link>
	    </linkSet>
	</extension>
	<extension point="com.ibm.websphere.wsc.link">
    	<linkSet id="com.ibm.ws.console.deploymentdescriptor.DescriptorViewer" contextType="ConnectorModuleDeployment10">
        	<link
            	categoryId="additional.properties"
              	label="ManagedObject.viewdd.displayName"
              	description="ManagedObject.viewdd.description"
              	actionURI="com.ibm.ws.console.deploymentdescriptor.viewCmd.do?resource=ra.xml">
        	</link>
	    </linkSet>
	</extension>
	<extension point="com.ibm.websphere.wsc.link">
    	<linkSet id="com.ibm.ws.console.deploymentdescriptor.DescriptorViewer" contextType="J2CResourceAdapter">
        	<link
            	categoryId="additional.properties"
              	label="ManagedObject.viewdd.displayName"
              	description="ManagedObject.viewdd.description"
              	actionURI="com.ibm.ws.console.deploymentdescriptor.viewCmd.do?resource=j2c.xml">
        	</link>
	    </linkSet>
	</extension>
	<extension point="com.ibm.websphere.wsc.link">
    	<linkSet id="com.ibm.ws.console.deploymentdescriptor.DescriptorViewer" contextType="J2CResourceAdapter10">
        	<link
            	categoryId="additional.properties"
              	label="ManagedObject.viewdd.displayName"
              	description="ManagedObject.viewdd.description"
              	actionURI="com.ibm.ws.console.deploymentdescriptor.viewCmd.do?resource=j2c.xml">
        	</link>
	    </linkSet>
	</extension>	
	<extension point="com.ibm.websphere.wsc.link">
    	<linkSet id="com.ibm.ws.console.deploymentdescriptor.DescriptorViewer" contextType="J2CResourceAdapter.builtin">
        	<link
            	categoryId="additional.properties"
              	label="ManagedObject.viewdd.displayName"
              	description="ManagedObject.viewdd.description"
              	actionURI="com.ibm.ws.console.deploymentdescriptor.viewCmd.do?resource=j2c.xml">
        	</link>
	    </linkSet>
	</extension>
	
	<!-- LIDB2356-40 changes begin here -->
	<extension point="com.ibm.websphere.wsc.link">
    	<linkSet id="com.ibm.ws.console.web.deploymentdescriptor.DescriptorViewer" contextType="SIPModuleDeployment">
        	<link
            	categoryId="additional.properties"
              	label="ManagedObject.web.viewdd.displayName"
              	description="ManagedObject.viewdd.description"
              	actionURI="com.ibm.ws.console.deploymentdescriptor.viewCmd.do?resource=web.xml">
        	</link>
	    </linkSet>
	</extension>
	
	<extension point="com.ibm.websphere.wsc.link">
    	<linkSet id="com.ibm.ws.console.sip.deploymentdescriptor.DescriptorViewer" contextType="SIPModuleDeployment">
        	<link
            	categoryId="additional.properties"
              	label="ManagedObject.sip.viewdd.displayName"
              	description="ManagedObject.viewdd.description"
              	actionURI="com.ibm.ws.console.deploymentdescriptor.viewCmd.do?resource=sip.xml">
        	</link>
	    </linkSet>
	</extension>		

	<extension point="com.ibm.websphere.wsc.link">
    	<linkSet id="com.ibm.ws.console.sip.deploymentdescriptor.DescriptorViewer" contextType="ClientModuleDeployment">
        	<link
            	categoryId="additional.properties"
              	label="ManagedObject.viewdd.displayName"
              	description="ManagedObject.viewdd.description"
              	actionURI="com.ibm.ws.console.deploymentdescriptor.viewCmd.do?resource=application-client.xml">
        	</link>
	    </linkSet>
	</extension>		
	<!-- LIDB2356-40 changes end here -->	
</plugin>


