<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <listener>
         <listener-class>com.ibm.ws.console.xdoperations.AdminSessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>OperationsStabiltyServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.xdoperations.detail.summary.OperationsStabiltyServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>ChartServlet</servlet-name>
		<display-name>ChartServlet</display-name>
		<servlet-class>
			com.ibm.ws.console.xdoperations.chart.ChartServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TargetServlet</servlet-name>
		<display-name>TargetServlet</display-name>
		<servlet-class>
			com.ibm.ws.console.xdoperations.chart.TargetServlet
		</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>OperationsStabiltyServlet</servlet-name>
        <url-pattern>/opsstability</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartServlet</servlet-name>
		<url-pattern>/ChartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TargetServlet</servlet-name>
		<url-pattern>/TargetServlet</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>
				/com.ibm.ws.console.xdoperations/*
			</url-pattern>
			<http-method>DELETE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrator</role-name>
			<role-name>operator</role-name>
			<role-name>configurator</role-name>
			<role-name>monitor</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/ChartServlet/*</url-pattern>
			<http-method>DELETE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrator</role-name>
			<role-name>operator</role-name>
			<role-name>configurator</role-name>
			<role-name>monitor</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/TargetServlet/*</url-pattern>
			<http-method>DELETE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrator</role-name>
			<role-name>operator</role-name>
			<role-name>configurator</role-name>
			<role-name>monitor</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

</web-app>
