<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<!--THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-i63, 5724-H88(C) COPYRIGHT International Business Machines Corp., 1997, 2004
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.-->

<plugin
   id="com.ibm.websphere.wsc"
   name="%pluginName"
   version="1.0.0"
   vendor-name="IBM Corp. - WebSphere Server Group">

<extension-point id="detailTab" name="%detailTab"/>
<extension-point id="actionSet" name="%actionSet"/>
<extension-point id="link" name="%link"/>
<extension-point id="collectionItem" name="%collectionItem"/>
<extension-point id="form" name="%form"/>
<extension-point id="preferences" name="%preferences"/>
<extension-point id="support" name="%support"/> 
<extension-point id="cheatsheet" name="%cheatsheet"/>
<extension-point id="treeitem" name="%treeitem"/>
<extension-point id="treecontroller" name="%treecontroller"/>
<!-- This is used for Add A Server panel as well -->
<extension-point id="servers" name="%servers"/>

</plugin>