<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>JobManagementWeb</display-name>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
		org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		download</display-name>
		<servlet-name>download</servlet-name>
		<servlet-class>
		com.ibm.ws.batch.jobmanagement.web.servlet.Download</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>*.zip</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-template.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
		</taglib>
	</jsp-config>
	<security-constraint>
		<display-name>
		Job Management security constriant</display-name>
		<web-resource-collection>
			<web-resource-name>Web resources</web-resource-name>
			<url-pattern>/jobScheduleCollectionView.jsp</url-pattern>
			<url-pattern>/jobScheduleView.jsp</url-pattern>
			<url-pattern>/submitJob.jsp</url-pattern>
			<url-pattern>/submitJobStep2.jsp</url-pattern>
			<url-pattern>/saveJob.jsp</url-pattern>
			<url-pattern>/createScheduleStep1.jsp</url-pattern>
			<url-pattern>/createScheduleStep2.jsp</url-pattern>
			<url-pattern>/createScheduleStep2.1.jsp</url-pattern>
			<url-pattern>/createScheduleStep3.jsp</url-pattern>
			<url-pattern>/scheduleSelectSavedJob.jsp</url-pattern>
			<url-pattern>/submitSelectSavedJob.jsp</url-pattern>
			<url-pattern>/submitJob.do</url-pattern>
			<url-pattern>/saveJob.do</url-pattern>
			<url-pattern>/viewJobSchedules.do</url-pattern>
			<url-pattern>/createSchedule.do</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
			Job Management auth constraint</description>
			<role-name>lradmin</role-name>
			<role-name>lrsubmitter</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>
			Job Monitor security constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Web resources</web-resource-name>
			<url-pattern>/index.jsp</url-pattern>
			<url-pattern>/banner.jsp</url-pattern>
			<url-pattern>/console.jsp</url-pattern>
			<url-pattern>/savedJobCollectionView.jsp</url-pattern>
			<url-pattern>/savedJobView.jsp</url-pattern>
			<url-pattern>/jobCollectionView.jsp</url-pattern>
			<url-pattern>/jobLogView.jsp</url-pattern>
			<url-pattern>/login.jsp</url-pattern>
			<url-pattern>/navigator.jsp</url-pattern>
			<url-pattern>/welcome.jsp</url-pattern>
			<url-pattern>/viewSavedJobs.do</url-pattern>
			<url-pattern>/viewJobs.do</url-pattern>
			<url-pattern>/viewJobLog.do</url-pattern>
			<url-pattern>/download/*.zip</url-pattern>
			<url-pattern>/selectSavedJob.do</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
			Job Monitor auth constraint</description>
			<role-name>lrmonitor</role-name>
			<role-name>lradmin</role-name>
			<role-name>lrsubmitter</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/errors/loginError.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>lradmin</role-name>
	</security-role>
	<security-role>
		<role-name>lrsubmitter</role-name>
	</security-role>
	<security-role>
		<role-name>lrmonitor</role-name>
	</security-role>
</web-app>
