<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
  <display-name>commsvc</display-name>
  <distributable/>
  <servlet>
    <servlet-name>CommServlet</servlet-name>
    <display-name>CommServlet</display-name>
    <description/>
    <servlet-class>com.ibm.ws.commsvc.servlet.CommServlet</servlet-class>
    <load-on-startup>-1</load-on-startup>
    <init-param>
            <param-name>com.ibm.ws.webcontainer.async-supported</param-name>
            <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>CTIControlServlet</servlet-name>
    <display-name>CTIControlServlet</display-name>
    <description></description>
    <servlet-class>com.ibm.ws.cti.csta.impl.CTIControlServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommSipServlet</servlet-name>
    <display-name>CommSipServlet</display-name>
    <description></description>
    <servlet-class>com.ibm.ws.commsvc.servlet.CommSipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommServlet</servlet-name>
    <url-pattern>/CommServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommServlet</servlet-name>
    <url-pattern>/CommServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CTIControlServlet</servlet-name>
    <url-pattern>/CTIControlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommSipServlet</servlet-name>
    <url-pattern>/CommSipServlet/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
