<!DOCTYPE plugin SYSTEM "plugin.dtd">
<!--THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-J08, 5724-I63, 5724-H88, 5724-H89, 5655-N02, 5733-W70 COPYRIGHT International Business Machines Corp., 1997, 2007
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.-->

<plugin id="com.ibm.ws.console.securitydomain"
        name="securitydomain"
        version="1.0.0"
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="securitydomain">

<requires>
    <import plugin="com.ibm.ws.console.core"/>
    <import plugin="com.ibm.ws.console.servermanagement"/>
    <import plugin="com.ibm.ws.console.distmanagement"/>
</requires>

<extension point="com.ibm.ws.console.core.navigatorTask">
    <tasks>   
        <!-- Security domains -->
       <task id="securityDomains" icon="/com.ibm.ws.console.security/images/Security.gif" label="SecDomain.displayName" view="/navigatorCmd.do?forwardName=SecDomain.content.main" external="false" weight="21">
            <category id="SecurityCenter"/>
        </task>     
    </tasks>
</extension> 
</plugin>
