<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<!--
THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-i63, 5724-H88(C) COPYRIGHT International Business Machines Corp., 1997, 2004
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp. 
-->

<plugin id="com.ibm.ws.console.adminagentnav"
        name="adminagentnav"
        version="1.0.0"
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="adminagentnav">

<requires>
    <import plugin="com.ibm.ws.console.core"/>
    <import plugin="com.ibm.ws.console.adminagent"/>
</requires>

<!-- ============================================================================================ -->
<!-- Navigation Extensions                                                                        -->
<!-- ============================================================================================ -->
<extension point="com.ibm.ws.console.core.navigatorTask">
   <tasks>
	<task id="adminagentId" icon="/adminconsole/images/onepix.gif" label="nav.adminagent.config" view="/navigatorCmd.do?forwardName=AdminAgent.config.view" external="false" weight="10">
		<category id="systemadmin"/>
      </task>
   </tasks>
</extension>

</plugin>

