
/** HglTextfields **/

.entry-field {
    DIRECTION: ltr;
    BORDER-RIGHT: #8cb1d1 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #336699 2px solid;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #336699 2px solid;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #8cb1d1 1px solid;
    BACKGROUND-COLOR: #ffffff
}

.entry-field-rtl {
    DIRECTION: rtl;
    BORDER-LEFT: #8cb1d1 1px solid;
    BORDER-RIGHT: #336699 2px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #336699 2px solid;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #8cb1d1 1px solid;
    BACKGROUND-COLOR: #ffffff
}

.entry-field-disabled {
    DIRECTION: ltr;
    BORDER-RIGHT: #999999 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #999999 1px solid;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #999999 1px solid;
    COLOR: #666666;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #999999 1px solid;
    BACKGROUND-COLOR: #f0f0f0;
    disable: true;
}

.entry-field-disabled-rtl {
    DIRECTION: rtl;
    BORDER-RIGHT: #999999 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #999999 1px solid;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #999999 1px solid;
    COLOR: #666666;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #999999 1px solid;
    BACKGROUND-COLOR: #f0f0f0;
    disable: true;
}

.entry-field-required {
    DIRECTION: ltr;
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #a5a684 2px solid;
    BORDER-LEFT: #a5a684 2px solid;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #fff7de;
    background-repeat: no-repeat;
    background-position: center center;
}

.entry-field-required-rtl {
    DIRECTION: rtl;
    BORDER-LEFT: #cccccc 1px solid;
    BORDER-RIGHT: #a5a684 2px solid;
    BORDER-TOP: #a5a684 2px solid;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #fff7de;
    background-repeat: no-repeat;
    background-position: center center;
}

.entry-field-error {
    DIRECTION: ltr;
    BORDER-RIGHT: #773030 1px solid;
    BORDER-TOP: #922200 2px solid;
    BORDER-LEFT: #922200 3px solid;
    BORDER-BOTTOM: #773030 1px solid;
    background-repeat: no-repeat;
    background-position: center center;
}

.entry-field-error-rtl {
    DIRECTION: rtl;
    BORDER-LEFT: #773030 1px solid;
    BORDER-RIGHT: #922200 3px solid;
    BORDER-TOP: #922200 2px solid;
    BORDER-BOTTOM: #773030 1px solid;
    background-repeat: no-repeat;
    background-position: center center;
}

.info-field {
    DIRECTION: ltr;
    BORDER-LEFT:   #000000 1px solid;
    BORDER-RIGHT:  #000000 1px solid;
    BORDER-TOP:    #000000 1px solid;
    BORDER-BOTTOM: #000000 1px solid;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 1px;
    PADDING-TOP: 1px;
    PADDING-BOTTOM: 1px;
    COLOR: #000000;
    BACKGROUND-COLOR: #f0f0f0;
    readonly: true;
}

.info-field-rtl {
    DIRECTION: rtl;
    BORDER-LEFT:   #000000 1px solid;
    BORDER-RIGHT:  #000000 1px solid;
    BORDER-TOP:    #000000 1px solid;
    BORDER-BOTTOM: #000000 1px solid;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 1px;
    PADDING-TOP: 1px;
    PADDING-BOTTOM: 1px;
    COLOR: #000000;
    BACKGROUND-COLOR: #f0f0f0;
    readonly: true;
}

/** HglList **/

.hglList {
    direction: ltr;
    background-color: #ffffff;
    border-color: #88a4d7;
    border-width: 1px;
    border-style: solid;
}

.hglList-rtl {
    direction: rtl;
    background-color: #ffffff;
    border-color: #88a4d7;
    border-width: 1px;
    border-style: solid;
}

.hglListButtonRow {
    direction: ltr;
    color:#000000;
    background-color:#d1d9e8;
    border-color:#ffffff #88a4d7 #88a4d7 #ffffff;
    font-weight:normal;
    border-width:1px;
    border-style:solid;
}

.hglListButtonRow-rtl {
    direction: rtl;
    color:#000000;
    background-color:#d1d9e8;
    border-color:#ffffff #88a4d7 #88a4d7 #ffffff;
    font-weight:normal;
    border-width:1px;
    border-style:solid;
}

.hglListColumnHeader {
    direction: ltr;
    color:#000000;
    background-color:#d1d9e8;
    border-color:#ffffff #88a4d7 #88a4d7 #ffffff;
    font-weight:normal;
    border-width:1px;
    border-style:solid;
    padding:4px;
}

.hglListColumnHeader-rtl {
    direction: rtl;
    color:#000000;
    background-color:#d1d9e8;
    border-color:#ffffff #88a4d7 #88a4d7 #ffffff;
    font-weight:normal;
    border-width:1px;
    border-style:solid;
    padding:4px;
}

.hglListColumnHeaderSelected {
    direction: ltr;
    color: #000000;
    background-color: #b2c3db;
    font-weight: normal;
    border-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding:4px;
}

.hglListColumnHeaderSelected-rtl {
    direction: rtl;
    color: #000000;
    background-color: #b2c3db;
    font-weight: normal;
    border-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding:4px;
}

.hglListData {
    direction: ltr;
    background-color:#f0f0f0;
    border-color:#ffffff #d1d9e8 #d1d9e8 #ffffff;
    padding:2px;
    border-width:1px;
    border-style:solid;
}

.hglListData-rtl {
    direction: rtl;
    background-color:#f0f0f0;
    border-color:#ffffff #d1d9e8 #d1d9e8 #ffffff;
    padding:2px;
    border-width:1px;
    border-style:solid;
}

.hglListFooter {
    direction: ltr;
    color: #000000;
    background-color: #d1d9e8;
    border-color: #ffffff #8cb1d1 #8cb1d1 #ffffff;
    border-width: 1px;
    border-style: solid;
}

.hglListFooter-rtl {
    direction: rtl;
    color: #000000;
    background-color: #d1d9e8;
    border-color: #ffffff #8cb1d1 #8cb1d1 #ffffff;
    border-width: 1px;
    border-style: solid;
}

/*** Column Header sort link ***/
a.hglListHeaderLink:link {
   color: #000000;
   text-decoration: none;
   font-weight: normal;
}

a.hglListHeaderLink:visited {
   color: #000000;
   text-decoration: none;
   font-weight: normal;
}

a.hglListHeaderLink:hover {
   color: #3333FF;
   text-decoration: none;
   font-weight: normal;
}


/*** Column Current Filter link ***/
a.hglListFilterLink:link {
   color: #000000;
   text-decoration: none;
   font-weight: bold;
}

a.hglListFilterLink:visited {
   color: #000000;
   text-decoration: none;
   font-weight: bold;
}

a.hglListFilterLink:hover {
   color: #3333FF;
   text-decoration: none;
   font-weight: bold;
}


.hglListFilteredString {
    direction: ltr; 
    font-weight: bold; 
}

.hglListFilteredString-rtl {
    direction: rtl;
    font-weight: bold; 
}

/** Message **/

.msgtable {
   direction: ltr;	
   border-width: 1px;
   border-color: #88A4D7;
   border-style: solid;
   background-color: #E2E7F0;
   width: 80%;
}

.msgtable-rtl {
   direction: rtl;
   border-width: 1px;
   border-color: #88A4D7;
   border-style: solid;
   background-color: #E2E7F0;
   width: 80%;   	
}

.msgdata {
   background-image: url("../images/message_background.gif");
   background-position: top right;
   background-repeat: no-repeat;
}
.msgdata-rtl {
   background-image: url("../images/message_background_rtl.gif");
   background-position: top left;
   background-repeat: no-repeat;
}

/*****
.paneltitle {
   background-color: #77aaff;
   width: 90%;
   padding: 4px;
   border-style: solid;
   border-width: 3px;
   border-color: #aaccff #4466aa #4466aa #aaccff;
}
**********/
/*****
.paneltitle {
   width: 100%;
   background-color: #77aaff;
   padding: 4px;
}
**********/

.paneltitle {
   direction: ltr;
   width: 100%;
   font-weight: bold;
   padding: 4px;
}

.paneltitle-rtl {
   direction: rtl;
   width: 100%;
   font-weight: bold;
   padding: 4px;
}

/** TABS **/
.hglTabs {
    background-color:#336699;
}

.hglTabs-rtl {
    background-color:#336699;
}

.hglTab {
    direction: ltr;
    background-color:#f0f0f0;
    border-color: #336699 #ffffff #336699 #336699;
    border-width: 2px 0px 1px 2px;
    border-style: solid;
}

.hglTab-rtl {
    direction: rtl;
    border-color: #336699 #336699 #336699 #ffffff;
    border-width: 2px 2px 1px 0px;
    background-color:#f0f0f0;
    border-style: solid;
}

.hglTabSelected {
   direction: ltr;
   border-color: #336699 #336699 #ffffff #336699;
   border-width: 2px 0px 1px 2px;
   border-style: solid;
}

.hglTabSelected-rtl {
   direction: rtl;
   border-width: 2px 2px 1px 0px;
   border-color: #336699 #336699 #ffffff #336699;
   border-style: solid;
   
}

.hglTabLink {
  direction: ltr;
}

.hglTabLink-rtl {
  direction: rtl;
}

a.hglTabLink:link {
   color: #3333FF;
   text-decoration: none;
   font-weight: normal;
}

a.hglTabLink:visited {
   color: #3333FF;
   text-decoration: none;
   font-weight: normal;
}

a.hglTabLink:hover {
   color: #000000;
   text-decoration: none;
   font-weight: normal;
}

a.hglTabLink-rtl:link {
   color: #3333FF;
   text-decoration: none;
   font-weight: normal;
}

a.hglTabLink-rtl:visited {
   color: #3333FF;
   text-decoration: none;
   font-weight: normal;
}

a.hglTabLink-rtl:hover {
   color: #000000;
   text-decoration: none;
   font-weight: normal;
}

.hglTabObjectArea {
   direction: ltr;	
   padding: 2px;
}

.hglTabObjectArea-rtl {
   direction: rtl;	
}

.wclHyperLink-rtl {
	direction: rtl;
	unicode-bidi: embed;
}	

.dj_ie .wmbidi {
	direction: rtl;
	margin-right: 8px;	
}

.dj_ie-rtl .wmbidi {
	direction: rtl;
	margin-right: 8px;	
}
