<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<!--THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-i63, 5724-H88(C) COPYRIGHT International Business Machines Corp., 1997, 2004
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.--> 

<plugin id="com.ibm.ws.console.genericserver" 
        name="genericserver" 
        version="1.0.0" 
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="genericserver">  
   
<requires>
    <import plugin="com.ibm.ws.console.core"/>
    <import plugin="com.ibm.ws.console.servermanagement"/>
</requires>

<extension point="com.ibm.ws.console.core.navigatorTask">
    <tasks>
        <task id="genericserver" icon="/com.ibm.ws.console.servermanagement/images/onepix.gif" label="nav.view.GenericServer" view="/navigatorCmd.do?forwardName=GenericServer.content.main" external="false" weight="30">
            <category id="servertypes"/>
        </task>
</tasks>    
</extension>      
<extension point="com.ibm.websphere.wsc.servers">
    <linkSet contextType="servers">
        <link
              label="GenericServer.label"
              forward="genericServerCollection.do">
        </link>
     </linkSet>
</extension>
<extension point="com.ibm.ws.console.core.help">
  <toc file="toc.xml" primary="true" />
</extension>

<!-- begin actionSet -->
<extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="servermanagement.GenericServer.action1" contextType="GenericServer">
        <action
              enablesFor="Collection"
              label="button.new"
              actionURI="genericServerCollection.do"
              role="administrator,configurator">
        </action>
        <action
              enablesFor="Collection"
              label="button.delete"
              actionURI="genericServerCollection.do"
              role="administrator,configurator">
        </action>
        <action
              enablesFor="Collection"
              label="button.templates"
              actionURI="genericServerCollection.do"
              role="administrator,configurator,operator,monitor">
        </action>
        <action
              enablesFor="Collection"
              role="administrator,operator"
              label="button.start"
              actionURI="genericServerCollection.do">
        </action>
        <action
              enablesFor="Collection"
              role="administrator,operator"
              label="button.stop"
              actionURI="genericServerCollection.do">
        </action> 
        <action
              enablesFor="Collection"
              role="administrator,operator"
              label="button.terminate"
              actionURI="genericServerCollection.do">
        </action> 
    </actionSet>
</extension>   
<!-- end actionSet -->

<!-- begin CollectionItems -->
<extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="servermanagement.GenericServer.collectionItem1" contextType="GenericServer">
        <item
              attributeName="name"
              sortable="sort"
              itemURI="genericServerCollection.do?EditAction=true"
              label="ManagedObject.name.displayName">
        </item>
        <item
              attributeName="node"
              sortable="sort"
              itemURI=""
              label="Server.node.displayName">
        </item>
        <item
              attributeName="hostName"
              sortable="sort"
              itemURI=""
              label="Host.name.displayName">
        </item>
        <item
              attributeName="expandedVersion"
              sortable="sort"
              itemURI=""
              label="node.version.displayName">
        </item>
        <item
              attributeName="status"
              sortable="sort"
              itemURI=""
              label="Server.status.displayName">
        </item>         
    </collectionItem>
</extension>
<!-- end CollectionItems -->

<!-- begin detailTabs -->
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="servermanagement.GenericServer.detailTab1" contextType="GenericServer">
        <tab
              label="tab.configuration"
              contentURI="GenericServer.config.tab.view">
        </tab>
    </detailTab>
</extension>
<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="servermanagement.ProcessDef.detailTab1" contextType="ProcessDef.genericserver.config.view">
        <tab
              label="tab.configuration"
              contentURI="ProcessDef.config.tab.view">
              <compatibility>
                   <match key="com.ibm.websphere.nodeOperatingSystem"
					   value="(aix|hpux|linux|solaris|windows)"/>
              </compatibility>
              
        </tab>
        <tab
              label="tab.configuration"
              contentURI="ProcessDef.config.tab.view.zOS">
              <compatibility>
                   <match key="com.ibm.websphere.nodeOperatingSystem"
					   value="(os390)"/>
              </compatibility>
              
        </tab>
    </detailTab>
</extension>       
<!-- end detailTabs -->

<!-- begin link -->
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="servermanagement.GenericServer1" contextType="GenericServer">
    <link
              categoryId="additional.properties"
              label="ProcessDef.displayName"
              description="ProcessDef.description"
              actionURI="com.ibm.ws.console.genericserver.forwardCmd.do?forwardName=ProcessDef.genericserver.config.view&amp;sfname=processDefinitions&amp;lastPage=GenericServer.config.view">
    </link>
    </linkSet>
</extension>
<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="servermanagement.processDef.GenericServer1" contextType="ProcessDef.genericserver.config.view">
        <link
              categoryId="additional.properties"
              label="JavaVirtualMachine.displayName"
              description="JavaVirtualMachine.description"
              actionURI="com.ibm.ws.console.servermanagement.forwardCmd.do?forwardName=JavaVirtualMachine.config.view&amp;sfname=jvmEntries&amp;lastPage=ProcessDef.genericserver.config.view">
        </link>
        <link
              categoryId="additional.properties"
              label="ProcessDef.execution.displayName"
              description="ProcessDef.execution.description"
              actionURI="com.ibm.ws.console.servermanagement.forwardCmd.do?forwardName=ProcessExecution.config.view&amp;sfname=execution&amp;lastPage=ProcessDef.genericserver.config.view">
        </link>
        <link
              categoryId="additional.properties"
              label="ProcessDef.environment.displayName"
              description="ProcessDef.environment.description"
              actionURI="com.ibm.ws.console.servermanagement.forwardCmd.do?forwardName=EnvEntry.content.main&amp;sfname=environment&amp;lastPage=ProcessDef.genericserver.config.view">
        </link>
     </linkSet>
</extension>  
<!-- end link -->

</plugin>

