<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Please see D249818 for details.                                   -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
   <extension-point id="preferenceContributor" name="Preference helper" schema="schema/prefcontributor.exsd"/>
   <extension-point id="DDLGeneration" name="Get Relational DB Object DDL" schema="schema/DDLGeneration.exsd"/>

   <extension
         id="bvt"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.ibm.etools.rdbschemagen.test.RDBSchemaGenTest">
         </run>
      </application>
   </extension>

</plugin>
