<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<!-- Definitions for WebSphere Application Server Administrative Console   -->
<!-- 5724-I63, 5724-H88 (C) COPYRIGHT International Business Machines Corp. 2003, 2004 -->
<!-- All Rights Reserved * Licensed Materials - Property of IBM -->

<plugin id="com.ibm.ws.console.channelfw"
        name="channelfw"
        version="6.0.0"
        vendor-name="IBM Corp. - WebSphere Channel Framework"
        embedded="true"
        context-root="channelfw">

  <requires>
    <import plugin="com.ibm.ws.console.core"/>
    <import plugin="com.ibm.ws.console.servermanagement"/>
  </requires>

  <extension-point id="channelDetail" name="%channelDetail"/>

  <extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="channelfw.Chain.action1" 
               contextType="Chain.ep">
               
      <action enablesFor="Collection"
              label="button.delete"
              actionURI="chainCollection.do"
              role="administrator,configurator">
      </action>
    </actionSet>
  </extension>
  
  <extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="channelfw.Chain.collectionItem1" 
                    contextType="Chain.ep">
                    
      <item attributeName="name"
            sortable="sort"
            itemURI="chainCollection.do?EditAction=true"
            label="Chain.name.displayName">
      </item>
      
      <item attributeName="enableDisplay"
            sortable="nosort"
            itemURI=""
            label="Chain.enable.displayName">
      </item>
      
      <item attributeName="host"
            sortable="sort"
            itemURI=""
            label="EndPoint.host.displayName">
      </item>
      
      <item attributeName="port"
            sortable="sort"
            itemURI=""
            label="EndPoint.port.displayName">
      </item>
      
      <item attributeName="secureDisplay"
            sortable="nosort"
            itemURI=""
            label="Transport.sslEnabled.displayName">
      </item>
    </collectionItem>
  </extension>

  <extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="channelfw.Chain.action1" 
               contextType="Chain">
               
      <action enablesFor="Collection"
              label="button.new"
              actionURI="chainCollection.do"
              role="administrator,configurator">
              <!--  371964 removed compatability match -->
      </action>
      
      <action enablesFor="Collection"
              label="button.delete"
              actionURI="chainCollection.do"
              role="administrator,configurator">
              <!--  371964 removed compatability match -->
      </action>
    </actionSet>
  </extension>
  
  <!-- 371964 begin -->
  <extension point="com.ibm.websphere.wsc.actionSet">
    <actionSet id="channelfw.Chain.action1" 
               contextType="ORBChain">
               
      <action enablesFor="Collection"
              label="button.new"
              actionURI="chainCollection.do"
              role="administrator,configurator">
              <compatibility>
                <match key="com.ibm.websphere.nodeOperatingSystem"  value="(os400|aix|hpux|linux|solaris|windows)"/>
              </compatibility> 
      </action>
      
      <action enablesFor="Collection"
              label="button.delete"
              actionURI="chainCollection.do"
              role="administrator,configurator">
              <compatibility>
                 <match key="com.ibm.websphere.nodeOperatingSystem"  value="(os400|aix|hpux|linux|solaris|windows)"/>
              </compatibility> 
      </action>
    </actionSet>
  </extension>
  <!-- 371964 end -->
  
  <extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="channelfw.Chain.collectionItem1" 
                    contextType="Chain">
                    
      <item attributeName="name"
            sortable="sort"
            itemURI="chainCollection.do?EditAction=true"
            label="Chain.name.displayName">
      </item>
      
      <item attributeName="enableDisplay"
            sortable="nosort"
            itemURI=""
            label="Chain.enable.displayName">
      </item>
      
      <item attributeName="host"
            sortable="sort"
            itemURI=""
            label="EndPoint.host.displayName">
      </item>
      
      <item attributeName="port"
            sortable="sort"
            itemURI=""
            label="EndPoint.port.displayName">
      </item>
      
      <item attributeName="secureDisplay"
            sortable="nosort"
            itemURI=""
            label="Transport.sslEnabled.displayName">
      </item>
    </collectionItem>
  </extension>
  
  <!-- 371964 begin -->
  <extension point="com.ibm.websphere.wsc.collectionItem">
    <collectionItem id="channelfw.Chain.collectionItem1" 
                    contextType="ORBChain">
                    
      <item attributeName="name"
            sortable="sort"
            itemURI="chainCollection.do?EditAction=true"
            label="Chain.name.displayName">
      </item>
      
      <item attributeName="enableDisplay"
            sortable="nosort"
            itemURI=""
            label="Chain.enable.displayName">
      </item>
      
      <item attributeName="host"
            sortable="sort"
            itemURI=""
            label="EndPoint.host.displayName">
      </item>
      
      <item attributeName="port"
            sortable="sort"
            itemURI=""
            label="EndPoint.port.displayName">
      </item>
      
      <item attributeName="secureDisplay"
            sortable="nosort"
            itemURI=""
            label="Transport.sslEnabled.displayName">
      </item>
    </collectionItem>
  </extension>
  <!-- 371964 end -->
  
  <extension point="com.ibm.ws.console.core.help">
	<toc file="toc.xml" primary="true" />
  </extension>

</plugin>

