<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin context-root="uddiV3Management" embedded="true"
    id="com.ibm.uddi.v3.management" name="uddiV3Management"
    vendor-name="IBM Corp." version="5.0.0">
    <extension point="org.eclipse.help.toc">
        <toc file="toc.xml" primary="true"/>
    </extension>
</plugin>
