<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<plugin id="com.ibm.ws.console.dwlm" name="dwlm" version="6.0.0" provider-name="IBM Corp. - WebSphere XD" embedded="true" context-root="dwlm">
  	<requires>
    	<import plugin="com.ibm.ws.console.core" />
    	<import plugin="com.ibm.ws.console.distmanagement" />
    	<import plugin="com.ibm.ws.console.dynamiccluster" />
  	</requires>

	<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="dwlm.distmanagement" contextType="ServerCluster">
    	<link weight="25"
              categoryId="additional.properties"
              label="DWLM.displayName"
              description="DWLM.link.description"
              actionURI="com.ibm.ws.console.dwlm.forwardCmd.do?forwardName=DWLM.config.view&amp;sfname=advisors&amp;resourceUri=dynamicweightcontroller.xml&amp;lastPage=ServerCluster.config.view">
        </link>
	</linkSet>
	</extension>

	<extension point="com.ibm.websphere.wsc.link">
    <linkSet id="dwlm.distmanagement" contextType="DynamicCluster">
    	<link weight="25"
              categoryId="additional.properties"
              label="DWLM.displayName"
              description="DWLM.link.description"
              actionURI="com.ibm.ws.console.dwlm.forwardCmd.do?forwardName=DWLM.config.view&amp;sfname=advisors&amp;resourceUri=dynamicweightcontroller.xml&amp;lastPage=dynamiccluster.detail.main">
        	  <compatibility>
        	  	  <match key="com.ibm.ws.console.dynamiccluster.form.DynamicClusterDetailForm.isODR" value="false"/>
        	  </compatibility>
        </link>
	</linkSet>
	</extension>

	<extension point="com.ibm.websphere.wsc.detailTab">
    <detailTab id="dwlm.detailTab" contextType="DWLM">
        <tab
              label="tab.runtime"
              contentURI="DWLM.runtime.tab.view">
        </tab>
         <tab
              label="tab.configuration"
              contentURI="DWLM.config.tab.view">
        </tab>
    </detailTab>
	</extension>

   <extension point="com.ibm.ws.console.core.help">
     <toc file="toc.xml" primary="true" />
   </extension>
</plugin>

