
.tundra .cobrowseWidget {
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	background-color:#ffffff;
}
.tundra .cobrowseWidgetText {
	font-size:0.8em;
}
.tundra .cobrowseWidgetTextBox {
	width:35.0em;
	font-size:0.8em;
	cursor:text !important;
	
	background-color: #FFFFFF;
	background-image: url("../../dijit/themes/tundra/images/validationInputBg.png");
}
.tundra .cobrowseWidgetTextBox .dijitInputInner {
	-moz-user-input:enabled !important;
}
.tundra .cobrowseWidgetButton {
	font-size:0.8em;
	font-weight: bold;
	vertical-align: middle;
}
.tundra .cobrowseWidgetStatus {
	background: #FFFFE0;
	font-size:0.8em;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
}
.tundra .cobrowseWidgetIcon {
	background-image: url('../../images/collaborationEnabled.gif'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}
.tundra .dijitDisabled .cobrowseWidgetIcon {
	background-image: url('../../images/collaborationDisabled.gif'); 
}
.tundra .cobrowseWidgetCobrowseWebIcon { background-position: -160px; }
.tundra .cobrowseWidgetCopyIcon { background-position: -380px; }
.tundra .cobrowseWidgetEndSessionIcon { background-position: -460px; }
.tundra .cobrowseWidgetShowWindowIcon { background-position: -480px; }
.tundra .cobrowseWidgetWindowIsOpenIcon { background-position: -500px; }
.tundra .cobrowseWidgetConnectedIcon { background-position: -520px; }
.tundra .cobrowseWidgetWaitingForConnectIcon { background-position: -540px; }
