<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<!--
     5724-J34 (C) COPYRIGHT International Business Machines Corp. 2006, 2007
     The source code for this program is not published or otherwise divested
     of its trade secrets, irrespective of what has been deposited with the
     U.S. Copyright Office.
-->

<plugin id="com.ibm.ws.console.middlewareapps"
        name="middlewareapps"
        version="6.1.0"
        provider-name="IBM Corp. - WebSphere XD"
        embedded="true"
        context-root="middlewareapps">

    <requires>
        <import plugin="com.ibm.ws.console.core"/>
    </requires>

	<!-- Nav Tree Link -->
	<extension point="com.ibm.ws.console.core.navigatorTask">
	    <tasks>
            <task id="MiddlewareApps"
                  label="nav.all.apps.label"
                  icon="images/onepix.gif"
                  view="/navigatorCmd.do?forwardName=MiddlewareApps.content.main"
                  external="false"
                  weight="1">
                <category id="appmanagementcategory"/>
            </task>
            <task id="MiddlewareAppsWizard"
                  label="nav.middlewareappswizard.label"
                  icon="images/onepix.gif"
                  view="/middlewareappswizardNavigatorCmd.do?forwardName=middlewareapps.wizard"
                  external="false"
                  role="administrator,configurator,deployer"
                  weight="11">
                <category id="appmanagementcategory"/>
            </task>
<!--        <task id="MiddlewareAppsWASCEWizard"
            	  label="nav.middlewareappswascewizard.label"
            	  icon="images/onepix.gif"
            	  view="/middlewareappsWASCEwizardNavigatorCmd.do?forwardName=middlewareapps.wasce.wizard"
            	  external="false"
            	  role="administrator,configurator"
            	  weight="11">
            	<category id="appmanagementcategory"/>
            </task>
-->
            <!-- link="/com.ibm.ws.console.middlewareapps.forwardCmd.do?forwardName=middlewareapps.wizard.steps.select" -->
        </tasks>
    </extension>

    <!-- For Help -->
    <extension point="com.ibm.ws.console.core.help">
        <toc file="toc.xml" primary="true"/>
    </extension>

	<!-- Collection View Buttons -->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="middlewareapps.collection.buttons" contextType="MiddlewareApps.content.main">
            <!-- action
            	enablesFor="Collection"
              	role="administrator,configurator,operator"
              	label="middlewareapps.button.start"
              	actionURI="MiddlewareAppsCollection.do?StartAction=true" -->
            <!-- /action -->
            <!-- action
            	enablesFor="Collection"
              	role="administrator,configurator,operator"
              	label="middlewareapps.button.stop"
              	actionURI="MiddlewareAppsCollection.do?StopAction=true" -->
            <!-- /action -->
            <action
            	enablesFor="Collection"
              	role="administrator,configurator,deployer"
              	label="middlewareapps.button.add"
              	actionURI="MiddlewareAppsCollection.do?AddAction=true">
            </action>
            <!-- action
            	enablesFor="Collection"
              	role="administrator,configurator"
              	label="middlewareapps.button.install"
              	actionURI="MiddlewareAppsCollection.do?InstallAction=true" -->
            <!-- /action -->
            <!-- action
            	enablesFor="Collection"
              	role="administrator,configurator"
              	label="middlewareapps.button.uninstall"
              	actionURI="MiddlewareAppsCollection.do?UninstallAction=true" -->
            <!-- /action -->
            <action
            	enablesFor="Collection"
              	role="administrator,configurator,deployer"
              	label="middlewareapps.button.remove"
              	actionURI="MiddlewareAppsCollection.do?RemoveAction=true">
            </action>
            <!-- action
            	enablesFor="Collection"
              	role="administrator,configurator"
              	label="middlewareapps.button.export"
              	actionURI="MiddlewareAppsCollection.do?ExportAction=true" -->
            <!-- /action -->
            <action
            	enablesFor="Collection"
              	role="administrator,configurator,operator"
              	label="middlewareapps.button.submit"
              	actionURI="MiddlewareAppsCollection.do?SubmitAction=true">
            </action>
        </actionSet>
    </extension>

    <!-- Collection View Columns -->
    <extension point="com.ibm.websphere.wsc.collectionItem">
        <collectionItem id="middlewareapps.collection.columns" contextType="MiddlewareApps.content.main">
            <item attributeName="name"
                  sortable="sort"
                  itemURI="MiddlewareAppsCollection.do?ViewAction=true&#38;"
                  label="middlewareapps.app.name">
            </item>
            <!-- item attributeName="edition" -->
            <item attributeName="editionAlias"
                  sortable="sort"
                  itemURI=""
                  label="middlewareapps.app.edition">
            </item>
            <item attributeName="editionState"
                  sortable="sort"
                  itemURI=""
                  label="middlewareapps.app.editionState">
            </item>
            <item attributeName="type"
                  sortable="sort"
                  itemURI=""
                  label="middlewareapps.app.type">
            </item>
            <item attributeName="status"
                  sortable="nosort"
                  itemURI=""
                  label="middlewareapps.app.status">
            </item>
            <item attributeName="action"
                  sortable="nosort"
                  itemURI=""
                  label="middlewareapps.app.action">
            </item>
        </collectionItem>
    </extension>

	<!-- Detail View Configuration Tab -->
    <extension point="com.ibm.websphere.wsc.detailTab">
        <detailTab id="middlewareapps.tabs.detailTab" contextType="MiddlewareApps">
            <tab label="tab.configuration" contentURI="middlewareapps.detail.config.tab.view" />
        </detailTab>
    </extension>

	<!-- Detail View Additional Properties -->
    <extension point="com.ibm.websphere.wsc.link">
        <!-- <linkSet id="middlewareapps.link.additional.properties" contextType="middlewareapps.detail.view"> -->
        <linkSet id="middlewareapps.link.additional.properties" contextType="MiddlewareApps">
            <link
                categoryId="additional.properties"
        		label="middlewareapps.detail.scripts"
                description="middlewareapps.detail.scripts.description"
                actionURI="MiddlewareAppsDetail.do?forwardName=MiddlewareApp.scripts.view">
                <!-- actionURI="MiddlewareAppsDetail.do?forwardName=MiddlewareApp.scripts.view&#38;sfname=name" -->
                <compatibility>
                    <match key="com.ibm.websphere.console.middlewareapps.MiddlewareAppsDetailForm.isScriptsSupported" value="true"/>
                </compatibility>
            </link>
        </linkSet>
    </extension>

	<!-- Detail View Buttons -->
    <extension point="com.ibm.websphere.wsc.actionSet">
        <actionSet id="middlewareapps.detail.buttons" contextType="MiddlewareApps">
            <action
                enablesFor="Detail"
                perspective="Config"
                role="administrator,configurator,deployer"
                label="button.apply"
                actionURI="MiddlewareAppsDetail.do?ApplyAction=true">
            </action>
            <action
                enablesFor="Detail"
                perspective="Config"
                role="administrator,configurator,deployer"
                label="button.ok"
                actionURI="MiddlewareAppsDetail.do?OKAction=true">
            </action>
            <action
                enablesFor="Detail"
                perspective="Config"
                role="administrator,configurator,deployer"
                label="button.reset"
                actionURI="MiddlewareAppsDetail.do?ResetAction=true">
            </action>
            <action
                enablesFor="Detail"
                perspective="Config"
                role="administrator,configurator,deployer"
                label="button.cancel"
                actionURI="MiddlewareAppsDetail.do?CancelAction=true">
            </action>
        </actionSet>
    </extension>

</plugin>
