<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">


<!--THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-I63, 5724-H88, 5655-N01, 5733-W61(C) COPYRIGHT International Business Machines Corp., 1997, 2004, 2006
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.--> 

<plugin id="com.ibm.ws.console.resources.j2cresources"
        name="j2cresources"
        version="1.0.0"
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="j2cresources">

    <requires>
        <import plugin="com.ibm.ws.console.core"/>
        <import plugin="com.ibm.ws.console.resources"/>
    </requires>


<!-- Begin WAS.webui.common.resources -->
    <extension point="com.ibm.ws.console.core.navigatorTask">
        <tasks>
             <categoryDefinition id="j2cresourceadapters" parent="resources" icon="/com.ibm.ws.console.resources/images/onepix.gif" label="nav.view.j2c.resource.adapter" weight="130"/>
            <task id="j2cresourceadapter" icon="/com.ibm.ws.console.resources/images/onepix.gif" label="J2CResourceAdapter.displayName" view="/navigatorCmd.do?forwardName=J2CResourceAdapter.content.main" external="false" weight="10">
                <category id="j2cresourceadapters"/>
            </task>
            <task id="j2cconnection" icon="/com.ibm.ws.console.resources/images/onepix.gif" label="J2EEResourceProvider.factories.J2CConnectionFactory.displayName" view="/navigatorCmd.do?forwardName=J2CConnectionFactory.content.main" external="false" weight="20">
                <category id="j2cresourceadapters"/>
            </task>
            <task id="j2cconnection" icon="/com.ibm.ws.console.resources/images/onepix.gif" label="J2CActivationSpec.activationSpec.displayName" view="/navigatorCmd.do?forwardName=J2CActivationSpec.content.main" external="false" weight="30">
                <category id="j2cresourceadapters"/>
            </task>
            <task id="j2cadminobject" icon="/com.ibm.ws.console.resources/images/onepix.gif" label="J2CAdminObject.adminObject.displayName" view="/navigatorCmd.do?forwardName=J2CAdminObject.content.main" external="false" weight="40">
                <category id="j2cresourceadapters"/>
            </task>
        </tasks>
    </extension>

</plugin>
