/* HELP PAGES - UPDATED TEY 5/1/2002 */

body { 
        font-size: 75%; font-family: Arial,Helvetica, sans-serif;  
        background-image:url("corner-backgrnd.gif");
        background-repeat:no-repeat;
        scrollbar-face-color:#CCCCCC; 
        scrollbar-shadow-color:#FFFFFF; 
        scrollbar-highlight-color:#FFFFFF; 
        scrollbar-3dlight-color:#6B7A92; 
        scrollbar-darkshadow-color:#6B7A92; 
        scrollbar-track-color:#E2E2E2; 
        scrollbar-arrow-color:#FFFFFF;        
}

TH { font-size: 75% }

TD { font-size: 75%; border: 0px; padding: 3px 3px 3px 3px }
TABLE { border: 0px  }
LI { margin-bottom: .5em } 
I { font-weight: bold }


