<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin id="org.apache.tuscany.soa.oasis.core.model" name="Tuscany SCA OASIS Core and Model"
   provider-name="IBM" version="2.0.0">

   <extension point="com.ibm.wsspi.extension.message-bundle">
      <bundle regexp=".*"/>
   </extension>

</plugin>