
.tundra .cobrowsePage {
	margin:0 auto;
}
.tundra .cobrowseHeading {
	font-size:14px;
}
.tundra .cobrowsePageContent {
	 text-align: center;
	 padding-top:45px
}
.tundra .openCollabButtonList {
	margin-top: 45px;
}
.tundra .openCollabButtonListItem {
	
}
.iphone li.mblListItem a.mblListItemAnchor {
	text-align: left;
	padding-left: 10px !important;
	font-size: 14px;
}
.tundra .collaborationPage {
	
}
.tundra .collaborationHeading {
	font-size:14px;
}
.tundra .cobrowseWidget {
	
}
.tundra .createCollabInviteString {
	
}
.tundra .cobrowseWidgetButton {
	width: 250px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
}
.tundra .invitationLinkString {
	
}
.tundra .cobrowseWidgetTextBox {
	width: 300px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.tundra .cobrowseWidgetStatus {
}
.tundra .cobrowseWidgetIcon {
	background-image: url('../../images/collaborationEnabled.gif'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}
.tundra .dijitDisabled .cobrowseWidgetIcon {
	background-image: url('../../images/collaborationDisabled.gif'); 
}
.tundra .cobrowseWidgetCobrowseWebIcon { background-position: -160px; }
.tundra .cobrowseWidgetCopyIcon { background-position: -380px; }
.tundra .cobrowseWidgetEndSessionIcon { background-position: -460px; }
.tundra .cobrowseWidgetShowWindowIcon { background-position: -480px; }
.tundra .cobrowseWidgetWindowIsOpenIcon { background-position: -500px; }
.tundra .cobrowseWidgetConnectedIcon { background-position: -520px; }
.tundra .cobrowseWidgetWaitingForConnectIcon { background-position: -540px; }
