<?xml version="1.0" encoding="UTF-8"?>
<process:Server xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:customprocessexec="http://www.ibm.com/websphere/appserver/schemas/6.1/customprocessexec.xmi" xmlns:externalfileservices="http://www.ibm.com/websphere/appserver/schemas/6.1/externalfileservices.xmi" xmlns:foreignservers="http://www.ibm.com/websphere/appserver/schemas/6.1/foreignservers.xmi" xmlns:process="http://www.ibm.com/websphere/appserver/schemas/5.0/process.xmi" xmi:id="Server_1160444816078" name="wasce">
  <components xmi:type="foreignservers:ForeignServer" xmi:id="ForeignServer_1160444816078">
    <configuration xmi:id="DescriptivePropertyGroup_1160444816078">
      <propertyGroups xmi:id="DescriptivePropertyGroup_1160444816079" name="endpoint">
        <propertyGroups xmi:id="DescriptivePropertyGroup_1160444816080" name="transport.http">
          <properties xmi:id="DiscoverableDescriptiveProperty_1160444816078" name="port" value="8080" required="true" type="int" range="" inclusive="false">
            <descriptor xmi:id="DisplayDescriptor_1160444816078" displayNameKey="transport.port.name" displayDescriptionKey="transport.port.desc" firstClass="true" hoverHelpKey="transport.port.help"/>
          </properties>
          <properties xmi:id="DiscoverableDescriptiveProperty_1160444816079" name="protocol" value="http" required="true" type="String" range="http,https" inclusive="true">
            <descriptor xmi:id="DisplayDescriptor_1160444816079" displayNameKey="" displayDescriptionKey="" firstClass="true" hidden="true" hoverHelpKey=""/>
          </properties>
          <properties xmi:id="DiscoverableDescriptiveProperty_1160444816080" name="ssl" value="false" required="true" type="boolean" range="">
            <descriptor xmi:id="DisplayDescriptor_1160444816080" displayNameKey="" displayDescriptionKey="" firstClass="true" hidden="true" hoverHelpKey=""/>
          </properties>
          <properties xmi:id="DiscoverableDescriptiveProperty_1160444816081" name="enabled" value="true" required="true" type="boolean" range="">
            <descriptor xmi:id="DisplayDescriptor_1160444816081" displayNameKey="transport.enabled" displayDescriptionKey="transport.enabled.desc" firstClass="true" hoverHelpKey=""/>
          </properties>
          <descriptor xmi:id="DisplayDescriptor_1160444816082" displayNameKey="tomcat.http.connector" displayDescriptionKey="tomcat.http.connector.desc" firstClass="true"/>
        </propertyGroups>
        <propertyGroups xmi:id="DescriptivePropertyGroup_1160444816081" name="transport.https">
          <properties xmi:id="DiscoverableDescriptiveProperty_1160444816082" name="port" value="8443" required="true" type="int" range="" inclusive="false">
            <descriptor xmi:id="DisplayDescriptor_1160444816083" displayNameKey="transport.port.name" displayDescriptionKey="transport.port.desc" firstClass="true" hoverHelpKey="transport.port.help"/>
          </properties>
          <properties xmi:id="DiscoverableDescriptiveProperty_1160444816083" name="protocol" value="https" required="true" type="String" range="http,https" inclusive="true">
            <descriptor xmi:id="DisplayDescriptor_1160444816084" displayNameKey="" displayDescriptionKey="" firstClass="true" hidden="true" hoverHelpKey=""/>
          </properties>
          <properties xmi:id="DiscoverableDescriptiveProperty_1160444816084" name="ssl" value="true" required="true" type="boolean" range="">
            <descriptor xmi:id="DisplayDescriptor_1160444816085" displayNameKey="tomcat.secure.name" displayDescriptionKey="tomcat.secure.desc" firstClass="true" hoverHelpKey="tomcat.secure.help"/>
          </properties>
          <properties xmi:id="DiscoverableDescriptiveProperty_1160444816085" name="enabled" value="false" required="true" type="boolean" range="">
            <descriptor xmi:id="DisplayDescriptor_1160444816086" displayNameKey="transport.enabled" displayDescriptionKey="transport.enabled.desc" firstClass="true" hoverHelpKey=""/>
          </properties>
          <descriptor xmi:id="DisplayDescriptor_1160444816087" displayNameKey="tomcat.https.connector" displayDescriptionKey="tomcat.https.connector.desc" firstClass="true"/>
        </propertyGroups>
    	    <descriptor xmi:id="DisplayDescriptor_1160444816088" displayNameKey="tomcat.connectors.name" displayDescriptionKey="tomcat.connectors.desc" firstClass="true"/>
	    <propertyGroups xmi:id="DescriptivePropertyGroup_1160444816082" name="custom" expandable="true">
		<properties xmi:id="DiscoverableDescriptiveProperty_1160444817001" name="isCreatable" value="false" required="true" type="boolean" range="">
      		<descriptor xmi:id="DisplayDescriptor_1160444817002" firstClass="true" hidden="true" readonly="true"/>
		</properties>
		<properties xmi:id="DiscoverableDescriptiveProperty_1160444817003" name="isManageable" value="true" required="true" type="boolean" range="">
      		<descriptor xmi:id="DisplayDescriptor_1160444817004" firstClass="true" hidden="true" readonly="true"/>
      	</properties>
     		<properties xmi:id="DiscoverableDescriptiveProperty_1160444817007" name="Version" value="2.0" required="true" type="String" range="" inclusive="false">
      		<descriptor xmi:id="DisplayDescriptor_1160444817008" displayNameKey="wasce.version.displayName" displayDescriptionKey="wasce.version.desc" firstClass="true" hoverHelpKey="wasce.version.help"/>
		</properties>          
      	<properties xmi:id="DiscoverableDescriptiveProperty_1160444817009" name="isDefaultServer" value="false" required="true" type="boolean" range="">
      		<descriptor xmi:id="DisplayDescriptor_11604448170010" firstClass="true" hidden="true" readonly="false"/>
      	</properties>
		<properties xmi:id="DiscoverableDescriptiveProperty_1160444817011" name="isDiscovered" value="false" required="true" type="boolean" range="">
      		<descriptor xmi:id="DisplayDescriptor_11604448170012" firstClass="false" hidden="true" readonly="false"/>
      	</properties>
            <properties xmi:id="DiscoverableDescriptiveProperty_1160444817013" name="AppRepository" value="${GERONIMO_HOME}/repository" required="false" type="String" range="" inclusive="false">
    		       <descriptor xmi:id="DisplayDescriptor_1160444817014"  hidden="true"  firstClass="true" readonly="false"/>
		</properties>  
 		<properties xmi:id="DiscoverableDescriptiveProperty_1160444817015" name="ServerConfigFolder" value="${GERONIMO_HOME}" required="false" type="String" range="" inclusive="false">
    			<descriptor xmi:id="DisplayDescriptor_1160444817016"  hidden="true" firstClass="true" readonly="false"/>
		</properties> 
		<properties xmi:id="DiscoverableDescriptiveProperty_1160444817013" name="UseJMXSecureConnector" value="false" required="false" type="boolean" range="">
			<descriptor xmi:id="DisplayDescriptor_11604448170014" firstClass="true" hidden="true" readonly="true"/>
		</properties>
		<descriptor xmi:id="DisplayDescriptor_1160444816088" displayNameKey="serverlifecycle" displayDescriptionKey="serverlifecycle" firstClass="true"/>
	  </propertyGroups>
	</propertyGroups>
    </configuration>
  </components>
  <components xmi:type="externalfileservices:ExternalFileService" xmi:id="ExternalFileService_1160444816078" name="ExternalLogService">
    <externalFiles xmi:id="ExternalFile_1160444816079" filePath="${GERONIMO_HOME}/${LOCAL_SERVER_NAME}/var/catalina/logs" readOnly="true"/>
    <externalFiles xmi:id="ExternalFile_1160444816080" filePath="${GERONIMO_HOME}/${LOCAL_SERVER_NAME}/var/log" readOnly="true"/>
    <externalFiles xmi:id="ExternalFile_1160444816079" filePath="${GERONIMO_HOME}/var/catalina/logs" readOnly="true"/>
    <externalFiles xmi:id="ExternalFile_1160444816080" filePath="${GERONIMO_HOME}/var/log" readOnly="true"/>
    <externalFiles xmi:id="ExternalFile_1160444816081" filePath="${USER_INSTALL_ROOT}/logs/${WAS_SERVER_NAME}" readOnly="true"/>
  </components>
  <components xmi:type="externalfileservices:ExternalFileService" xmi:id="ExternalFileService_1160444816079" name="ExternalConfigFileService">
    <externalFiles xmi:id="ExternalFile_1160444816082" filePath="${GERONIMO_HOME}/${LOCAL_SERVER_NAME}/var/config/config.xml"/>
    <externalFiles xmi:id="ExternalFile_1160444816083" filePath="${GERONIMO_HOME}/var/config/config.xml"/>
  </components>
  <processDefinitions xmi:type="customprocessexec:NamedProcessDef" xmi:id="NamedProcessDef_1172871419582" executableName="${GERONIMO_HOME}\bin\geronimo.bat" workingDirectory="${GERONIMO_HOME}" name="start" osnames="windows">
    <executableArguments>run</executableArguments>
    <execution xmi:id="ProcessExecution_1172957186363"/>
  </processDefinitions>
  <processDefinitions xmi:type="customprocessexec:NamedProcessDef" xmi:id="NamedProcessDef_1172871419583" executableName="${GERONIMO_HOME}\bin\shutdown.bat" workingDirectory="${GERONIMO_HOME}" name="stop" osnames="windows" usernameVar="WASCE_ADMINNAME" usernameVal="system" passwordVar="WASCE_ADMINPSWD" passwordVal="{xor}Mj4xPjg6LQ==">
    <executableArguments>--force</executableArguments>
    <executableArguments>--user</executableArguments>
    <executableArguments>${WASCE_ADMINNAME}</executableArguments>
    <executableArguments>--password</executableArguments>
    <executableArguments>${WASCE_ADMINPSWD}</executableArguments>
    <executableArguments>--port</executableArguments>
    <executableArguments>${NamingPort}</executableArguments>
    <execution xmi:id="ProcessExecution_1172957186598"/>
  </processDefinitions>
  <processDefinitions xmi:type="customprocessexec:NamedProcessDef" xmi:id="NamedProcessDef_1172871419584" executableName="${GERONIMO_HOME}/bin/startup.sh" workingDirectory="${GERONIMO_HOME}" name="start" osnames="unix" pidVarName="GERONIMO_PID">
    <execution xmi:id="ProcessExecution_1172957186379"/>
  </processDefinitions>
  <processDefinitions xmi:type="customprocessexec:NamedProcessDef" xmi:id="NamedProcessDef_1172871419585" executableName="${GERONIMO_HOME}/bin/shutdown.sh" workingDirectory="${GERONIMO_HOME}" name="stop" osnames="unix" pidVarName="GERONIMO_PID" usernameVar="WASCE_ADMINNAME" usernameVal="system" passwordVar="WASCE_ADMINPSWD" passwordVal="{xor}Mj4xPjg6LQ==">
    <executableArguments>--force</executableArguments>
    <executableArguments>--user</executableArguments>
    <executableArguments>${WASCE_ADMINNAME}</executableArguments>
    <executableArguments>--password</executableArguments>
    <executableArguments>${WASCE_ADMINPSWD}</executableArguments>
    <executableArguments>--port</executableArguments>
    <executableArguments>${NamingPort}</executableArguments>
    <execution xmi:id="ProcessExecution_1172957186613"/>
  </processDefinitions>
</process:Server>
