<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

 
<plugin id="com.ibm.ws.console.gridclassrules"
           name="gridclassrules"
           version="6.0.0"
           vendor-name="IBM Corp. - WebSphere Server Group"
           embedded="true"
           context-root="gridclassrules">


    <requires>
        <import plugin="com.ibm.ws.console.core" />
        <!--import plugin="com.ibm.ws.console.xdcore" /-->
    </requires>
	
	<!-- <extension point="com.ibm.ws.console.core.navigatorTask">
      <tasks>
      
        	<categoryDefinition id="bgridcategory" parent="root"   
         					icon="images/onepix.gif" label="gridclassrules.bgridcategory"
         					external="false"/>
			
			
        <task id="showgridclassrules" 
                icon="images/onepix.gif" 
                label="gridClassRules" 
                weight="20"
                view="/navigatorCmd.do?forwardName=defaultgirdclassruleset.content.main" 
                external="false">
            <category id="bgridcategory"/>
        </task>
        
        
        
       </tasks>
	</extension> -->

   

    <extension point="com.ibm.ws.console.core.help">
        <toc file="toc.xml" primary="true"/>
    </extension>

    

</plugin>

