<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<!-- THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-I63, 5724-H88, 5655-N01, 5733-W61, 5724-J08 (C) COPYRIGHT International Business Machines Corp. 2008
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.  -->

<plugin id="com.ibm.ws.console.webservices.nd.wsadmin"
        name="wsadmin_nd"
        version="1.0.0"
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="wsadmin_nd">

<requires>
    <import plugin="com.ibm.ws.console.core"/>
    <import plugin="com.ibm.ws.console.webservices.wsadmin"/>
    <import plugin="com.ibm.ws.console.wsecurity"/>
</requires>

<extension point="com.ibm.ws.console.core.navigatorTask">

    <tasks>

      <task id="WSSecurity" icon="images/onepix.gif" label="nav.wssecurity" view="/navigatorCmd.do?forwardName=WSSecurity.config.view" external="false" weight="40">
        <category id="wsadminCategoryId"/>
      </task>

    </tasks>
</extension>

</plugin>
