<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "plugin.dtd">

<!--THIS PRODUCT CONTAINS RESTRICTED MATERIALS OF IBM
5724-i63, 5724-H88(C) COPYRIGHT International Business Machines Corp., 1997, 2004
All Rights Reserved * Licensed Materials - Property of IBM
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.-->

<plugin id="com.ibm.ws.console.namingenvironment"
        name="namingenvironment"
        version="1.0.0"
        vendor-name="IBM Corp. - WebSphere Server Group"
        embedded="true"
        context-root="namingenvironment">

<requires>
    <import plugin="com.ibm.ws.console.core"/>
    <import plugin="com.ibm.ws.console.environment"/>
</requires>

<extension point="com.ibm.ws.console.core.navigatorTask">
    <tasks>
        <categoryDefinition id="naming" parent="environment" icon="" label="nav.Naming.displayName" weight="60"/>
            <task id="managenamingusers" icon="" label="nav.naming.user.management" view="/navigatorCmd.do?forwardName=console.naming.users.main" external="false" weight="20" role="administrator">
                <category id="naming"/>
            </task>
            <task id="managenaminggroups" icon="" label="nav.naming.group.management" view="/navigatorCmd.do?forwardName=console.naming.groups.main" external="false" weight="30" role="administrator">
                <category id="naming"/>
            </task> 
    </tasks>
</extension>

</plugin>

