<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ibm.datatools.dbdefinition.db2.luw"
   name="%pluginName"
   version="2.1.201.v20121008_1514"
   provider-name="%providerName">
   <requires>
      <import plugin="org.eclipse.datatools.connectivity.sqm.core"/>
   </requires>

   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            product="DB2 UDB"
            productDisplayString="%V95ProductString"
            description="%V95Description"
            versionDisplayString="%V95VersionString"
            version="V9.5"
            file="runtime/vendors/DB2 UDB_9.5/DB2 UDB_9.5.xmi">
      </definition>
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            description="%V97Description"
            file="runtime/vendors/DB2 UDB_9.7/DB2 UDB_9.7.xmi"
            product="DB2 UDB"
            productDisplayString="%V97ProductString"
            version="V9.7"
            versionDisplayString="%V97VersionString">
      </definition>
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            description="%V98Description"
            file="runtime/vendors/DB2 UDB_9.8/DB2 UDB_9.8.xmi"
            product="DB2 UDB"
            productDisplayString="%V98ProductString"
            version="V9.8"
            versionDisplayString="%V98VersionString">
      </definition>
   </extension>
   
     <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            description="%V101Description"
            file="runtime/vendors/DB2 UDB_10.1/DB2 UDB_10.1.xmi"
            product="DB2 UDB"
            productDisplayString="%V101ProductString"
            version="V10.1"
            versionDisplayString="%V101VersionString">
      </definition>
   </extension>
   
   
   <!--extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="DB2 UDB_V9.5.xmi"
            target="runtime/vendors/DB2 UDB_9.5/DB2 UDB_9.5.xmi">
      </mapping>
   </extension-->

</plugin>
